<!-- Не загруженные данные -->
<div *ngIf="previews.length > 0" #mainPhoto style="background-image: url({{previews[0].link}});" class="main-photo">
  <app-back-button></app-back-button>
</div>
<div *ngIf="previews.length == 0" #mainPhoto style="background-image: url('/assets/images/nophoto.jpg');" class="main-photo">
  <app-back-button></app-back-button>
</div>
<div class="slider-container">
  <div (click)="file.click()" class="slider-container-add-button" >
    <img src="/assets/icons/addPhoto.svg" alt="">
    <span class="slider-container-add-button_text">Добавить фото</span>
  </div>
 
  <div (click)="setMainPhoto($event)" *ngFor="let img of previews; let i = index" style="background-image: url({{img.link}});" class="slider-container-item">
    <div class="delete-button-wrapper"><app-circle-button (click)="deletePreview(img,i)" icon="/assets/icons/trash.svg"></app-circle-button></div>
  </div>

</div>
<input (input)="fileChanged($event)" multiple="multiple" style="opacity: 0;" #file type="file">