<div *ngIf="!size" class="header-plug">
  <div class="header-tools">
    <ng-content>

    </ng-content>
  </div>
</div>

<ng-container *ngIf="size === 'clear'">
  <div *ngIf="size === 'clear'" class="header-plug">
    <ng-content  select="[header-clear]">

    </ng-content>
</div>
</ng-container>

<div *ngIf="size === 'xxl' || size ==='xxl_n'" class="header-plug_xxl" style="background-image: url({{img}});">
  <div class="header-tools_xxl">
    <div  class="header-tools-top-container">
      <ng-content select="[header-top]">
      </ng-content>
    </div>
    <ng-content select="[header-bottom]">
    </ng-content>
  </div>
</div>

