<ng-container>
  <label class="label">Организатор</label>
  <div class="input-container">
    <input (click)="openOrganiztionsModal()" readonly placeholder="Выберите сообщество" value="{{selectedName}}" class="standart-input" name="new_name">
    <img class="input-container__arrow-img" src="assets/icons/arrow.svg" alt="">
  </div>
</ng-container>

<ion-modal (didDismiss)="closeModalEmit()"  [isOpen]="modalValue">
  <ng-template> 
    <ion-toolbar class="toolbar"  mode="ios">
      <span class="modal-title">Организатор</span>
    </ion-toolbar>

    <ion-content>
      <div class="main-content">
       
        <app-organizations-grid [extensialClick]="false" *ngIf="cards; else notFoundGrid " (organizationClicked)="emitOrganization($event)" [cards]="cards"></app-organizations-grid>
        <ng-template #notFoundGrid>
          <app-organizations-grid [extensialClick]="false" [notFound]="true" ></app-organizations-grid>
        </ng-template>
    
      </div>
        <ng-container >
          <ion-infinite-scroll *ngIf="cards.length > 0" (ionInfinite)="onIonInfinite($event)">
            <ion-infinite-scroll-content ></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ng-container>       
        <div class="spiner-container">
          <ion-spinner *ngIf="spiner" name="dots"></ion-spinner>
        </div>
    </ion-content>
  </ng-template>

</ion-modal>