<ion-content>
    <app-edit-slider *ngIf="this.event && this.event.files" (filesEmit)="logFiles($event)" [files]="this.event.files"></app-edit-slider>
    <div class="content-container">
        <form [formGroup]="editForm" action="" class="edit-form">
            <div class="place-container">
                <app-new-place></app-new-place>
            </div>
            <app-standart-button buttonText="Добавить место" type="button" theme ="light"></app-standart-button>
            <app-standart-rich-input [label]="'Описание'" [control] = "editForm.get('description')"></app-standart-rich-input>
            <div class="category-container">
                <span class="category-container-header">Категории</span>
                <div class="category-button-grid">
                    <ng-container *ngIf="event && event.types">
                        <app-rounded-button  *ngFor="let category of event.types" routerLink="/cabinet/events/create" icon="assets/icons/category.svg" buttonText="{{category.name}}"></app-rounded-button>
                    </ng-container>
                </div>

                <div class="button-conatiner">
                    <div class="button-container-item">
                      <app-standart-button buttonText="Добавить" type="button" theme ="standart"></app-standart-button>
                    </div>
                </div>
            </div>

            <div class="prices-container">
                <ng-container *ngIf="event && event.price">
                    <!-- <app-standart-input *ngFor="let price of event.price; let i = index" [label]="'Стоимость '+ (i+1)" [control] = "editForm.get('name')"></app-standart-input> -->
                     <ng-container *ngFor="let price of this.editForm.value.price; let i = index">
                        <app-new-price [form]="editForm" *ngIf="!price.on_delete" (deletePriceEmit)="deletePrice($event)" (addPriceEmit)="setValuePrice($event)"  [price]="price"></app-new-price>
                     </ng-container>
                     
                </ng-container>                
                <div class="button-conatiner">
                    <div class="button-container-item">
                      <app-standart-button (click)="addPrice()" buttonText="Добавить" type="button" theme ="standart"></app-standart-button>
                    </div>
                </div>
            </div>

            <app-standart-input [label]="'Название события'" [control] = "editForm.get('name')"></app-standart-input>
            <app-standart-input [label]="'Организатор'" [control] = "editForm.get('sponsor')"></app-standart-input>
            <div (click)="logFunction()" class="save-button-wrapper">
                <app-standart-button buttonText="Сохранить" type="button" theme ="standart"></app-standart-button>
            </div>

        </form>
    </div>
</ion-content>
