.content-container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.edit-form{
    margin-top: -1rem;
}
.place-container{
    padding-top: 1rem;
    padding-bottom:0.75rem;
}
.place-wrapper{
    margin-top: 1rem;
}
.category-container{
    padding-top: 1rem;
}

.category-button-grid{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
}
ion-modal{
  --height: 20rem;
  --width: 22rem;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.category-modal-header-text{
    color: #4C5861;
    font-family: var(--font-regular);
    font-size: 1.1rem;
    display: flex;
    padding-bottom: 0.5rem;
    
}
.category-modal-grid-item_active{
    background-color: #DCE9FF;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 5rem;
    .category-text{
        pointer-events: none;
        color: #4C5861;
        font-size: 0.75rem;
        font-family: var(--font-regular);
    }
    .category-icon{
        pointer-events: none;
        padding-bottom: 0.5rem;
        width: 50%;
        height: 50%;
        filter: brightness(0) saturate(100%) invert(40%) sepia(96%) saturate(2368%) hue-rotate(206deg) brightness(102%) contrast(103%);
    }

}
.category-modal-grid-item{
    background-color: #d3d3d3;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 5rem;
    .category-text{
        color: #fff;
        pointer-events: none;
        font-size: 0.75rem;
        font-family: var(--font-regular);
    }
    .category-icon{
        padding-bottom: 0.5rem;
        width: 50%;
        height: 50%;
        pointer-events: none;
        filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(0%) hue-rotate(66deg) brightness(105%) contrast(103%);
    }
}
.category-modal-grid{
    padding-top: 0.1rem;
    max-width: 19rem;
    margin: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 6rem);
}

.category-container-header{
    color: #4C5861;
    font-family: var(--font-regular);
    font-size: 0.75rem;
    display: flex;
    padding-bottom: 0.5rem;
}

.button-conatiner{
    padding-top:0.75rem;
    display: flex;
    gap: 3%;
}
.button-container-item{
    min-width:48.5%;  
}

.price-container-header{

    color: #4C5861;
    font-family: var(--font-regular);
    font-size: 0.75rem;
    display: flex;
    padding-bottom: 0.5rem;
    margin-bottom: -1rem;
}
.save-button-wrapper{
    padding-top: 1rem;
    padding-bottom: 10rem;
}
.price-container-item-wrapper{
    padding-top: 0.5rem;
}