<ion-content>
    <app-second-header>
        <div class="header-container">
          <app-back-button></app-back-button>
            <div class="header-container-tittle">
              Сообщество
            </div> 
        </div>
    </app-second-header>
    <div class="pb-2rem"  class="organization-container">
      <ng-container *ngIf="loading">
        <div class="organization-container__organization-section">
          <ion-skeleton-text class="organization-avatar" [animated]="true" />
          <div class="organization-section__info">
            <ion-skeleton-text class="organization-section__info__name_loading" [animated]="true" />
            <ion-skeleton-text class="organization-section__info__rating_loading" [animated]="true" />
            <ion-skeleton-text class="organization-section__info__button_loading" [animated]="true" />
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="organization-container__organization-section">
          <img src="{{avatarUrl}}" *ngIf="sight.files![0] && sight.files![0].link !==''" class="organization-avatar"/>
          <div *ngIf="!sight.files![0] || sight.files![0].link ===''" class="user-section-image"></div>

          <div class="organization-section__info">
            <div class="organization-section__info__name">{{sight.name}}</div>
            <div class="organization-section__info__button">
              <app-standart-button theme="light" buttonText = "Управление подписчиками"></app-standart-button>
            </div>
           
          </div>

        </div>
        <div class="organization-container__slider-wrapper">
          <app-edit-slider [files]="sight.files!" type="l-view"></app-edit-slider>
        </div>
        <div class="organization-container__description">
          {{sight.description}} 
        </div>
        <div class="organization-container__category-container">
          <div class="category-button-grid">
            <ng-container>
                <app-rounded-button style="pointer-events: none;"  *ngFor="let category of sight.types"  icon="assets/icons/category.svg" type="button" buttonText=" {{category.name}}"></app-rounded-button>
                <app-rounded-button *ngIf="sight.types!.length === 0" style="pointer-events: none;"  icon="assets/icons/category.svg" type="button" buttonText="Прочее"></app-rounded-button>
                
            </ng-container>
          </div>
          <app-tabs>
              <app-tabs-item name="Текущие события">
                <app-card-grid [notFound]="notFound" (endScroll)="getOrganizationEvents()" [spiner]="spiner" [cards]="events"></app-card-grid>
                <div *ngIf="notFound" class="not-found-container"> 
              
                </div>
              </app-tabs-item>
              <app-tabs-item name="Прошедшие">
                
                <div class="not-found-container"> 
                  <app-not-found-content *ngIf="notFound"></app-not-found-content>
                </div>
              </app-tabs-item>
          </app-tabs>
        </div>
      </ng-container>
    </div>
</ion-content>