<ion-content>
    <app-second-header>
        <div class="header-container">
          <app-back-button></app-back-button>
            <div class="header-container-tittle">
              Группа
            </div> 
        </div>
    </app-second-header>
    <div class="pb-2rem"  class="organization-container">
      <ng-container *ngIf="loading">
        <div class="organization-container__organization-section">
          <ion-skeleton-text class="organization-avatar" [animated]="true" />
          <div class="organization-section__info">
            <ion-skeleton-text class="organization-section__info__name_loading" [animated]="true" />
            <ion-skeleton-text class="organization-section__info__rating_loading" [animated]="true" />
            <ion-skeleton-text class="organization-section__info__button_loading" [animated]="true" />
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading">
        <div class="organization-container__organization-section">
          <img src="{{avatarUrl}}" *ngIf="organization.files[0]" class="organization-avatar"/>
          <div *ngIf="!organization.files[0]" class="user-section-image"></div>

          <div class="organization-section__info">
            <div class="organization-section__info__name">{{organization.name}}</div>
            <app-standart-button theme="light" buttonText = "Управление подписчиками"></app-standart-button>
          </div>

        </div>
        <div class="organization-container__slider-wrapper">
          <app-edit-slider [files]="organization.files" type="l-view"></app-edit-slider>
        </div>
        <div class="organization-container__description">
          {{organization.description}} 
        </div>
        <div class="organization-container__category-container">
          <div *ngFor="let category of organization.types" class="organization-container__category-container__item">{{category}}></div>
        </div>
      </ng-container>
    </div>
</ion-content>