.test-page-container {
  height: 100%;
  width: 100%;


}

.type-swither-container {
  padding: 40px;
}


.container {
  width: 1000px;
  height: 500px;
}

.switcher_first{
  transition: 0.3s all;
  background: #F99011;
  width: 5.438rem;
  height: 1.75rem;
  border-radius: 100px;
  position: absolute;
  z-index: -1;
}
.switcher_second{
  transition: 0.3s all;
  background: #3880FF;
  width: 4.5rem;
  height: 1.75rem;
  border-radius: 100px;
  position: absolute;
  z-index: -1;
  transform: translate(2rem);
}
.switcher-item_first{
  transition: 0.3s all;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 1.75rem;
  font-size: 0.75rem;
  gap: 5px;
  width:5.438rem;
}
.switcher-item_second{
  z-index: 1;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 1.75rem;
  font-size: 0.75rem;
  gap: 5px;
  width:4.5rem;
}
.fire_non-active{
  filter: brightness(0) saturate(100%) invert(71%) sepia(69%) saturate(3607%) hue-rotate(353deg) brightness(100%) contrast(96%);
}
.flag_active{
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3557%) hue-rotate(53deg) brightness(134%) contrast(100%);
}
.switcher-content{
  display: flex;
}
