<ion-content style="background-color: blue;">
  <!-- <div class="container">
    <ion-button (click)="checkEditFunc()">Проверить</ion-button>
  </div> -->
  <div style="background-color: blue; height: 400px; padding: 100px">
    <app-category-button/>
  </div>
  <ion-button (click)="openModalFnc()">Открыть модалку</ion-button>

  <app-types-modal (deleteCategories)="deleteCaategory($event)" (addCategories)="addCaategory($event)" [categories]="categories" (closeModalEmit)="closeModal()" [openTypesModal]="openModal"></app-types-modal>
</ion-content>

