<div *ngIf="files && files.length > 1" class="swiper-paginate">{{ this.swiperIndex}} - {{files.length}}</div>
  <swiper-container
      class="swiper-container"
      [pagination]="false"
      [grabCursor]="true"
      [slidesPerView]="1"
      [centeredSlides]="true"
      [followFinger]="false"
      [initialSlide]="0"
      (swiperslidechange)="slideChange($event)"

      >
 
      <swiper-slide *ngIf="!files?.length">
          <img *ngIf="!categoryType" src='assets/images/nophoto.jpg' />
          <img *ngIf="categoryType" src='{{this.fileService.checkLinkString(categoryType.image_path)}}' />
          <div class="darkening-background"></div>
      </swiper-slide>

    <ng-container *ngFor ="let file of files">
      <swiper-slide>
        <ng-container>
          <ng-container *ngIf="!files?.length">
            <img *ngIf="!categoryType" src='assets/images/nophoto.jpg' />
            <img *ngIf="categoryType" src='{{this.fileService.checkLinkString(categoryType.image_path)}}' />
          </ng-container>

          <img *ngIf="file.file_types[0].name !== 'video'" [src]="checkUrl(file)" />
          <iframe *ngIf="file.file_types[0].name === 'video'" class="video-content" [src]="iframeUrl(file.link)" allow="" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          <div class="darkening-background"></div>
        </ng-container>
      </swiper-slide>
    </ng-container>

</swiper-container>
