<ion-row class="seances-container">
  <ion-col sizeLg="7"> 
    <div class="map">
      <ion-skeleton-text animated="true" *ngIf="loadMap"></ion-skeleton-text>
      <ya-map 
          (ready)="onMapReady($event)"
          [zoom]="15"  
          [center]="[place.latitude, place.longitude]"
          [state]="{controls: ['zoomControl','fullscreenControl']}"
          [options]="{
            yandexMapDisablePoiInteractivity: true,
            minZoom:1,
            maxZoom:18,
            suppressMapOpenBlock: true,
            suppressObsoleteBrowserNotifier: true
          }">
      </ya-map>
    </div>
  </ion-col>
  
  <ion-col class="ion-justify-content-center" sizeLg="5">
    <ion-list>
      <ion-label>
        <h1 style="text-align: center;">Сеансы</h1>
      </ion-label>

      <ng-container>
        <app-calendula (dateOutput)="changeDateRange($event)" [scroll]="200" [date]="date"></app-calendula>
      </ng-container>
      
      
      <div class="seances-time-container">
        
        <div class="seances">
          <div class="seance-time-container ion-justify-content-center">
            <div class="seance-time-c1">
              <div *ngFor="let seance of place_date" [hidden]="!(getUnixTime(date.dateStart) <= getUnixTime(seance.date_start) && getUnixTime(seance.date_start) <= getUnixTime(date.dateEnd))" style="display: flex;" class="seance-time-c2">
                <ion-col style="max-width:90px">
                <div style="display: flex;">
                  <div class="vertical-text" [ngClass]="{'day-color': (dayWeek(seance.dates_start) === 6) || (dayWeek(seance.date_start) === 0) }">
                    {{ seance.dateStart|date:'EE' }}
                  </div>
                  <div>
                    <p class="seance-time-day" >{{ seance.date_start|date:'d' }}</p>
                  </div>
                </div>
                <div class="seance-time-month">
                  {{ seance.date_start|date:'MMMM' }}
                </div>
                </ion-col>

                <div class="seance-time-hour-container">
                  <div>{{seance.date_start|date:'H:mm'}} - {{seance.date_end|date:'H:mm'}}</div>
                </div>
              </div>

              <div *ngIf="loadSeance">
                <ion-skeleton-text animated="true" class="seance-skelet"></ion-skeleton-text>
                <ion-skeleton-text animated="true" class="seance-skelet"></ion-skeleton-text>
                <ion-skeleton-text animated="true" class="seance-skelet"></ion-skeleton-text>
              </div>
            </div>
          </div>
        </div>
    </div>
    </ion-list>
  </ion-col>
</ion-row>
