<ion-row class="seances-container">
  <ion-col sizeLg="7"> 
            <div class="map">
              <ya-map 
                  (ready)="onMapReady($event)"
                  [zoom]="15"  
                  [center]="[place.latitude, place.longitude]"
                  [state]="{controls: ['zoomControl','fullscreenControl']}"
                  [options]="{
                    yandexMapDisablePoiInteractivity: true,
                    minZoom:1,
                    maxZoom:18,
                    suppressMapOpenBlock: true,
                    suppressObsoleteBrowserNotifier: true
                  }">
              </ya-map>
            </div>
  </ion-col>
  
  <ion-col class=" ion-justify-content-center">
    <div class="seances-time-container">
      <h3 style="text-align: center;">Сеансы</h3><br>

      
      <div class="seances">
        <!-- <ion-row>
      <ion-col sizeLg="6" class="ion-justify-content-center" style="text-align: center;">
        <h4>Начало</h4>
        <p *ngFor="let seance of place.seances" class="seance-time">
          {{ seance.dateStart | date:"dd.MM.yyyy ' ' hh:mm" }}
        </p>
      </ion-col>

      <ion-col sizeLg="6" class="ion-justify-content-center" style="text-align: center;">
        <h4>Конец</h4>
        <p *ngFor="let seance of place.seances" class="seance-time">
          {{ seance.dateEnd | date: "dd.MM.yyyy ' ' H:mm" }}
        </p>
      </ion-col>
    </ion-row> -->

    <div style="display: flex; align-items: center">
      <div>
      <div *ngFor="let seance of place.seances" style="display: flex;">
        <ion-col>
        <div style="display: flex;">
          
          <div class="vertical-text" [ngClass]="{'day-color': (dayWeek(seance.dateStart) === 6) || (dayWeek(seance.dateStart) === 0) }">
            {{ seance.dateStart|date:'EE' }}
          </div>
          <div>
            <p class="seance-time-day" >{{ seance.dateStart|date:'d' }}</p>
          </div>
        </div>
        <div class="seance-time-month">
          {{ seance.dateStart|date:'MMMM' }}
        </div>
      </ion-col>

        <div style="align-items:center; margin-top: auto; margin-bottom:auto">
          <div style="margin-top: auto; margin-bottom:auto">{{seance.dateStart|date:'H:mm'}} - {{seance.dateEnd|date:'H:mm'}}</div>
        </div>
      </div>
    </div>
      
    </div>
      </div>
    </div>
  </ion-col>
</ion-row>
