<ion-grid *ngIf="isAuthenticated; else notAuth">
  <ion-row  class="ion-justify-content-center ion-margin-top">
    <!-- <ion-avatar> -->
      <ion-icon *ngIf="!user && !user?.avatar" name="person-circle" class="avatar"></ion-icon>
      <img *ngIf="user && user?.avatar" alt="avatar" class="avatar" src="{{ user.avatar }}" />
    <!-- </ion-avatar>   -->
  </ion-row>

  <ion-row  class="ion-justify-content-center ion-align-items-center">
    <ion-item lines="none">
      <ion-label class="user-name">{{user.name}}</ion-label>  
    </ion-item>

    <ion-icon src="assets/icons/ring.svg" class="ring"></ion-icon>
  </ion-row>


  <div *ngFor="let item of menuAuth" >
    <div *ngIf="item.children?.length > 0;  else itemMenu">
      <ion-accordion-group expand="inset">
        <ion-accordion  value="first">
          <ion-item slot="header"  [ngClass]="{ 'active': isLChildLinkActive('child.route') }">
            <ion-icon name="{{ item.icon }}" color="primary" slot="start"></ion-icon>            
            <ion-label>{{ item.title }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-menu-toggle>
              <ion-item 
                lines="none"
                *ngFor="let child of item.children" 
                [routerLink]="[ child.route ]"
                [routerLinkActive]="['active']"
              >
                <ion-icon name="{{ child.icon }}"  slot="start" color="medium"></ion-icon>            
                <ion-label>{{ child.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>          
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>

    <ng-template #itemMenu>
      <ion-accordion-group 
        *ngIf="item.route !== '/logout'"
        expand="inset" 
        [routerLink]="[ item.route ]"
        [routerLinkActive]="['active']"
      >
        <ion-accordion value="first" toggleIcon="" toggleIconSlot="end">
          <ion-menu-toggle>
            <ion-item slot="header" [routerLink]="[ item.route ]" [routerLinkActive]="['active']">             
              <ion-icon name="{{ item.icon }}"  slot="start" color="primary"></ion-icon>  
              <ion-label>{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-accordion>
      </ion-accordion-group>      
    </ng-template>               

  </div>
</ion-grid>

<ng-template #notAuth>
  <ion-menu-toggle>
    <ion-button expand="block" [routerLink]="['login']"><ion-icon name="log-in" slot="start"></ion-icon>Вход</ion-button>
  </ion-menu-toggle>
</ng-template>