.main-container {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1000;
}

.main-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: red;
  z-index: -100; /* Установите большое значение z-index */
}


.geo-button {
  border-radius: 50%;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container-button-item {
  transition: 0.3s all;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.first {
  visibility: hidden;
  transition: 0.3s all;
  transform: translateY(0%);
  z-index: -10;
}
.second {
  visibility: hidden;
  transition: 0.3s all;
  transform: translateY(0%);
  z-index: -10;
}
.third {
  visibility: hidden;
  transition: 0.3s all;
  transform: translateY(0%);
  z-index: -10;
}

.first_active {
  z-index: 10;
  transition: 0.3s all;
  transform: translateY(-128%) translateX(-94%);
}
.second_active {
  z-index: 10;
  transition: 0.3s all;
  transform: translateX(-176%);
}
.third_active {
  z-index: 10;
  transition: 0.3s all;
  transform: translateY(132%) translateX(-86%);
}

.button-img {
  width: 2rem;
  height: 2rem;
  filter: invert(45%) sepia(45%) saturate(7477%) hue-rotate(194deg)
    brightness(102%) contrast(108%);
}

