<form [formGroup]="searchForm" enctype="multipart/form-data">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="">Текущие координаты</label>
          <input type="text" id="coords" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{coords}}" placeholder="" required>
      </div>
      <div>
        <label for="">Поиск по адресу</label>
        <input type="text" name="search" id="search-map" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        value="{{this.searchForm.value.search}}" 
        placeholder="" 
        required
        formControlName="search"
        >
        <button (click)="addPlacemark()"> Поставить метку</button>
        </div>
  </div>
</form>
<div class="container">
  
  <ya-map (ready)="onMapReady($event)" 
    [zoom]="11"
    (yaclick)="onMapClick($event)"
    [state]="{
      controls: [
        'zoomControl',
        'fullscreenControl',]
      }" 
  >
  </ya-map>
</div>