<ion-content>
  <ion-grid>
    <ion-row>
      <ion-radio-group  (ionChange)="selectedType($event)" [value]="typeSelected">
          <ng-container *ngFor="let type of types">
            <ion-item>
              <ion-label class="ion-padding-start">{{ type.name }}</ion-label>
              <ion-radio slot="end" value="{{ type.id }}"></ion-radio>
            </ion-item>
          </ng-container>
      </ion-radio-group>
</ion-row>
<ion-row>
<div class="container">

  
  <ya-map (ready)="onMapReady($event)" 
    [zoom]="11"
    [center]="[56.81497464978607, 61.32053375244141]"
    (yaclick)="onMapClick($event)"
    [state]="{
      controls: [
        'zoomControl',
        'fullscreenControl',]
      }" 
  >
  </ya-map>
</div>
</ion-row>
  </ion-grid>
</ion-content>