<div *ngIf="aboutModal" class="start-mobile-slider">
 
  <swiper-container
  #swiper
  class="swiper-container"
  [pagination]="false"
  [grabCursor]="true"
  [slidesPerView]="1"
  [centeredSlides]="true"
  [followFinger]="false"
  [initialSlide]="0"
  (swiperslidechange)="aboutModalslideChange($event)">

  <ng-container *ngFor ="let slide of swiperItemsArray">
    <swiper-slide style="background: {{slide.background}};">
      <div style="background-image: url('{{slide.image}}');" class="image-background">

      </div>
      <ng-container>
        <div class="slide-content">
        </div>
      </ng-container>
    </swiper-slide>
  </ng-container>
</swiper-container>

<div class="button-container">
  <div class="swiper-pagination-circles-container">
    <div *ngFor="let link of swiperItemsArray; let i = index">
      <div class="swiper-pagination-circle" [class.active]="i === swiperIndex - 1"></div>
    </div>
  </div>
  <button (click)="aboutModalNextslide()" *ngIf="swiperIndex !== swiperItemsArray.length" class="button-container-item">
    Далее
  </button>
  <button *ngIf="swiperIndex === swiperItemsArray.length" (click)="closeAboutModal()" class="button-container-item_last">
    Начать
  </button>
  <app-standart-button></app-standart-button>
</div>
</div>