<ion-content>
  <app-second-header>
    <div class="switcher-container">
      <div class="switcher-wrapper">
        <app-type-swither></app-type-swither>
      </div>
      <span class="header-title">
        Избранное
      </span>
    </div>
  </app-second-header>

  <div class="grid-wrapper">
    <app-card-grid *ngIf="segment === 'events'" (eventClicked)="eventNavigation($event)" [notFound]="notFound" [spiner]="spiner" (endScroll)="getEvents()"
     [cards]="this.favoritesTapeService.events"></app-card-grid>
    <app-organizations-grid  *ngIf="segment === 'sights'" (organizationClicked)="organizationNavigation($event)"
     buttonType="" [spiner]="spiner" (endScroll)="getSights()" [cards]="this.favoritesTapeService.sights" [notFound]="notFoundSights"/>

  </div>

</ion-content>