$font-color: #4c5861;

.footer-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .user-avatar {
    width: 1.5rem;
    height: 1.5rem;
  }

  .svg-icon {
    filter: invert(65%) sepia(11%) saturate(10%) hue-rotate(15deg)
      brightness(93%) contrast(82%);
    height: 1.5rem;
    width: 1.5rem;
  }


    .user-name {
      max-width: 55px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

.title {
  font-size: 0.625rem;
  font-family: 'NunitoSans-Regular';
  color: $font-color;
}

.item-active {
  filter: brightness(0) saturate(100%) invert(40%) sepia(41%) saturate(3715%) hue-rotate(207deg) brightness(103%) contrast(101%);
}

.active {
  // color:#3b82f6;
  color: #fff;
}

@media screen and (min-width: 0px) and (max-width: 1060px) {
  .footer-mobile {
    display: flex;
  } /* show it on small screens */
}

@media (min-width: 1060px) {
  .footer-mobile {
    display: none;
  } /* hide it elsewhere */
}
