<!-- мобильный футтер -->
<div class="footer-mobile">

    <div
        class="item"
        [routerLink]="['events']"
        [routerLinkActive]="['item-active']"
        replaceUrl="true"
    >
        <ion-row>
            <ion-icon name="balloon" class="icon" [routerLinkActive]="['active']"></ion-icon>
            <!-- <ion-badge>{{ getEventService() }}</ion-badge> -->
        </ion-row>
        <span class="title" [routerLinkActive]="['active']">События</span>
    </div>

    <div
        class="item"
        [routerLink]="['sights']"
        [routerLinkActive]="['item-active']"
        replaceUrl="true"
    >
        <ion-row>
          <img src="/assets/icons/MakiMuseum.svg" class="svg-icon">
            <!-- <ion-badge>{{ getSightService() }}</ion-badge> -->
        </ion-row>
        <span class="title" [routerLinkActive]="['active']">Места</span>
    </div>

    <div
        class="item"
        [routerLink]="['home']"
        [routerLinkActive]="['item-active']"
        replaceUrl="true"
    >
        <ion-icon name="map" class="icon" [routerLinkActive]="['active']"></ion-icon>
        <span class="title" [routerLinkActive]="['active']">Карта</span>
    </div>

    <div
        class="item"
        [routerLink]="['cabinet/favorites']"
        [routerLinkActive]="['item-active']"
        [routerLinkActiveOptions]="{exact: true}"
        replaceUrl="true"
    >
        <ion-row>
            <ion-icon name="star" class="icon" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"></ion-icon>
            <!-- <ion-badge>{{ getFavoritesService() }}</ion-badge> -->
        </ion-row>
        <span class="title" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Избранное</span>
    </div>

    <div
        class="item"
        [routerLink]="['cabinet']"
        [routerLinkActive]="['item-active']"
        [routerLinkActiveOptions]="{exact: true}"
        replaceUrl="true"
    >

          <ion-avatar class="user-avatar" *ngIf="isAuth">
            <img *ngIf="avatarUrl" [src] = "avatarUrl" alt="Аватар пользователя">
          </ion-avatar>
          <ion-icon *ngIf="!isAuth" name="person" class="icon" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"></ion-icon>
          <span class="title user-name" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">{{ user ? user.name: "Кабинет" }}</span>


    </div>
    <!-- <div *ngIf="!isAuthenticated"
        class="item"
        [routerLink]="['login']"
        [routerLinkActive]="['item-active']"
    >
        <ion-icon name="log-in" class="icon" [routerLinkActive]="['active']"></ion-icon>
        <span class="title"  [routerLinkActive]="['active']">Вход</span>
    </div> -->
</div>
