<!-- мобильный футтер -->
<div class="footer-mobile">
    <div 
        class="item"
        [routerLink]="['home']"
        [routerLinkActive]="['item-active']"  
    >
        <ion-icon name="map" class="icon" [routerLinkActive]="['active']"></ion-icon>
        <span class="title" [routerLinkActive]="['active']">Карта</span>
    </div>
    <div 
        class="item"
        [routerLink]="['events']"
        [routerLinkActive]="['item-active']"  
    >
        <ion-icon name="newspaper" class="icon" [routerLinkActive]="['active']"></ion-icon>
        <span class="title"  [routerLinkActive]="['active']">События</span>
    </div>
    <div *ngIf="isAuthenticated"
        class="item"
        [routerLink]="['cabinet']"
        [routerLinkActive]="['item-active']"  
    >
        <ion-icon name="person" class="icon" [routerLinkActive]="['active']"></ion-icon>
        <span class="title"  [routerLinkActive]="['active']">Кабинет</span>
    </div>
    <div *ngIf="!isAuthenticated"
        class="item"
        [routerLink]="['login']"
        [routerLinkActive]="['item-active']"  
    >
        <ion-icon name="log-in" class="icon" [routerLinkActive]="['active']"></ion-icon>
        <span class="title"  [routerLinkActive]="['active']">Вход</span>
    </div>
</div>