
<ion-content mode="md">
  <app-second-header>
    <app-circle-button (click)="stepPrev()" icon="/assets/icons/arrow.svg" ></app-circle-button>
    <span class="header-title">
      Создать
    </span>
    <app-circle-button icon="/assets/icons/question.svg"></app-circle-button>
  </app-second-header>
  <div class="main-content">
    <app-step-container [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency">
      <app-step-container-item [stepCurrency]="stepCurrency" stepNum="1">
        <div class="main-content__step-wrapper">
          <app-standart-input [label]="'Название события'" [control] = "createEventForm.get('name')"></app-standart-input>
          <div class="organization-select-wrapper">
            <app-organizations-select-container [closeModalValue]="modalSelectedOrganization" (selectOrganization)="selectOrganization($event)" [cards]="organizations"/>
          </div>
            <app-types [buttonClicked]="currentType" [types]="types" (typeOutput)="receiveType($event)"></app-types>
        </div>
      </app-step-container-item>
      <app-step-container-item [stepCurrency]="stepCurrency" stepNum="2">
        <div class="main-content__step-wrapper">
          <div class="load-for-vk-button-wrapper">
            <app-standart-button (click)="openModalGroup()" icon="/assets/icons/vk.svg" buttonText="Загрузить из ВК" theme="light"></app-standart-button>
          </div>
          <div class="label">Обложка</div>
          <div class="cover-add-button" >
            <img src="/assets/icons/addPhoto.svg" alt="">
            <span class="cover-add-button_text">Добавить фото</span>
          </div>
          <app-edit-slider type="create" (filesEmit)="onFileChange($event)" [files]="uploadFiles"></app-edit-slider>
          <app-standart-rich-input [label]="'Описание'" [control] = "createEventForm.get('description')"></app-standart-rich-input>
        </div>
      </app-step-container-item>
    </app-step-container>

    <div class="navigate-buttons-container">
      <app-standart-button (click)="stepNext()" buttonText="Далее" theme="standart"></app-standart-button>
      <div class="cancel-wrapper">
        <app-standart-button (click)="reset()" buttonText="Отмена" theme="light"></app-standart-button>
      </div>
    </div>
  </div>

</ion-content>


<ion-modal  class="modal" backdropDismiss="false" [isOpen] ="openModalGroupValue" [canDismiss]="openModalGroupValue">
  <ng-template>
    <ion-content>
        <ion-list>
            <ion-list-header>
              <ion-label class="modalLabel">Выберите сообщество, из которой следует загрузить посты</ion-label>
            </ion-list-header>

            <ion-radio-group *ngIf="vkGroups" (ionChange)="selectedVkGroup($event); openModalPost($event); saveChangeId()" [allowEmptySelection]="true" [value]="vkGroupSelected">
              <ng-container>
                <ion-item>
                  <ion-avatar>
                    <img alt="ava" src="/assets/icons/favicon.png" />
                  </ion-avatar>
                  <ion-label class="ion-padding-start">Моя страница</ion-label>
                  <ion-radio slot="end" value="{{ user.social_account.provider_id }}"></ion-radio>
                </ion-item>
              </ng-container>
              <ng-container *ngFor="let group of vkGroups">
                  <ion-item>
                    <ion-avatar>
                      <img alt="ava" src="{{ group.photo_50 }}" />
                    </ion-avatar>
                    <ion-label class="ion-padding-start">{{ group.name }}</ion-label>
                    <ion-radio  slot="end" value="-{{ group.id }}"></ion-radio>
                  </ion-item>
              </ng-container>
            </ion-radio-group>
            <!-- Грузим чужие посты из вк, временное решение -->
            <!-- <ng-container>
              <ion-item>
                <ion-label class="ion-padding-start">
                  <ion-input label="Url input" type="text" placeholder="URL группы" (ionChange)="onFocusPlace($event)"></ion-input>
                </ion-label>
                  <ion-button  (click)="setVkPostsByGroupURL();  stepNext();">Загрузить URL</ion-button>
              </ion-item>
            </ng-container> -->
        </ion-list>
        <ion-button class="modalBtnBottom" (click)="closeAllModals()">
          Закрыть
        </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
