
<ion-content mode="md">

  <app-create-rules-modal [agreement_id]="1"></app-create-rules-modal>
  <div class="buttons-dekstop">

    <div class="buttons-desktop-wrapper">
      <div class="btnsWrapperBack">
        <ion-button routerLink="/home" class="backButton buttonsNavigate button-cancel">Отмена</ion-button>
      </div>
      <div class="btnsWrapper btnsWrapperNext">
        <div class="buttons-wrapper">
          <ion-button disabled="true" class="backButton buttonsNavigate" *ngIf="stepCurrency === stepStart"  (click)="stepPrev()"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
          <ion-button class="backButton buttonsNavigate" *ngIf="stepCurrency !== stepStart"  (click)="stepPrev()"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
          <div (click)="nextStep()">
          <ion-button class="buttonsNavigate" [disabled]="detectedDataInvalid()" *ngIf="stepCurrency !== steps" [hidden]="stepCurrency === steps-1"  (click)="stepNext()">Далее <ion-icon name="chevron-forward" slot="end"></ion-icon></ion-button>
          </div>
          <ion-button class="buttonsNavigate" (click)="onSubmit()" *ngIf="stepCurrency === steps-1" type="submit" [disabled]="detectedDataInvalid()"><ion-icon name="checkmark-done-outline" slot="start"></ion-icon>Готово</ion-button>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-dekstop_mobile">
  
    <div class="buttons-desktop-wrapper_mobile">

      <div class="btns-wrapper">
        <ion-button routerLink="/home" class="backButton buttonsNavigate button-cancel">Отмена</ion-button>
      </div>

      <div class="btns-wrapper">
        <div class="buttons-wrapper">
          <ion-button disabled="true" class="backButton buttonsNavigate" *ngIf="stepCurrency === stepStart"  (click)="stepPrev()"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
          <ion-button class="backButton buttonsNavigate" *ngIf="stepCurrency !== stepStart"  (click)="stepPrev()"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
          <div (click)="nextStep()">
          <ion-button class="buttons-navigate" [disabled]="detectedDataInvalid()" *ngIf="stepCurrency !== steps" [hidden]="stepCurrency === steps-1"  (click)="stepNext()">Далее <ion-icon name="chevron-forward" slot="end"></ion-icon></ion-button>
          </div>
          <ion-button class="buttons-navigate" (click)="onSubmit()" *ngIf="stepCurrency === steps-1" type="submit" [disabled]="detectedDataInvalid()"><ion-icon name="checkmark-done-outline" slot="start"></ion-icon>Готово</ion-button>
        </div>
       
      </div>

    </div>
  </div>

  <ion-grid class="main">
    <form onsubmit="return false;" class="mainChild" [formGroup]="createEventForm" (submit)="onSubmit()" enctype="multipart/form-data">

      <ion-column class="mainLabelAndBar">
        <div class="ion-text-start">
          <h3 [hidden]="stepCurrency !== 0" class="mt-0 mainLabelAndBarText">Тип события</h3>
          <h3 [hidden]="stepCurrency !== 1" class="mt-0 mainLabelAndBarText">Название события</h3>
          <h3 [hidden]="stepCurrency !== 2" class="mt-0 mainLabelAndBarText">О событие</h3>
          <h3 [hidden]="stepCurrency !== 3" class="mt-0 mainLabelAndBarText">Время и место</h3>
          <h3 [hidden]="stepCurrency !== 4" class="mt-0 mainLabelAndBarText">Цена и билеты</h3>
          <h3 [hidden]="stepCurrency !== 5" class="mt-0 mainLabelAndBarText">Предпросмотр</h3>

        </div>

        <!-- кнопки шагов -->

        <ion-column>
          <ion-col size-lg="4" size-md="8" size-xs="12">
            <div class="stepper-progress">
              <ion-column class="stepsButtonsMain ">
                  <div *ngFor="let step of [].constructor(steps); let i = index" class=" " >
                    <div class="buttonWraper">
                      <ion-button  *ngIf="stepCurrency === i" (click)="goToStep(i)" class="buttonBarClicked animated fadeIn">
                          {{ i + 1 }}
                        </ion-button>
<!--
                        <ion-button *ngIf="!stepIsValid(i) && stepCurrency !== i" (click)="goToStep(i)" class="buttonBarDanger animated fadeIn">
                          {{ i + 1 }}
                        </ion-button> -->

                        <ion-button disabled="true" *ngIf="!(stepCurrency === i)" (click)="goToStep(i)" class="buttonBarLight animated fadeIn">
                          {{ i + 1 }}
                        </ion-button>

                    </div>
                  </div>

              </ion-column>
            </div>
          </ion-col>
        </ion-column>
      </ion-column>
        <!-- шаг 1 -->
        <ng-container *ngIf="!typesLoaded">
          <ng-container *ngFor="let key of [1,2,3,4,5,6,7,8,9,10]">
            <ion-item>
              <ion-avatar>
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-avatar>
              <ion-label class="ion-padding-start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ng-container>
        </ng-container>
        <ion-label *ngIf="typesLoaded && stepCurrency === 0"><h2 style="color: #949494; text-align: center;">
          <ion-icon name="star"></ion-icon> - Первый выбранный вами тип станет основным, будет отображаться на карте и карточке мероприятия</h2>
        </ion-label>
        <ion-row  *ngIf="typesLoaded"  [hidden]="stepCurrency !== 0" class="ion-justify-content-center">
          <!-- <ion-label *ngIf="isNextButtonClicked == true && currentType == 0 " class="pick">Выберите тип, чтобы перейти на следующий шаг</ion-label> -->
          <app-types [buttonClicked]="currentType" [types]="types" (typeOutput)="receiveType($event)"></app-types>
        </ion-row>
      <!-- шаг 2 -->
      <ion-row  [hidden]="stepCurrency !== 1" class="ion-justify-content-center">
        <!-- <ion-label *ngIf="isNextButtonClicked === true && createEventForm.controls['name'].invalid || createEventForm.controls['sponsor'].invalid === true" class="pick">Введите данные, чтобы перейти на следующий шаг</ion-label> -->
        <ion-col class="second-step-main" *ngIf="stepCurrency === 1" @fade>
          <ion-column>
            <ion-col>
              <ion-item class="second-step-input-wrapper" fill="outline">
                <ion-input  fill="solid" style="" size="small" class="nameEvent" formControlName="name" type="text" name="name" placeholder="Название мероприятия" required></ion-input>
              </ion-item>

               <ion-col *ngIf="createEventForm.controls['name'].invalid && createEventForm.controls['name'].dirty"  class="validation">
                <ion-note *ngIf="!createEventForm.controls['name'].hasError('minLength')" color="danger">Название мероприятия должно содержать минимум 3 символа</ion-note>
              </ion-col>
                  <app-organizations-select-container [closeModalValue]="modalSelectedOrganization" (selectOrganization)="selectOrganization($event)" [cards]="organizations"/>
                <!-- <div *ngIf="createEventForm.controls['sponsor'].invalid && createEventForm.controls['sponsor'].dirty"  class="validation">
                  <ion-note *ngIf="!createEventForm.controls['sponsor'].hasError('minLength')" color="danger">поле "Организатор мероприятия" должно содержать минимум 3 символа</ion-note>
                </div> -->
            </ion-col>
          </ion-column>

        </ion-col>
      </ion-row>
      <!-- шаг 3 -->
      <ion-row style="display: flex; justify-content: center;"  [hidden]="stepCurrency !== 2">
        <ion-label *ngIf="isNextButtonClicked === true && createEventForm.controls['description'].invalid === true" class="pick">Введите информацию о мероприятии, чтобы перейти на следующий шаг</ion-label>
        <ion-modal  class="modal" backdropDismiss="false" [isOpen] ="openModalGroupValue" [canDismiss]="openModalGroupValue">
          <ng-template>
            <ion-content>
                <ion-list>
                    <ion-list-header>
                      <ion-label class="modalLabel">Выберите сообщество, из которой следует загрузить посты</ion-label>
                    </ion-list-header>

                    <ion-radio-group *ngIf="vkGroups" (ionChange)="selectedVkGroup($event); openModalPost($event); saveChangeId()" [allowEmptySelection]="true" [value]="vkGroupSelected">
                      <ng-container>
                        <ion-item>
                          <ion-avatar>
                            <img alt="ava" src="/assets/icons/favicon.png" />
                          </ion-avatar>
                          <ion-label class="ion-padding-start">Моя страница</ion-label>
                          <ion-radio slot="end" value="{{ user.social_account.provider_id }}"></ion-radio>
                        </ion-item>
                      </ng-container>
                      <ng-container *ngFor="let group of vkGroups">
                          <ion-item>
                            <ion-avatar>
                              <img alt="ava" src="{{ group.photo_50 }}" />
                            </ion-avatar>
                            <ion-label class="ion-padding-start">{{ group.name }}</ion-label>
                            <ion-radio  slot="end" value="-{{ group.id }}"></ion-radio>
                          </ion-item>
                      </ng-container>
                    </ion-radio-group>
                    <!-- Грузим чужие посты из вк, временное решение -->
                    <!-- <ng-container>
                      <ion-item>
                        <ion-label class="ion-padding-start">
                          <ion-input label="Url input" type="text" placeholder="URL группы" (ionChange)="onFocusPlace($event)"></ion-input>
                        </ion-label>
                          <ion-button  (click)="setVkPostsByGroupURL();  stepNext();">Загрузить URL</ion-button>
                      </ion-item>
                    </ng-container> -->
                </ion-list>
                <ion-button class="modalBtnBottom" (click)="closeAllModals()">
                  Закрыть
                </ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-modal mode="md" class="modal"  backdropDismiss="false" [isOpen]="openModalPostValue" [canDismiss]="openModalPostValue">
                  <ng-template>
                      <ion-content>
                        <ion-button class="backToGroupBtn" (click)="closeModalPost()">
                          Вернутся к выбору сообщества
                        </ion-button>
                        <ion-list-header>
                          <ion-label>Выберите пост, из которого следует загрузить текст и фото (загружены последние 10 постов). Если вы выберите пост, то шаги 4 и 5 (описание мероприятия и загрузка фото) будут скрыты, так как они автоматически заполнятся из поста.</ion-label>
                        </ion-list-header>

                        <div *ngIf="vkGroupPosts; else notSelectedGroup">
                          <!-- Скелетна анимация -->
                          <ng-container *ngIf="!vkGroupPostsLoaded">
                            <ng-container *ngFor="let key of [1,2]">
                              <ion-card>

                                <ion-item class="ion-margin-end">
                                  <ion-avatar slot="start">
                                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                                  </ion-avatar>
                                  <ion-label>
                                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                                  </ion-label>
                                </ion-item>
                                <ion-card-content>
                                  <ion-skeleton-text [animated]="true" style="height: 100px;"></ion-skeleton-text>
                                </ion-card-content>
                                <ion-row class="ion-padding-horizontal">
                                  <ng-container  *ngFor="let key of [1,2,3]">
                                    <ion-col size="4" class="ion-align-self-center ion-justify-content-center">
                                      <ion-skeleton-text [animated]="true" style="height: 80px;"></ion-skeleton-text>
                                    </ion-col>
                                  </ng-container>
                                </ion-row>

                              </ion-card>

                            </ng-container>
                          </ng-container>

                          <ng-container *ngIf="vkGroupPostsLoaded">
                            <ng-container *ngFor="let post of vkGroupPosts.items; let i = index">
                              <ion-card *ngIf="!post.copy_history">
                                <ng-container *ngIf="vkGroupPosts.profiles">
                                <ng-container *ngFor="let profile of vkGroupPosts.profiles; index as i" class="card-profile">
                                  <ion-item *ngIf="i === 0" class="ion-margin-end">
                                    <ion-avatar slot="start">
                                      <img alt="ava" src="{{ profile.photo_50 }}" />
                                    </ion-avatar>
                                    <ion-label>{{ profile.first_name }}</ion-label>
                                  </ion-item>
                                </ng-container>
                                </ng-container>

                                <ion-card-content *ngIf="post.text">
                                  <app-read-more text="{{ post.text }}"></app-read-more>
                                </ion-card-content>
                                <!-- Фото во вложении -->
                                <swiper-container
                                  #swiper
                                  autoplay="true"
                                  autoplay-delay="5000"
                                  autoplay-disableOnInteraction="false"
                                  navigation="true"
                                  [pagination]="true"
                                  [grabCursor]="true"
                                  [zoom]="false"
                                  [slidesPerView]="1"
                                  [centeredSlides]="true"
                                  [followFinger]="true"
                                  [loop]="true"
                                  [initialSlide]="0"
                                  *ngIf="post.attachments" class="card-container-content">
                                  <ng-container *ngFor="let attachment of post.attachments">
                                    <ng-container *ngIf="attachment.photo" >
                                      <ng-container *ngFor="let photo of attachment.photo.sizes">
                                        <swiper-slide *ngIf="photo.type === 'x'">
                                          <a href="{{photo.url}}" target="_blank">
                                            <img class="swiper-img" alt="ava" [src]="photo.url"/>
                                          </a>
                                        </swiper-slide>

                                      </ng-container>
                                    </ng-container>
                                  </ng-container>
                                </swiper-container>

                                <ng-container *ngIf="post.attachments" class="card-container-content">
                                  <ng-container *ngFor="let attachment of post.attachments">
                                    <!-- Видео во вложении -->
                                    <ng-container *ngIf="attachment.video" >
                                      <ion-col class="video_col">
                                            <span class="video-title">{{ attachment.video.title }}</span>
                                            <iframe class="video_content" [src]="attachment.video.owner_id | safeVideoById:attachment.video.id" allow="autoplay; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
                                            <p>Описание видео: </p>
                                            <app-read-more *ngIf="attachment.video.description" text="{{ attachment.video.description }}"></app-read-more>
                                        </ion-col>
                                    </ng-container>

                                    <!-- Ссылки во вложении -->
                                    <ion-card ng-container *ngIf="attachment.link">
                                      <ion-item button detail="true" href="{{ attachment.link.url }}" *ngIf="attachment.link">
                                        <ion-thumbnail  slot="start">
                                            <img class="imgPost" src="{{attachment.link.photo.sizes[1].url}}"/>
                                        </ion-thumbnail>
                                        <ion-label>
                                          <h3>{{ attachment.link.title }}</h3>
                                          <p>{{attachment.link.caption}}</p>
                                        </ion-label>
                                      </ion-item>
                                    </ion-card>
                                  </ng-container>
                                </ng-container>

                                <ion-footer>
                                  <div class="ion-text-end">
                                    <ion-button (click)="closeAllModals()" (click)="selectedVkGroupPost(post)" class="ion-margin" [color]="vkGroupPostSelected?.id === post.id ? 'success' : 'medium'">
                                      <ion-icon  *ngIf="vkGroupPostSelected?.id === post.id" name="checkmark-outline" slot="start"></ion-icon>
                                      {{ vkGroupPostSelected?.id === post.id ? 'Выбрано' : 'Выбрать'}}
                                    </ion-button>
                                  </div>
                                </ion-footer>
                              </ion-card>

                            </ng-container>
                          </ng-container>
                        </div>

                        <ng-template #notSelectedGroup>
                          <ion-row>
                            <ion-list-header>
                              <ion-note color="medium" class="ion-padding-vertical">Вы не выбрали сообщество, для выбора вернитесь назад и выберите сообщество (шаг 1)</ion-note>
                            </ion-list-header>
                          </ion-row>
                        </ng-template>

                      </ion-content>
                  </ng-template>

        </ion-modal>

        <!-- <div class="openModalBtnWraper">
          <ion-button class="openModalBtn" style="--border-radius:8px;" (click)="openModalGroup()" class="selectGroup">
            <ion-icon style="margin-right: 1vh;"  name='logo-vk'></ion-icon>
            Загрузить пост
          </ion-button>
        </div> -->
        <ion-column class="stepThird ion-justify-content-center">
          <ion-col @fade>
            <div class="BtnModalParrent " style="display: flex; align-items: center;">
              <ion-button class="openModalBtn" style="--border-radius:8px;" (click)="openModalGroup()" class="selectGroup">
                <ion-icon style="margin-right: 1vh;"  name='logo-vk'></ion-icon>
                Мои записи
              </ion-button>
            </div>
            <ion-column class="description_main">
              <div class="">
                    <ion-col *ngIf="stepCurrency === 2" @fade>
                      <ion-item class="description-item" fill="outline">
                        <ion-label position="stacked"></ion-label>

                        <ion-textarea
                          formControlName="description"
                          placeholder="Введите информацию об мероприятии.."
                          [autoGrow]="true"
                          #eventDescription
                          class="description-text"
                        >

                      </ion-textarea>

                      <div class="main-preview">
                        <div class="img-parent" *ngFor="let img of imagesPreview">
                          <img class="imagesPreview" [src]="img" alt="preview">
                          <ion-button class="deletPrewviewButton" color="danger" expand="block" (click)="deleteFile(img)">
                              <ion-icon name="trash-bin" slot="start"></ion-icon>
                          </ion-button>
                        </div>
                        <ng-container *ngIf="vkGroups && vkGroupPostSelected && vkGroupPostSelected.attachments.length">

                            <div *ngFor="let attachment of vkGroupPostSelected.attachments" class="img-parent">
                              <ng-conainer *ngIf="attachment.video">
                                <img class="imagesPreview" alt="" src="{{ attachment.video.image[0].url }}" />
                                <div style="background-color: rgba(0, 0, 0, 0.568); color: #fff; border-radius: 4px; margin-top:-1.5rem; position: absolute; display: flex; justify-content: space-between;"><ion-icon name="play-outline"></ion-icon></div>
                              </ng-conainer>
                              <ng-conainer *ngIf="attachment.photo">
                                <img class="imagesPreview" alt="ava" src="{{ attachment.photo.sizes[3].url }}" />
                                <ion-button class="deletPrewviewButton" color="danger" expand="block" (click)="deleteFile(attachment)">
                                  <ion-icon name="trash-bin" slot="start"></ion-icon>
                                </ion-button>
                              </ng-conainer>
                            </div>
                          </ng-container>

                      </div>
                          <ion-item style="border-top: 1px solid rgba(85, 84, 84, 0.226);">
                            <div (click)="filesUpload.click()" style="align-items: center; display: flex; justify-content: center; align-items: center;">
                              <ion-button style="--background: none; --box-shadow: none;" class="addPhoto">
                                <ion-icon class="addPhotoIcon" style="color: gray;" name="image-outline"></ion-icon>
                              </ion-button>
                              <ion-text style="color: gray; font-size: small;">Добавить картинку</ion-text>
                            </div>

                          </ion-item>
                      </ion-item>
                        <input formControlName="files" (change)="onFileChange($event)" type="file" name="files[]" accept="image/png, image/jpeg" hidden multiple #filesUpload>
                        <ion-note *ngIf="createEventForm.controls['files'].hasError('requiredFileType')" color="danger">Допустимые форматы *.png, *.jpeg</ion-note>
                      <div *ngIf="createEventForm.controls['description'].invalid && createEventForm.controls['description'].dirty"  class="validation">
                        <ion-note *ngIf="!createEventForm.controls['description'].hasError('minLength')" color="danger">поле "Об мероприятии" должно содержать минимум 10 символов</ion-note>
                      </div>
                      <!-- <div *ngIf="createEventForm.controls['description'].invalid && createEventForm.controls['description'].dirty "  class="validation">
                        <ion-note *ngIf="!createEventForm.controls['description'].hasError('minLength')" color="danger">поле "Об мероприятии" должно содержать минимум 10 символа</ion-note>
                      </div> -->
                    </ion-col>
              </div>
            </ion-column>

            <ion-col class="photoMain"  @fade>
              <!-- <ion-label position="floating">Добавление фотографий (*.png, *.jpeg)</ion-label> -->

              <ion-row *ngIf="vkGroups && vkGroupPostSelected && !vkGroupPostSelected.attachments.length" class="ion-padding-vertical">
                <ion-col class="ion-align-self-center ion-justify-content-center">
                  <ion-label color="medium">В выбранном посте нету фотографий</ion-label>
                </ion-col>
              </ion-row>

              <!-- <ion-row *ngIf="vkGroups && !vkGroupPostSelected" class="ion-padding-vertical">
                <ion-col class="ion-align-self-center ion-justify-content-center">
                  <ion-label color="medium">Вы не выбрали пост, невозможно подгрузить фотографии</ion-label>
                </ion-col>
              </ion-row> -->
            </ion-col>
<!--
            <ion-column>

              <div class="timeParrent">

               <div class="dateFirst">
                  <ion-list-header><ion-label>Начало мероприятия: </ion-label></ion-list-header>
                  <ion-datetime-button
                    datetime="eventStart"
                  ></ion-datetime-button>

                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime
                        id="eventStart"
                        [firstDayOfWeek]="1"
                        [showDefaultButtons]="true"
                        doneText="Ok"
                        cancelText="Отмена"
                        locale="ru-RU"
                        formControlName="dateStart"
                        ></ion-datetime>
                    </ng-template>
                  </ion-modal>
               </div>

               <div class="dateLast">

                <ion-list-header><ion-label>Конец мероприятия: </ion-label></ion-list-header>

                <ion-datetime-button

                  datetime="eventEnd"
                >

              </ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      id="eventEnd"
                      [firstDayOfWeek]="1"
                      [showDefaultButtons]="true"
                      doneText="Ok"
                      cancelText="Отмена"
                      locale="ru-RU"
                      formControlName="dateEnd"
                    ></ion-datetime>
                  </ng-template>
                </ion-modal>
               </div>

              </div>

            </ion-column> -->
            <div  style="max-width: 60vh;" *ngIf="createEventForm.hasError('dateInvalid')">
              <ion-note color="danger">Дата начала не может быть позднее даты конца, а дата конца не может быть раньше даты начала.</ion-note>
            </div>
          </ion-col>
        </ion-column>
      </ion-row>

      <!-- шаг 4 -->
      <ion-row  [hidden]="stepCurrency !== 3" class="ion-justify-content-center">
        <ion-label *ngIf="isNextButtonClicked === true" class="pick">{{ getMessage() }}</ion-label>
        <!-- <ion-button (click)="searchMinSeans()">test</ion-button> -->
        <ion-col *ngIf="stepCurrency === 3" @fade>
            <ion-row *ngIf="!mobile" class="place-list">
              <ng-container class="" *ngFor="let array of placeArrayForm; let i = index" [formGroup]="createEventForm.controls['places'].value[i]">
                <ion-col class="place-header">
                  <div style="display: flex; justify-content: space-between;">
                    <h2>Место проведения {{i+1}}</h2>
                    <ion-chip style="max-width: 7rem; text-align: center; margin-left: 1rem;" color="danger" (click)="deletePlaceForm(i)">Удалить
                    </ion-chip>
                    <ion-icon (click)="getPlaceId(place)" name="caret-down-outline" style="width: 2rem; height: 5rem; margin-left: auto; transition: 0.5s; cursor: pointer;"
                    [ngClass]="{
                      'place-row_close': placesClose[i].open === false,

                    }"
                    ></ion-icon>
                  </div>
                  <ion-item lines="none">
                    <ion-col style="display: flex; width: 100%;">
                      <span style="margin-right: 1rem; min-width: 2rem; display: flex; align-items: center;">Текущий город:</span>
                      <ion-label style="display: flex; justify-content: center; align-items: center;" *ngIf="!locationLoader"><span>{{placeArrayForm[i].city}} ({{placeArrayForm[i].region}})</span></ion-label>
                      <!-- сворачиваем плейс -->
                    </ion-col>
                    <ion-list style="width: 50%" *ngIf="locationLoader">
                      <ion-skeleton-text [animated]="true" style="width: 40%"></ion-skeleton-text>
                      <ion-skeleton-text [animated]="true" style="width: 100%; height: 1rem;"></ion-skeleton-text>
                    </ion-list>
                  </ion-item>
                  <ion-column style="min-width: 100%;">
                    <ion-item  fill="outline" class="ion-margin-vertical" >
                      <ion-icon name="earth" slot="start"  size="small" color="primary"></ion-icon>
                      <ion-input  fill="outline" formControlName="address" value="{{this.createEventForm.controls['places'].value[i].controls['address'].value}}" (ionChange)="clearSearche($event, i)" placeholder="Адрес мероприятия..." id="{{'search-map-'+i}}" type="text" name="search" required></ion-input>
                    </ion-item>
                  </ion-column>
                </ion-col>

                <ion-card class="" >
                <div style=" transition: 0.5s ;" #place id="{{i}}" [ngClass]="{
                  'place-wrapper_close': placesClose[i].open === false,
                  'place-wrapper_open': placesClose[i].open}">
                  <ion-card-content>
                  <ion-list>
                      <!-- Город мероприятия -->
                      <!-- <ion-col>
                        <p>Выбран:</p><span>{{array.city}} </span>,<span> {{array.region}}</span>
                      <div class="ion-padding" >
                        <ion-searchbar animated="true" placeholder="Найти город..." (ionChange)="getCityes($event)" (ionClear)="onClearSearch()"  debounce="500" #cityesSearchbar></ion-searchbar>
                        <ion-note *ngIf="minLengthCityesListError" color="danger" class="ion-padding-horizontal">минимум 3 символа</ion-note>
                          <ng-container *ngIf="cityesListLoading">
                              <ion-list class="ion-padding-end">
                                  <ion-item *ngFor="let key of [1,2,3]">
                                      <ion-skeleton-text [animated]="true" style="height: 0.5rem;" />
                                  </ion-item>
                              </ion-list>
                          </ng-container>

                          <ion-list *ngIf="!cityesListLoading">
                            <ion-item *ngFor="let item of cityesList" (click)="setCityes(item, i)" class="search-item" [hidden]="item.location_parent.name === 'РФ'">
                              <ion-label>
                                  <h2>{{ item.name }}</h2>
                                  <p>{{ item.location_parent.name }}</p>
                              </ion-label>
                            </ion-item>
                          </ion-list>
                      </div>
                      </ion-col> -->
                      <!-- <ion-col>
                        <p>Выбран:</p><span>{{array.sight_name}}</span>
                      <div class="ion-padding" >
                        <ion-searchbar animated="true" placeholder="Найти достопримечательность..." (ionChange)="getSight($event, i)" (ionClear)="onClearSearch()"  debounce="500" #sightSearchbar></ion-searchbar>
                        <ion-note *ngIf="minLengthCityesListError" color="danger" class="ion-padding-horizontal">минимум 3 символа</ion-note>
                          <ng-container *ngIf="sightsListLoading">
                              <ion-list class="ion-padding-end">
                                  <ion-item *ngFor="let key of [1,2,3]">
                                      <ion-skeleton-text [animated]="true" style="height: 0.5rem;" />
                                  </ion-item>
                              </ion-list>
                          </ng-container>

                          <ion-list *ngIf="!sightsListLoading">
                            <ion-item *ngFor="let item of sightsList" (click)="setSight(item, i)" class="search-item">
                              <ion-item>
                                <ion-thumbnail slot="start">
                                  <img alt="Silhouette of mountains" src="{{item.files[0].link}}" />
                                </ion-thumbnail>
                                <ion-label>
                                  <h2>{{ item.name }}</h2>
                                  <p>{{ item.address }}</p>
                                </ion-label>
                              </ion-item>
                            </ion-item>
                          </ion-list>
                      </div>
                      </ion-col> -->
                    <!-- Поиск не работает, сломан -->
                    <ion-item lines="none" style="margin-bottom: 2rem;" >
                      <div class="map ">
                        <ya-map (ready)="onMapReady($event, i)"
                          [zoom]="11"
                          (yaclick)="onMapClick($event, i)"
                          [center]="this.createEventForm.controls['places'].value[i].coords"
                          [state]="{
                            controls: [
                              'zoomControl',
                              'fullscreenControl',]
                            }"
                          [options]="{
                            yandexMapDisablePoiInteractivity: true,
                            maxZoom:18,
                            suppressMapOpenBlock: true,
                            suppressObsoleteBrowserNotifier: true
                          }"
                        >
                        </ya-map>
                      </div>
                     
                    </ion-item>

                    <ion-item *ngFor="let sean of array.seances;  let i_s = index" lines="none">
                    <!-- Создание сеансов -->
                      <ion-card [formGroup]="createEventForm.controls['places'].value[i].value.seances[i_s]" class="list-seances" style="margin-bottom: 1rem;">
                        <ion-card-header style="max-height: 2rem;" lines="none">
                          <ion-item style="display: flex; justify-content: space-between; width: 100%;" lines="none">
                            <ion-row  style="display: flex; justify-content: space-between; width: 100%;">
                              <ion-item lines="none">
                                <ion-label style="color:black; padding-bottom: 2rem;" ><h2>Время начала {{i_s+1}}</h2></ion-label>
                              </ion-item>
                              <ion-item lines="none">
                                <ion-chip color="danger" (click)="deleteSeanceForm(i, i_s)">Удалить
                                  <!-- <ion-icon name="close-outline"></ion-icon> -->
                                </ion-chip>
                              </ion-item>
                            </ion-row>
                          </ion-item>
                        </ion-card-header>
                          <ion-col style="display: flex; justify-content: space-between;">
      <!-- пк версия датайм -->
                            <ion-row class="date-start">
                              <ion-list-header style="text-align: center;"><ion-label>Начало мероприятия: </ion-label></ion-list-header>
                              <ion-datetime-button style="display: flex; justify-content: center; align-items: center; width: 50%;"
                                datetime="{{'eventStart-'+i+'-'+i_s}}"
                                class="ion-margin-vertical"
                              ></ion-datetime-button>
                              <input style="" (input) = "testTime($event,i,i_s,'start')" class="time-input" value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateStart, 'standart')|date:'HH:mm'}}" [maskito]="maskTime" type="text"  #startSeansInput{{i_s}}>
                              <ion-modal [keepContentsMounted]="true">
                                <ng-template>
                                  <ion-datetime
                                    value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateStart, 'iso')}}"
                                    (ionChange)="testDate($event,i,i_s,'start')"
                                    presentation="date"
                                    id="{{'eventStart-'+i+'-'+i_s}}"
                                    [firstDayOfWeek]="1"
                                    [showDefaultButtons]="true"
                                    [displayFormat]="'MM/YYYY'"
                                    [pickerFormat]="'MMMM YYYY'"
                                    doneText="Ok"
                                    cancelText="Отмена"
                                    locale="ru-RU"
                                    ></ion-datetime>
                                </ng-template>
                              </ion-modal>
                            </ion-row>
                            <ion-row class="date-end">
                                  <ion-list-header style="text-align: center;"><ion-label>Конец мероприятия: </ion-label></ion-list-header>
                                  <ion-datetime-button style="display: flex; justify-content: center; align-items: center; width: 50%;"
                                    datetime="{{'eventEnd-'+i+'-'+i_s}}"
                                    class="ion-margin-vertical"
                                  ></ion-datetime-button>
                                  <input (input) = "testTime($event,i,i_s,'end')" class="time-input" [maskito]="maskTime" type="text"value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateEnd, 'standart')|date:'HH:mm'}}">
                                  <ion-modal [keepContentsMounted]="true">
                                    <ng-template>
                                      <ion-datetime
                                      value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateEnd, 'iso')}}"
                                        (ionChange)="testDate($event,i,i_s,'end')"
                                        id="{{'eventEnd-'+i+'-'+i_s}}"
                                        [firstDayOfWeek]="1"
                                        [showDefaultButtons]="true"
                                        presentation="date"
                                        doneText="Ok"
                                        cancelText="Отмена"
                                        locale="ru-RU"
                                      ></ion-datetime>
                                    </ng-template>
                                  </ion-modal>
                            </ion-row>
                            <div *ngIf="createEventForm.hasError('dateInvalid')">
                              <ion-note color="danger">Дата начала не может быть позднее даты конца, а дата конца не может быть раньше даты начала</ion-note>
                            </div>
                          </ion-col>
                      </ion-card>
                    </ion-item >
                    <ion-chip color="primary" class="ion-justify-item-center" (click)="addSeances(i)">
                      <ion-label>Добавить время проведения</ion-label>
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-chip>
                  </ion-list>
                  </ion-card-content>
                </div>
                </ion-card>

              </ng-container>
              <ion-chip color="primary" class="" (click)="addPlaceForm()">
                <ion-label>Добавить место проведения</ion-label>
                <ion-icon name="add-outline"></ion-icon>
              </ion-chip>
            </ion-row>
            <ion-col *ngIf="mobile" class="place-list_mobile">
              <!-- мобильный плейс -->
              <ion-list style="width: 50%" *ngIf="locationLoader">
                <ion-skeleton-text [animated]="true" style="width: 40%"></ion-skeleton-text>
                <ion-skeleton-text [animated]="true" style="width: 100%; height: 1rem;"></ion-skeleton-text>
              </ion-list>
              <ng-container *ngFor="let array of placeArrayForm; let i = index" [formGroup]="createEventForm.controls['places'].value[i]">
                <div style="border: 0.5px solid rgba(168, 168, 168, 0.5); padding:1rem;">
                  <div style="display: flex; justify-content: space-between;">
                    <div>
                      <h2 class="place-header-text_mobile">Место проведения {{i+1}}</h2>
                    </div>
                    <ion-icon (click)="getPlaceId(place)" name="caret-down-outline" style="width: 2rem; height: 5rem; margin-left: auto; transition: 0.5s; cursor: pointer; margin-top: -0.7rem;"
                    [ngClass]="{
                      'place-row_close': placesClose[i].open === false,
                    }"
                    ></ion-icon>
                  </div>
                  <div style="width: 100%; display: flex; margin-top: -1rem; margin-left: -0.6rem;">
                    <ion-col>
                      <span *ngIf="!locationLoader">Текущий город: {{placeArrayForm[i].city}} ({{placeArrayForm[i].region}})</span>
                    </ion-col>
                  </div>
                  <ion-chip style="max-width: 7rem; text-align: center; margin-bottom: auto; margin-left: -0.5rem;" color="danger" (click)="deletePlaceForm(i)">Удалить
                  </ion-chip>
                  <ion-column style="min-width: 100%;">
                 
                  </ion-column>
                </div>

                <ion-card style="margin-left: 0rem; width: 100%;" class="" >

                  <div style=" transition: 0.5s; width: 100%; " #place id="{{i}}" [ngClass]="{
                    'place-wrapper_close': placesClose[i].open === false,
                    'place-wrapper_open': placesClose[i].open}">
                       <ion-item style="width: 100%;" *ngFor="let sean of array.seances;  let i_s = index" lines="none">
                        <ion-card [formGroup]="createEventForm.controls['places'].value[i].value.seances[i_s]" class="list-seances" style="width: 100%;">
                          <ion-item style="justify-content: space-between; margin-left: auto; margin-right: auto;" lines="none">
                            <ion-label style="color:black;"><h2>Сеанс {{i_s+1}}</h2></ion-label>
                            <ion-chip color="danger"(click)="deleteSeanceForm(i, i_s)">Удалить</ion-chip>
                          </ion-item>
                          <ion-col style="display: flex; justify-content: center; align-items: center;" >Начало мероприятия</ion-col>
                          <div class="time-input-wrapper">
                            <ion-datetime-button style="display: flex; justify-content: center; align-items: center; width: 50%;"
                            datetime="{{'eventStart-'+i+'-'+i_s}}"
                            class="ion-margin-vertical"></ion-datetime-button>
                            <input (input) = "testTime($event,i,i_s,'start')" class="time-input" [maskito]="maskTime" type="text" value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateStart, 'standart')|date:'HH:mm'}}" #startSeansInput{{i_s}}>
                          </div>
                                <ion-modal [keepContentsMounted]="true">
                                  <ng-template>
                                    <ion-datetime
                                      value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateStart, 'iso')}}"
                                      (ionChange)="testDate($event,i,i_s,'start')"
                                      presentation="date"
                                      id="{{'eventStart-'+i+'-'+i_s}}"
                                      [firstDayOfWeek]="1"
                                      [showDefaultButtons]="true"
                                      [displayFormat]="'MM/YYYY'"
                                      [pickerFormat]="'MMMM YYYY'"
                                      doneText="Ok"
                                      cancelText="Отмена"
                                      locale="ru-RU"
                                      ></ion-datetime>
                                  </ng-template>
                                </ion-modal>
                          <ion-col style="margin-top: -1rem;">
                            <ion-col style="display: flex; justify-content: center; align-items: center;" >Конец мероприятия</ion-col>
                            <div class="time-input-wrapper">
                                <ion-datetime-button style="display: flex; justify-content: center; align-items: center; width: 50%;"
                                datetime="{{'eventEnd-'+i+'-'+i_s}}"
                                class=""
                              ></ion-datetime-button>
                              <input (input) = "testTime($event,i,i_s,'end')" class="time-input" [maskito]="maskTime" type="text" value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateEnd, 'standart')|date:'HH:mm'}}">
                            </div>
                                    <ion-modal [keepContentsMounted]="true">
                                      <ng-template>
                                        <ion-datetime
                                          value="{{this.formatingTimeToInput(this.createEventForm.value.places[i].value.seances[i_s].value.dateEnd, 'iso')}}"
                                          (ionChange)="testDate($event,i,i_s,'end')"
                                          id="{{'eventEnd-'+i+'-'+i_s}}"
                                          [firstDayOfWeek]="1"
                                          [showDefaultButtons]="true"
                                          presentation="date"
                                          doneText="Ok"
                                          cancelText="Отмена"
                                          locale="ru-RU"
                                        ></ion-datetime>
                                      </ng-template>
                                    </ion-modal>
                          </ion-col>
                        </ion-card>
                      </ion-item>
                      <ion-col style="display: flex; justify-content: center; align-items: center;">
                        <ion-button (click)="addSeances(i)">
                          Добавить время
                        </ion-button>
                      </ion-col>
                      
                    <ion-card-content>
                      <ion-item  fill="outline" class="ion-margin-vertical" >
                        <ion-icon name="earth" slot="start"  size="small" color="primary"></ion-icon>
                        <ion-input  fill="outline" formControlName="address" value="{{this.createEventForm.controls['places'].value[i].controls['address'].value}}" (ionChange)="clearSearche($event, i)" placeholder="Адрес мероприятия..." id="{{'search-map-'+i}}" type="text" name="search" required></ion-input>
                      </ion-item>
                      <div class="map">
                        <ya-map (ready)="onMapReady($event, i)"
                          [zoom]="11"
                          (yaclick)="onMapClick($event, i)"
                          [center]="this.createEventForm.controls['places'].value[i].coords"
                          [state]="{
                            controls: [
                              'zoomControl',
                              'fullscreenControl',]
                            }"
                          [options]="{
                            yandexMapDisablePoiInteractivity: true,
                            maxZoom:18,
                            suppressMapOpenBlock: true,
                            suppressObsoleteBrowserNotifier: true
                          }"
                        >
                        </ya-map>
                      </div>
                    </ion-card-content>
                 
                  </div>

                </ion-card>

              </ng-container>
            </ion-col>

            <ion-col *ngIf="mobile" style="margin-bottom:10rem; display:flex; align-items: center; justify-content: center;">
              <ion-button color="primary" class="" (click)="addPlaceForm()">
              Добавить место проведения
              </ion-button>
            </ion-col>
          </ion-col>

      </ion-row>

      <!-- шаг 5 -->
      <ion-row class="tiket-main"  [hidden]="stepCurrency !== 4">
        <ion-col *ngIf="stepCurrency === 4" class="ion-justify-content-center" @fade>
          <ion-card class="test" *ngIf= "this.createEventForm.controls['price'].value.length === 0">
            <ion-item >
              <ion-label style="color:black">
                Вход свободный
              </ion-label>
            </ion-item>
         
          </ion-card>
          <ion-card class="test" *ngFor="let item of createEventForm.controls['price'].value; let i_p = index">
            <ng-container [formGroup]="createEventForm.controls['price'].value[i_p]">
              <ion-card-hider>
                <ion-item >
                  <ion-icon name="pricetag-outline" color="primary"></ion-icon>
                  <ion-label style="color:black">
                    <h1> Цена {{i_p+1}}</h1>
                  </ion-label>
                    <ion-chip color="danger" (click)="deletePrice(i_p)">Удалить
                      <!-- <ion-icon name="close-outline"></ion-icon> -->
                    </ion-chip>
                </ion-item>
              </ion-card-hider>
              <ion-item>
                <ion-icon name="text-outline" slot="start"  size="small" color="primary"></ion-icon>
                <ion-input  formControlName="cors_rub" type="number" name="price" placeholder="Бесплатно"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Описание</ion-label>
                <ion-icon name="text-outline" slot="start"  size="small" color="primary"></ion-icon>
                <ion-textarea formControlName="description" type="text" name="price"></ion-textarea>
              </ion-item>
            </ng-container>
          </ion-card>
          <ion-chip style="margin-bottom: 2rem;" color="primary" class="ion-justify-item-center" (click)="addPrice()">
            <ion-label>Добавить цену</ion-label>
            <ion-icon name="add-outline"></ion-icon>
          </ion-chip>
          <ion-col style="margin-top: 15px;" size-lg="4" size-md="8" size-xs="12" @fade>
            <ion-item fill="outline">

              <ion-textarea formControlName="materials" placeholder="Cсылки на фото, пост вк, оплату билетов и.т.д..." [autoGrow]="true"></ion-textarea>
            </ion-item>
          </ion-col>
            <ion-col>

            </ion-col>
        </ion-col>
      </ion-row>
      <!-- предпросмотр -->
      <ion-row class="view-main"  [hidden]="stepCurrency !== 5">
        <ion-col>
          <ng-container *ngIf="stepCurrency === 5">
            <app-event-show [createObj] = "createObj"></app-event-show>
            <ion-radio-group formControlName="status" (ionChange)="selectedStatus($event)" [value]="statusSelected" required>
              <ng-container *ngIf="!statusesLoaded">
                <ng-container *ngFor="let key of [1,2,3,4,5]">
                  <ion-item>
                    <ion-avatar>
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-avatar>
                    <ion-label class="ion-padding-start">
                      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                    </ion-label>
                  </ion-item>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="statusesLoaded">
                <ng-container *ngFor="let status of statuses">
                  <ion-item *ngIf="status.name === 'Новое'">
                    <ion-icon name="checkmark-done" slot="start" color="success" size="large"></ion-icon>
                    <ion-label>Отправить на модерацию</ion-label>
                    <ion-radio slot="end" [value]="status.id"></ion-radio>
                  </ion-item>

                  <ion-item *ngIf="status.name === 'Черновик'">
                    <ion-icon name="create" slot="start" color="medium" size="large"></ion-icon>
                    <ion-label>Оставить в черновиках</ion-label>
                    <ion-radio slot="end" [value]="status.id"></ion-radio>
                  </ion-item>
                </ng-container>
              </ng-container>

            </ion-radio-group>
          </ng-container>

        </ion-col>
      </ion-row>

       <!-- Десктопный блок кнопок -->

      <!-- Фиксированный блок кнопок для мобилы-->
      <div class="buttons-mobile">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-button *ngIf="stepCurrency !== stepStart"  (click)="stepPrev()" expand="block"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button *ngIf="stepCurrency !== steps"  (click)="stepNext()" expand="block">Далее <ion-icon name="chevron-forward" slot="end"></ion-icon></ion-button>
            <ion-button *ngIf="stepCurrency === steps" type="submit" [disabled] ="createEventForm.invalid || createEventForm.disabled" expand="block"><ion-icon name="checkmark-done-outline" slot="start"></ion-icon>Готово</ion-button>
          </ion-col>
        </ion-row>
      </div>

    </form>
  </ion-grid>

</ion-content>
