
<ion-content mode="md">
  <app-second-header>
    <app-circle-button (click)="stepPrev()" icon="/assets/icons/arrow.svg" ></app-circle-button>
    <span class="header-title">
      Создание
    </span>
    <div class="next-button-wrapper">
      <app-circle-button  [disabled]="stepInvalidate()" *ngIf="stepCurrency !== maxStepsCount" (click)="stepNext()" icon="/assets/icons/arrow.svg"></app-circle-button>
      <app-circle-button  style="opacity: 0;"  *ngIf="stepCurrency === maxStepsCount" icon=""></app-circle-button>
    </div>
  </app-second-header>
  <div class="main-content">
    <app-step-container [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency">
      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="1">
        <div class="main-content__step-wrapper">
          <app-standart-input [label]="'Название события'" [control] = "createEventForm.get('name')"></app-standart-input>
          <div class="organization-select-wrapper">
            <app-organizations-select-container [spiner]="organizationSpiner" (closeModal)="closeOrganizationModal()" (openModal)="openOrganizationModal()" [modalValue]="organizationModalValue" (endScroll)="getUserOrganization()" [selectedName]="selectedName" *ngIf="userHasOrganization"  (selectOrganization)="selectOrganization($event)" [cards]="organizations"/>
          </div>
            <app-types [buttonClicked]="currentType" [types]="types" (typeOutput)="receiveType($event)"></app-types>
        </div>
      </app-step-container-item>
      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="2">
        <div class="main-content__step-wrapper">
          <div class="load-for-vk-button-wrapper">
            <app-standart-button *ngIf="checkSocialVk" (click)="openModalGroup()" icon="/assets/icons/vk.svg" buttonText="Загрузить из ВК" theme="light"></app-standart-button>
            <app-standart-button *ngIf="!checkSocialVk" (click)="showVkToast()" [disabled]="true" icon="/assets/icons/vk.svg" buttonText="Загрузить из ВК" theme="light"></app-standart-button>

          </div>
          <app-edit-slider [categoryType]="types[currentType[0] - 1]" type="create" [vkFiles]="vkFiles" (deleteVkfilesEmit)="deleteVkFiles($event)" (filesEmit)="onFileChange($event)" [previews]="uploadFiles" [files]="uploadFiles" ></app-edit-slider>
          <app-standart-rich-input [label]="'Описание'" [control] = "createEventForm.get('description')"></app-standart-rich-input>
        </div>
      </app-step-container-item>
      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="3">
        <div class="place-container">
          <div class="not-found-span-container">
            <span class="not-found-span" *ngIf="this.createEventForm.value && this.createEventForm.value.places.length === 0">Место проведения не добавлено</span>
          </div>
            <ng-container *ngFor="let place of this.createEventForm.value.places; let i = index">
                <app-new-place
                [placeId]="i"
                (addressEditEmit)="editAddress($event)"
                (placeDeleteEmit)="deletePlace($event)"
                (seanceEmit)="addSeances($event)"
                (seanceEditEmit)="editSeances($event)"
                (seanceDeleteEmit)="deleteSeances($event)"
                [place]="place"
              >
              </app-new-place>
            </ng-container>
            <div class="place-container_add-new-place-button">
              <app-standart-button (click)="addPlace()" buttonText="Добавить место" type="button" theme ="light"></app-standart-button>
            </div>
      </div>
      </app-step-container-item>
      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="4">
        <div class="prices-container">
              <!-- <app-standart-input *ngFor="let price of event.price; let i = index" [label]="'Стоимость '+ (i+1)" [control] = "editForm.get('name')"></app-standart-input> -->
               <ng-container *ngFor="let price of this.createEventForm.value.price; let i = index">
                  <div *ngIf="!entranceFree" class="price-container-item-wrapper">
                      <app-new-price [form]="createEventForm" *ngIf="!price.on_delete" [price]="price" (addPriceEmit)="setValuePrice($event)" (deletePriceEmit)="deletePrice($event)" [price]="price"></app-new-price>
                  </div>
               </ng-container>

               <div *ngIf="entranceFree" class="not-found-span-container">
                <span class="not-found-span">Вход свободный</span>
              </div>
          <div class="button-conatiner">
              <div class="button-container-item">
                <app-standart-button  (click)="addPrice()" buttonText="Добавить билет" type="button" theme ="light"></app-standart-button>
              </div>
          </div>
          <app-standart-input [label]="'Ссылка на билеты'" placeholder="Введите ссылку на оплату если она есть" [control] = "createEventForm.get('materials')"></app-standart-input>
          <div class="select-old">
            <div class="label">Возрастное ограничение</div>
            <div class="select-old-wrapper">
              <ion-select interface="popover" value="18" mode="ios" placeholder="18+" okText="Выбрать возраст" cancelText="Отмена" (ionChange)="setAgeLimit($event)">
                <ion-select-option value="0">0+</ion-select-option>
                <ion-select-option value="6">6+</ion-select-option>
                <ion-select-option value="12">12+</ion-select-option>
                <ion-select-option value="16">16+</ion-select-option>
                <ion-select-option value="18">18+</ion-select-option>
              </ion-select>
            </div>
          </div>

      </div>
      </app-step-container-item>
    </app-step-container>

    <div class="navigate-buttons-container">

      <!-- <app-standart-button [disabled]="stepInvalidate()" *ngIf="stepCurrency !== maxStepsCount" (click)="stepNext()" buttonText="Далее" theme="standart"></app-standart-button> -->
      <app-standart-button [disabled]="stepInvalidate()" *ngIf="stepCurrency === maxStepsCount" (click)="onSubmit()" buttonText="Сохранить и закрыть" theme="standart"></app-standart-button>
      <div class="cancel-wrapper">
        <div class="cancel-wrapper_container">
          <app-standart-button (click)="openModalCancel()" buttonText="Отмена" theme="light"></app-standart-button>
        </div>
        <div *ngIf="stepCurrency !== maxStepsCount" class="cancel-wrapper_container">
          <app-standart-button  [disabled]="stepInvalidate()" (click)="stepNext()" buttonText="Далее" theme="standart"></app-standart-button>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-modal  class="modal" backdropDismiss="false" [isOpen] ="openModalGroupValue" [canDismiss]="openModalGroupValue">
  <ng-template>
    <ion-content>
      <div class="select-group-modal">
        <div class="select-group-modal-header">
          Выберите сообщество, из которой следует загрузить посты
        </div>
        <div class="select-group-modal-close">
          <img src="assets/icons/close.svg" (click)="closeAllModals()"/>
        </div>
        <div class="vk-post-link-container">
          <app-standart-input placeholder="введите ссылку на пост" style="margin-top: -0.75rem; width: 100%;" [control] = "createEventForm.get('vkPostLink')"></app-standart-input>
          <app-standart-button (click)="selectVkPostByUrl()" style="width: 30%;" buttonText="Загрузить" theme="standart"></app-standart-button>
        </div>
        <div class="select-group-modal-content">
          <div *ngIf="vkGroups" class="group-item-container">
            <div class="group-item">
              <img class="group-item-icon" alt="ava" src="/assets/icons/favicon.png" />
              <div class="group-item-text" (click)="selectedVkGroup( user.social_account.provider_id)"  (click) = "openModalPost( user.social_account.provider_id)" (click)="saveChangeId()">Моя страница</div>
            </div>
            <div *ngFor="let group of vkGroups" class="group-item" (click)="selectedVkGroup(-group.id)"  (click) = "openModalPost(-group.id)" (click)="saveChangeId()">
              <img class="group-item-icon" alt="ava" [src]="group.photo_50" />
              <div class="group-item-text">{{ group.name }}</div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- <ion-list>
            <ion-list-header>
              <ion-label class="modalLabel">Выберите сообщество, из которой следует загрузить посты</ion-label>
            </ion-list-header>
           
            <ion-radio-group *ngIf="vkGroups" (ionChange)="selectedVkGroup($event); openModalPost($event); saveChangeId()" [allowEmptySelection]="true" [value]="vkGroupSelected">
              <ng-container>
                <ion-item>
                  <ion-avatar>
                    <img alt="ava" src="/assets/icons/favicon.png" />
                  </ion-avatar>
                  <ion-label class="ion-padding-start">Моя страница</ion-label>
                  <ion-radio slot="end" value="{{ user.social_account.provider_id }}"></ion-radio>
                </ion-item>
              </ng-container>
              
              <ng-container *ngFor="let group of vkGroups">
                  <ion-item>
                    <ion-avatar>
                      <img alt="ava" src="{{ group.photo_50 }}" />
                      <img alt="ava" src="{{ group.photo_50 }}" />
                    </ion-avatar>
                    <ion-label class="ion-padding-start">{{ group.name }}</ion-label>
                    <ion-radio  slot="end" value="-{{ group.id }}"></ion-radio>
                  </ion-item>
              </ng-container>
            </ion-radio-group>
        </ion-list>
        <ion-button class="modalBtnBottom" (click)="closeAllModals()">
          Закрыть
        </ion-button> -->
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal mode="md" class="modal"  backdropDismiss="false" [isOpen]="openModalPostValue" [canDismiss]="openModalPostValue">
          <ng-template>
              <ion-content>
                <ion-button class="backToGroupBtn" (click)="closeModalPost()">
                  Вернутся к выбору сообщества
                </ion-button>
                <ion-list-header>
                  <ion-label>Выберите пост, из которого следует загрузить текст и фото (загружены последние 10 постов). Если вы выберите пост, то шаги 4 и 5 (описание мероприятия и загрузка фото) будут скрыты, так как они автоматически заполнятся из поста.</ion-label>
                </ion-list-header>

                <div *ngIf="vkGroupPosts; else notSelectedGroup">
                  <!-- Скелетна анимация -->
                  <ng-container *ngIf="!vkGroupPostsLoaded">
                    <ng-container *ngFor="let key of [1,2]">
                      <ion-card>

                        <ion-item class="ion-margin-end">
                          <ion-avatar slot="start">
                            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                          </ion-avatar>
                          <ion-label>
                            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                          </ion-label>
                        </ion-item>
                        <ion-card-content>
                          <ion-skeleton-text [animated]="true" style="height: 100px;"></ion-skeleton-text>
                        </ion-card-content>
                        <ion-row class="ion-padding-horizontal">
                          <ng-container  *ngFor="let key of [1,2,3]">
                            <ion-col size="4" class="ion-align-self-center ion-justify-content-center">
                              <ion-skeleton-text [animated]="true" style="height: 80px;"></ion-skeleton-text>
                            </ion-col>
                          </ng-container>
                        </ion-row>

                      </ion-card>

                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="vkGroupPostsLoaded">
                    <ng-container *ngFor="let post of vkGroupPosts.items; let i = index">
                      <ion-card *ngIf="!post.copy_history">
                        <ng-container *ngIf="vkGroupPosts.profiles">
                        <ng-container *ngFor="let profile of vkGroupPosts.profiles; index as i" class="card-profile">
                          <ion-item *ngIf="i === 0" class="ion-margin-end">
                            <ion-avatar slot="start">
                              <img alt="ava" src="{{ profile.photo_50 }}" />
                            </ion-avatar>
                            <ion-label>{{ profile.first_name }}</ion-label>
                          </ion-item>
                        </ng-container>
                        </ng-container>

                        <ion-card-content *ngIf="post.text">
                          <app-read-more text="{{ post.text }}"></app-read-more>
                        </ion-card-content>
                        <!-- Фото во вложении -->
                        <swiper-container
                          #swiper
                          autoplay="true"
                          autoplay-delay="5000"
                          autoplay-disableOnInteraction="false"
                          navigation="true"
                          [pagination]="true"
                          [grabCursor]="true"
                          [zoom]="false"
                          [slidesPerView]="1"
                          [centeredSlides]="true"
                          [followFinger]="true"
                          [loop]="true"
                          [initialSlide]="0"
                          *ngIf="post.attachments" class="card-container-content">
                          <ng-container *ngFor="let attachment of post.attachments">
                            <ng-container *ngIf="attachment.photo" >
                              <ng-container *ngFor="let photo of attachment.photo.sizes">
                                <swiper-slide *ngIf="photo.type === 'x'">
                                  <a href="{{photo.url}}" target="_blank">
                                    <img class="swiper-img" alt="ava" [src]="photo.url"/>
                                  </a>
                                </swiper-slide>

                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </swiper-container>

                        <ng-container *ngIf="post.attachments" class="card-container-content">
                          <ng-container *ngFor="let attachment of post.attachments">
                            <!-- Видео во вложении -->
                            <ng-container *ngIf="attachment.video" >
                              <ion-col class="video_col">
                                    <span class="video-title">{{ attachment.video.title }}</span>
                                    <iframe class="video_content" [src]="attachment.video.owner_id | safeVideoById:attachment.video.id" allow="autoplay; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
                                    <p>Описание видео: </p>
                                    <app-read-more *ngIf="attachment.video.description" text="{{ attachment.video.description }}"></app-read-more>
                                </ion-col>
                            </ng-container>

                            <!-- Ссылки во вложении -->
                            <ion-card ng-container *ngIf="attachment.link">
                              <ion-item button detail="true" href="{{ attachment.link.url }}" *ngIf="attachment.link">
                                <ion-thumbnail  slot="start">
                                    <img class="imgPost" src="{{attachment.link.photo.sizes[1].url}}"/>
                                </ion-thumbnail>
                                <ion-label>
                                  <h3>{{ attachment.link.title }}</h3>
                                  <p>{{attachment.link.caption}}</p>
                                </ion-label>
                              </ion-item>
                            </ion-card>
                          </ng-container>
                        </ng-container>

                        <ion-footer>
                          <div class="ion-text-end">
                            <ion-button (click)="closeAllModals()" (click)="selectedVkGroupPost(post)" class="ion-margin" [color]="vkGroupPostSelected?.id === post.id ? 'success' : 'medium'">
                              <ion-icon  *ngIf="vkGroupPostSelected?.id === post.id" name="checkmark-outline" slot="start"></ion-icon>
                              {{ vkGroupPostSelected?.id === post.id ? 'Выбрано' : 'Выбрать'}}
                            </ion-button>
                          </div>
                        </ion-footer>
                      </ion-card>

                    </ng-container>
                  </ng-container>
                </div>

                <ng-template #notSelectedGroup>
                  <ion-row>
                    <ion-list-header>
                      <ion-note color="medium" class="ion-padding-vertical">Вы не выбрали сообщество, для выбора вернитесь назад и выберите сообщество (шаг 1)</ion-note>
                    </ion-list-header>
                  </ion-row>
                </ng-template>

              </ion-content>
          </ng-template>

</ion-modal>

<app-confirm-modal (cancel)="cancelEdit()" (confirm)="cancelConfirm()" [openModal]="cancelConfirmValue"></app-confirm-modal>
