.range-radius-main_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
  top: 38%;
  border-radius: 16px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  height: 32%;
}
.range-radius-main_2 ngx-slider {
  max-height: 80%;
}

.range-selection {
  position: absolute;
  right: 0;
  padding-right: 1.5rem;
  top: 15%;
}

.calendula-wrapper {
  transform: translateY(0%);
  transition: 0.6s all;
  opacity: 1;
}

.type-wrapper_toolbar {
  background-color: none;
  --background: none;
  --margin: 0;
  --padding: 0;
  --min-height: auto;
}

::ng-deep {
  .range-radius-custom {
    /* Добавьте свои стили */
  }
  .range-radius-main_2 .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
    background-color: #ffffff;
  }
  .range-radius-main_2 .ngx-slider .ngx-slider-bubble {
    display: none;
  }
  .range-radius-main_2 .ngx-slider .ngx-slider-active {
    z-index: -2;
    border: none;
  }
}
.test {
  display: none;
}
.range-radius-main-plus {
  font-size: 3rem;
}

.map {
  position: fixed;
  z-index: -2;
  width: 100%;
  height: 93.5vh;
}
.map ion-progress-bar {
  position: relative;
  z-index: 2;
}
.map .sight-carusel-container {
  transition: 0.5;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  top: 4rem;
  width: 100%;
  z-index: 1;
}

.range-radius-main {
  margin-left: 12px;
  height: 300px;
  max-width: 44px;
  background-color: #fff;
  border-radius: 16px;
  background-color: none;
  position: absolute;
  top: 20rem;
  z-index: 100000;
}

.range-radius-custom-info {
  text-align: center;
  height: 1rem;
  width: 2rem;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: #0085ff;
}

.range-radius {
  min-width: 100%;
  transform: rotate(271deg);
}

.loader {
  position: absolute;
  top: 15%;
}

.buttons-wrapper {
  display: flex;
  position: absolute;
  top: 3.5rem;
  padding: 1rem;
  z-index: 99999;
}

.container-swither {
  position: absolute;
  cursor: pointer;
  top: 26%;
  margin-top: 1%;
  margin-right: 1.1rem;
  padding: 5px;
  right: 0;
  z-index: 103;
  width: 50px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
}

.swither-text {
  position: absolute;
  opacity: 0;
  font-family: 'Montserrat-Medium';
  transition: 0.1s all;
}

.swither-text_open {
  position: absolute;
  font-family: 'Montserrat-Medium';
  opacity: 1;
  transition: 1s all;
  cursor: pointer;
}

.container-swither:hover {
  transition: 0.3s all;
  width: 140px;
  .swither-text {
    font-family: 'Montserrat-Medium';
    opacity: 1;
    transition: 1s all;
    cursor: pointer;
  }
}

.container-swither_open {
  right: 0;
  position: absolute;
  cursor: pointer;
  top: 26%;
  margin-top: 1%;
  margin-right: 1.1rem;
  margin-left: auto;
  padding: 5px;
  z-index: 103;
  width: 140px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s all;
}

.geo-container {
  position: fixed;
  top: 75%;
  right: 0;
  margin-right: 4.5rem;
  z-index: 4;
}

.modalButton {
  position: fixed;
  padding: 4px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.geo-button-container {
  width: 48px;
  display: flex;
  height: 48px;
  box-shadow: 3px 3px 5px rgb(219, 218, 218);
  background-color: #ffffff;
  border-radius: 100%;
  align-items: center;
}

@media only screen and (min-height: 750px) {
  .range-radius-main_2 {
    top: 41%;
  }
  .geo-container {
    top: 76%;
  }
}

@media only screen and (max-height: 890px) {
  .range-radius-main {
    top: 14rem;
  }
}

@media only screen and (max-height: 768px) and (max-width: 768px) {
  .map {
    height: 92vh;
  }

  .container-swither {
    top: 28%;
  }
  .range-radius-main {
    height: 15rem;
    margin-top: 21vh;
  }
  .range-radius-main ngx-slider {
    height: 8rem;
  }
  .range-radius-main {
    max-height: 239px;
  }
}
@media only screen and (max-height: 670px) {
  .range-radius-main {
    top: 6rem;
  }
}

@media only screen and (max-width: 768px) and (max-height: 705px) {
  .container-swither {
    top: 28%;
  }
}

@media only screen and (max-width: 768px) and (max-height: 890px) {
  .map {
    height: 92vh;
  }

  .container-swither {
    top: 21%;
  }
  .range-radius-main {
    top: 10rem;
    margin-top: clamp(1rem, calc(27.176rem + -41.2vw), 4rem);
  }
  .range-radius-main ngx-slider {
    max-height: clamp(5rem, -6rem + 57vw, 67rem);
  }
  .range-radius-main {
    height: clamp(16rem, calc(2.564rem + 32.82vw), 24rem);
  }
  .range-radius-custom {
  }
}
//iphone se
@media only screen and (max-width: 380px) {
  .range-radius-main ngx-slider {
    max-height: clamp(5rem, -6rem + 47vw, 67rem);
  }
  .range-radius-main {
    top: 8rem;
  }
}

@media only screen and (max-height: 730px) {
  .range-radius-main {
    height: 12rem;
  }
  .range-radius-main ngx-slider {
    max-height: 5rem;
  }
}

.geo-button-container:hover {
  cursor: pointer;
}

.geo-button {
  margin-left: auto;
  margin-right: auto;
}

.calendula-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

.swither {
  padding: 6px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  transition: 0.2s ease-in-out;
}

.swither:hover {
  background-color: rgba(181, 182, 187, 0.15);
  border-radius: 24px;
}

.swither-icon-range {
  margin-left: 70px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 16px;
}

.swither-icon {
  z-index: 5;
  margin-left: auto;
  width: 28px;
  height: 28px;
  filter: invert(45%) sepia(45%) saturate(7477%) hue-rotate(194deg)
    brightness(102%) contrast(108%);
}

input[type='radio'] {
  display: none;
  width: 0;
}

.swither-bg {
  background-color: rgba(209, 210, 216, 0.548);
  transition: transform 0.2s ease-in-out;
  height: 40px;
  width: 40px;
  right: 0;
  margin-right: 5px;
  position: absolute;
  border-radius: 24px;
  top: 5px;
}

.events-counter {
  background: rgba(0, 0, 0, 0.631372549);
  color: #fff;
  position: absolute;
  z-index: 999;
  left: 44%;
  top: 5rem;
  width: 16rem;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.px-5px {
  padding-right: 5px;
}

.counter {
  color: #fbff09;
}

ion-spinner {
  width: 13px;
  height: 13px;
}

.icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('/assets/my_geo.svg');
  background-repeat: no-repeat;
}

::ng-deep .balloon-title {
  font-size: 1.5rem;
  padding: 1rem;
}

::ng-deep .balloon-photos {
  padding: 0 1rem 1rem;
  display: flex;
  position: relative;
  justify-items: stretch;
  flex-wrap: wrap;
  gap: 0.2rem;
  img {
    height: 80px;
  }
}

::ng-deep .balloon-description {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-style: italic;
  color: #737373;
}

::ng-deep .balloon-subtitle {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  font-style: italic;
  color: #737373;
}

@media screen and (min-width: 1060px) and (max-height: 750px) {
  .range-radius-main_2 {
    top: 45%;
  }
  .geo-container {
    top: 80%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1060px) {
  .map ion-progress-bar {
    top: 3.5rem;
    position: absolute;
    z-index: 2;
  }
  .map .sight-carusel-container {
    transition: 0.5;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    top: 3.5rem;
    width: 100%;
    z-index: 1;
  }
  .buttons-wrapper {
    top: 2.8rem;
  }
  .calendula-container {
    // margin-top: 56px;
  }

  .filters {
    position: fixed;
    bottom: 5rem;
    right: 1.5rem;
    z-index: 9999;
  }
  ion-modal {
    --border-radius: 8px !important;
  }
  ion-button.md.button-small {
    --padding-start: 0.6em;
    --padding-end: 0.6em;
  }
  .events-counter {
    left: 15%;
    top: 7rem;
  }
  .modalButton {
    bottom: 56px;
  }
  #modalEventShow {
    ion-row {
      margin-bottom: 6.5rem;
    }
  }
}

@media screen and (min-width: 1060px) {
}

@media (max-width: 768px) {
  .container-swither:hover {
    transition: 0.3s all;
    width: 50px;
    .swither-text {
      opacity: 0;
      transition: 0.1s all;
    }
  }
  .modalButton {
    bottom: 56px;
  }
}

@media (min-width: 1068px) {
  #modalEventShow::part(content) {
    --background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    height: 87%;
    bottom: 10%;
    left: 0;
  }
  #modalEventShow ion-toolbar {
    --background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
  }
}

@media screen and (min-width: 1060px) and (max-width: 1272px) {
  .map ion-progress-bar {
    top: 7.4rem;
    position: absolute;
    z-index: 2;
  }
  .map .sight-carusel-container {
    transition: 0.5;
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    top: 7rem;
    width: 100%;
    z-index: 1;
  }
  .buttons-wrapper {
    top: 7rem;
  }
  .events-counter {
    top: 8rem;
  }
}
