.map {
	width: 100%;
	height: 94vh;
	ion-progress-bar {
		position: absolute;
		z-index: 2;
	}
	app-sight-type-carusel{
		transition: 0.5;
		position: absolute;
		margin-left: 0px;
		margin-right: 0px;
		top: 4rem;
		width: 100%;
		height: 10px;
		z-index: 1;
	}
}

.loader {
	
	position: absolute;
	top: 15%;
}

.buttons-wrapper{
	display: flex;
    position: absolute;
    top: 3.5rem;
    padding: 1rem;
    z-index: 99999;
	
}
.container-swither{
	
    position: absolute;
	top: 65%;
	margin-top: 1%;
	margin-left: 10px;
	padding: 5px;
    z-index: 3;
	background-color: white;
	border-radius: 16px;
	display: flex;
  	flex-direction: column; 
  	justify-content: space-around; 
 

}
.content-swither{

}

.calendula-container{
	position: absolute;
	width: 100%;
	top: -40px;
	transition: 0.5s ease-in-out;
	z-index: 1;
}
.swither{
	padding: 6px;
	border-radius:24px;
	z-index: 2;
	transition: .2s ease-in-out;
}

.swither:hover{
	background-color: rgba(181, 182, 187, 0.15);
	border-radius:24px;
}


.swither-icon{
	width: 30px;
	height: 30px;
}

input[type="radio"]{
	display: none;
	width: 0;
  }


.swither-bg{
	background-color: rgba(209, 210, 216, 0.548);
	transition: transform .2s ease-in-out;
	height: 45px;
	width: 45px;
	left: 3px;
	z-index: 1;
	position: absolute;
	border-radius:24px;
	top: 5px;

}
.events-counter{
	background: rgba(0, 0, 0, 0.631372549);
    color: #fff;
    position: absolute;
    z-index: 999;
    left: 44%;
    top: 5rem;
    width: 16rem;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
	align-items: center;
    border-radius: 20px;

	span{
		padding-left: 5px;
	}
}

.px-5px{
	padding-right: 5px;
}

.counter{
	color: #fbff09;
}

ion-spinner{
	width: 13px;
	height: 13px;
}

.icon {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('/assets/my_geo.svg');
	background-repeat: no-repeat;
}

::ng-deep .balloon-title{
	font-size: 1.5rem;
    padding: 1rem;
}

::ng-deep .balloon-photos{
	padding: 0 1rem 1rem;
	display: flex;
    position: relative;
    justify-items: stretch;
    flex-wrap: wrap;
    gap: 0.2rem;

	img{
		height: 80px;
	}
}

::ng-deep .balloon-description{
	padding: 1rem;
	font-size: 1rem;
    line-height: 1.5;
	font-style: italic;
	color:#737373;
}

::ng-deep .balloon-subtitle{
	padding: 0.2rem 1rem;
	font-size: 1rem;
	font-style: italic;
	color:#737373;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.map {
		ion-progress-bar {
			top: 3.5rem;
			position: absolute;
			z-index: 2;
		}
		app-sight-type-carusel{
			transition: 0.5;
			position: absolute;
			top: 3.5rem;
			width: 100%;
			height: 10px;
			z-index: 1;
		}
	}
	.buttons-wrapper{
		top: 2.8rem;
	}

	.calendula-container{
		margin-top: 56px;
	}

	

	.filters{
		position: fixed;
		bottom: 5rem;
		right: 1.5rem;
		z-index: 9999;
	}

	ion-modal {
		--border-radius: 8px!important;
	}

	ion-button.md.button-small{
		--padding-start: 0.6em;
		--padding-end: 0.6em;
	}

	.events-counter{
		left: 15%;
    	top: 7rem;
	}

	#modalEventShow {
		ion-row{
			margin-bottom: 6.5rem;
		}
	}
}

@media(min-width: 768px) {
	#modalEventShow {
		&::part(content){
            // position: absolute;
			// height: 32rem;
			// bottom: 10%;
    		// left: 0;
			// padding: 1rem;
			// background: transparent;
    		// box-shadow: none;
			--background: rgba(255, 255, 255, 0.4);
			backdrop-filter: blur(5px);
			height: 87%;
			bottom: 10%;
			left: 0;
        }
		ion-toolbar {
			--background: rgba(255, 255, 255, 0);
			 backdrop-filter: blur(5px);
		}
		
	}
}

@media screen and (min-width: 769px) and (max-width: 1313px) {
	.map {
		ion-progress-bar {
			top: 7.4rem;
			position: absolute;
			z-index: 2;
		}
		app-sight-type-carusel{
			transition: 0.5;
			position: absolute;
			margin-left: 0px;
			margin-right: 0px;
			top: 7rem;
			width: 100%;
			height: 10px;
			z-index: 1;
		}
	}
	.buttons-wrapper{
		top: 7rem;
	}

	.events-counter{
		top: 8rem;
	}
	
}