<meta name="description" content="Узнайте какие события и достопремечательности проходят рядом с вами и в вашем городе.">
<ion-content>
    <div class="buttons-wrapper">
      <div class="filters">
        <!-- <app-filters></app-filters> -->

      </div>
    </div>

    <div class="calendula-container" #calendula [ngStyle]="{'top':headerHeight.offsetHeight + 'px'}">
      <app-calendula (dateOutput)="setDate($event)" [date]="date"/>
      <app-event-type-carusel (typeOutput)="eventTypesChange($event)" [type_id]="eventTypeId"></app-event-type-carusel>
    </div>



    <div class="range-radius-main">

      <div class="range-radius-custom" style="height: 208px;">
        <ion-icon (click)="radiusPlus()" name="add-outline" class="swither-icon-range" color="primary"></ion-icon>

          <ngx-slider style="border:none"
          [value]="radius"
          [options]="options"
          (userChange)="radiusChange($event)"
          ></ngx-slider>
          <ion-icon (click)="radiusMinus()" name="remove-outline" class="swither-icon-range " color="primary"></ion-icon>
      </div>

      <!-- <ion-row class="" >
        <ion-range class="range-radius"
        [ticks]="true"
        [snaps]="true"
        [min]="1"
        [max]="25"
        [pin]="true"
        [value]="radius"
        [pinFormatter]="pinRadiusFormatter"
        (ionKnobMoveEnd)="radiusChange($event)"
        ></ion-range>

        <ion-label class="ion-padding-horizontal">{{ radius }} км.</ion-label>
      </ion-row> -->
    </div>

    <div class="container-swither">

      <div class="swither" (click)="onSegmentChanged(event, 1)" (click)="stateType='events'" (click)="getEventsAndSights()" #event>
        <ion-icon name="balloon" class="swither-icon" color="primary"></ion-icon>
      </div>
      <div class="swither-bg" #buttonActive></div>
      <div class="swither test" (click)="onSegmentChanged(sight, 2)" (click)="stateType='sights'" (click)="getEventsAndSights()" #sight>
        <ion-icon name="prism" class="swither-icon" color="primary"></ion-icon>
      </div>
      <!-- <div class="swither" (click)="onSegmentChanged(new, 3)" #new>
        <ion-icon name="flame" class="swither-icon" color="primary"></ion-icon>
      </div> -->
    </div>

    <div class="geo-container">
      <div class="geo-button-container" (click)="getGeoPosition()">
        <ion-icon class="geo-button" color="primary" name="locate-outline" size="large"></ion-icon>
      </div>
    </div>


  <div class="map">
    <ion-progress-bar type="indeterminate" *ngIf="eventsLoading && sightsLoading"></ion-progress-bar>
    <div class="sight-carusel-container">
      <app-sight-type-carusel (typeOutput)="sightTypesChange($event)" *ngIf="stateType === 'sights'" [type_id]="sightTypeId"></app-sight-type-carusel>
    </div>
    <ya-map (ready)="onMapReady($event)"
      [zoom]="15"
      [center]="[0,0]"
      [state]="{controls: ['zoomControl']}"
      [options]="{
        yandexMapDisablePoiInteractivity: true,
        minZoom:minZoom,
        maxZoom:18,
        suppressMapOpenBlock: true,
        suppressObsoleteBrowserNotifier: true
      }"
    >
    </ya-map>
  </div>

  <!-- Модальное окно просмотр ивента / места при клике метки на карте -->
  <ion-modal id="modalEventShow" [isOpen]="modalEventShowOpen" (ionModalDidDismiss)="modalClose()" (ionBreakpointDidChange)="modalClose()" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.9]" >
    <div class="bg"></div>
    <ng-template>
      <!-- <ion-header color="black">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="modalClose()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ng-container *ngIf="modalContent">
          <ion-row class="ion-justify-content-start">
            <ion-col *ngFor="let item of modalContent; let i = index" size="12">
              <app-event-card [event]="item" [isSight]="item.type === 'sights' ? true : false"></app-event-card>
            </ion-col>
            <!-- <ion-col size="12">
              <app-event-card [event]="modalContent"></app-event-card>
            </ion-col> -->
          </ion-row>
        </ng-container>

        <ng-container *ngIf="!modalContent">
          <app-no-data/>
        </ng-container>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

