<ion-content>
    <div class="buttons-wrapper">
      
      <div class="filters">
        <!-- <app-filters></app-filters> -->
        
      </div>   
    </div>

    <div class="calendula-container" #calendula [ngStyle]="{'top':headerHeight.offsetHeight + 'px'}">
      <app-calendula (dateOutput)="setDate($event)" [date]="date"/>
    </div>
    

    
    
    <div class="container-swither">
      
      <div class="swither" (click)="onSegmentChanged(event, 1)" (click)="stateType='events'" (click)="getEventsAndSights()" #event>
        <ion-icon name="balloon" class="swither-icon" color="primary"></ion-icon>
      </div>
      <div class="swither-bg" #buttonActive></div>
      <div class="swither test" (click)="onSegmentChanged(sight, 2)" (click)="stateType='sights'" (click)="getEventsAndSights()" #sight>
        <ion-icon name="prism" class="swither-icon" color="primary"></ion-icon>
      </div>
      <div class="swither" (click)="onSegmentChanged(new, 3)" #new>
        <ion-icon name="flame" class="swither-icon" color="primary"></ion-icon>
      </div>
    </div>

  
  <div class="map">
    <app-sight-type-carusel (typeOutput)="sightTypesChange($event)"></app-sight-type-carusel>
    <ion-progress-bar type="indeterminate" *ngIf="eventsLoading && sightsLoading"></ion-progress-bar>
    <ya-map (ready)="onMapReady($event)"
      [zoom]="15"  
      [center]="[0,0]"
      [state]="{controls: ['zoomControl']}"
      [options]="{
        yandexMapDisablePoiInteractivity: true,
        minZoom:minZoom,
        maxZoom:18,
        suppressMapOpenBlock: true,
        suppressObsoleteBrowserNotifier: true
      }"
    >
    </ya-map>
  </div>

  <!-- Модальное окно просмотр ивента / места при клике метки на карте -->
  <ion-modal id="modalEventShow" [isOpen]="modalEventShowOpen" (ionModalDidDismiss)="modalClose()" (ionBreakpointDidChange)="modalClose()" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.9]" >
    <div class="bg"></div>
    <ng-template>
      <!-- <ion-header color="black">
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="modalClose()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ng-container *ngIf="modalContent">
          <ion-row class="ion-justify-content-start">
            <ion-col *ngFor="let item of modalContent; let i = index" size="12">
              <app-event-card [event]="item" [isSight]="item.type === 'sights' ? true : false"></app-event-card>
            </ion-col>
            <!-- <ion-col size="12">
              <app-event-card [event]="modalContent"></app-event-card>
            </ion-col> -->
          </ion-row>
        </ng-container>

        <ng-container *ngIf="!modalContent">
          <app-no-data/>
        </ng-container>
        
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

