.range-container {
  width: 2.2rem;
  height: 2rem;
  background-color:white;
  border-radius: 36px;
  transition: width 0.5s ease-in-out;
  padding-left: 0.325rem;
  padding-right: 0.325rem;
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.circle_container {
  display: flex;
}

.range-container.active {
  width: 12.8rem;
}

.range-element {
  text-align: center;
  min-width: 100%;
  color: var(--font-color);
  font-family: var(--font-bold);
  font-size: 0.75rem;
}

.range-element-number {

}

.range-element-text {

}
