<div
  class="range-container"
  [ngClass]="{'active': state}"
  (click)="changeState()"
  >
  <div class="circle_container">
    <app-circle-button
      *ngFor="let el of ['1', '2', '5', '10', 15, '25']">
      <div class="range-element">
        <div>{{ el }}</div>
        <div>км</div>
    </div>
  </app-circle-button>
  <app-circle-button
    theme="dark-all"
      >
      <div class="range-element">
        <div>30</div>
        <div>км</div>
    </div>
  </app-circle-button>
  </div>
</div>

