<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <img src="/assets/icons/favicon.png" alt="logo" class="logo" />
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h6 class="social-block-title">Войти через соц.сети:</h6>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <a href="{{ vkontakteAuthUrl }}" (click)="onLoading()"><ion-icon class="logo-vk" name="logo-vk"></ion-icon></a>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="3" size-xs="12">
        <ion-accordion-group class="mt-5">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Войти с помощью email:</ion-label>
            </ion-item>
            <div slot="content" class="ion-margin-top">
              <form [formGroup]="loginForm" (submit)="onSubmitLogin()" enctype="multipart/form-data"> 
                <ion-item fill="outline">
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-icon name="mail" slot="start" color="primary"></ion-icon>
                  <ion-input formControlName="email" type="email" name="email" required></ion-input>
                </ion-item>
                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                  <ion-note *ngIf="loginForm.controls['email'].hasError('email')" color="danger">Введите корректный email</ion-note>
                  <ion-note *ngIf="loginForm.controls['email'].hasError('required')" color="danger">Поле email не может быть пустым</ion-note>
                </div>
                
                <ion-item fill="outline" class="ion-margin-top">
                  <ion-label position="floating">Пароль</ion-label>
                  <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
                  <ion-input formControlName="password" type="password" name="password" required></ion-input>
                </ion-item>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="validation">
                  <ion-note *ngIf="!loginForm.controls['password'].hasError('minLength')" color="danger">Пароль должен содержать минимум 3 символа</ion-note>
                  <ion-note *ngIf="loginForm.controls['password'].hasError('required')" color="danger">Поле "Пароль" не может быть пустым</ion-note>
                </div>

                <ion-button type="submit" size="large" expand="block" class="ion-margin-top" [disabled] ="loginForm.invalid || loginForm.disabled">
                  <ion-icon name="log-in" slot="start"></ion-icon>
                  Вход
                </ion-button>

              </form>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

