
  <ion-modal class="vkPasswordModal" #modal [isOpen]="modalPass" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar class="vkPasswordModalHeader">
          <ion-title>Установить новый пароль</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-col class="vkPasswordModalMainWrapper">

      <ion-content class="ion-padding vkPasswordModalMain">
        <ion-item lines="none" [formGroup]="formSetPassword">

          <ion-col>

            <ion-item fill="outline" class="vkPasswordModalInput">
              <ion-label>

              </ion-label>
              <ion-input
                label="Введите пароль"
                labelPlacement="stacked"
                type="password"
                placeholder="Введите пароль"
                formControlName="password"
              ></ion-input>
            </ion-item>

              <ion-item fill="outline">
                <ion-label></ion-label>
                <ion-input
                label="Повторите введённый пароль"
                labelPlacement="stacked"
                type="password"
                placeholder="Повторите введённый пароль"
                formControlName="password_retry"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-item>
        <ion-column  >
          <div class="vkPasswordModalNote">

            Этот момент представляет собой важное, но необязательное условие.
            Указанный пароль будет привязан к вашей учетной записи, что позволит вам войти под своим именем и паролем.
          </div>
        </ion-column>
        <ion-item lines="none"><ion-button slot="end" (click)="setPass()">Подтвердить</ion-button></ion-item>
      </ion-content>

      </ion-col>

    </ng-template>
  </ion-modal>

<ion-content>
  <app-second-header>
    <app-back-button></app-back-button>
    <span class="header-title">
      Вход
    </span>
    <div class="next-button-wrapper">
      <app-circle-button  style="opacity: 0;"icon=""></app-circle-button>
    </div>
  </app-second-header>
  <form [formGroup]="loginForm" class="login-form" action="">
    <ion-col class="login-form_logo">
        <img class="login-form_logo_img" src="/assets/icons/favicon.png" alt="Vokrug">
    </ion-col>
    <ion-col class="login-form_inputs">
      <div class="login-form_inputs_container">
        <app-standart-input (changeInput)="clearErrors()" [invalid]="loginInvalid.name.status" [errorMessage]="loginInvalid.name.message" [label]="'E-mail'" [control] = "loginForm.get('name')"></app-standart-input>
        <app-standart-input (changeInput)="clearErrors()" [invalid]="loginInvalid.password.status" [errorMessage]="loginInvalid.password.message" [openPassword]="true" type="password"  [label]="'Пароль'" [control] = "loginForm.get('password')"></app-standart-input>
      </div>
      <div class="forgot-password-wrapper">
        <span id="recoveryLink" class="forgot-password-text">Забыл(а) пароль</span>

        <ion-modal class="recovery-modal" trigger="recoveryLink"  >
          <ng-template>
            <div class="recovery-main">
              <p class="recovery-main_label">
                На указанный вами адрес придёт ссылка для восстановления пароля
              </p>
              <div class="recovery-form">
                <form [formGroup]="recoveryForm" action="">
                  <app-standart-input  [control]="recoveryForm.get('email')" label="E-mail"></app-standart-input>
                  <!-- <div class="Login_inputs_main">
                    <ion-input  formControlName="email"  class="Login_inputs recovery-input" type="email" placeholder="Электронная почта" required>
                      <img *ngIf="iconState" class="Login_icon recovery-icon" src="/assets/icons/login_mail.svg" alt="">
                      <img *ngIf="!iconState"class="Login_icon" src="/assets/icons/login_mail.svg" alt="">
                    </ion-input>
                    <ion-note *ngIf="recoveryForm.controls['email'].hasError('required')" color="danger">Поле email не может быть пустым</ion-note>
                  </div> -->
                </form>
              </div>
              <div class="recovery-password-buttons">
                <app-standart-button [disabled]="recoveryForm.invalid || !timerReady" buttonText="Восстановить пароль" theme="standart" (click)="submitRecovery()"></app-standart-button>
              </div>
             
              <div id="recoveryLink" *ngIf="!timerReady" class="password-recovery">доступно через {{seconds * 1000 | date: 'mm:ss' }} </div>
            </div>
         
          </ng-template>
         
        </ion-modal>
      </div>
    </ion-col>
    <div class="submit-button-wrapper">
      <app-standart-button  [disabled]="loginInvalid.localError" (click)="onSubmitLogin()" buttonText="Вход" theme="standart"></app-standart-button>
    </div>
  
    <div class="login-form_footer">
        <div class="login-form_footer_label">
            <div class="login-form_footer_label_line"></div>
            <div class="login-form_footer_label_text">Или</div>
            <div class="login-form_footer_label_line"></div>
        </div>
        <ion-row class="login-form_social-buttons">
            <div class="login-form_social-buttons_button logo-vk">
              <a class="login-form_social-buttons_button_link" href="{{vkontakteAuthUrl}}" target="{{target}}" (click)="onLoading();">
                <div class="logo-vk_container">
                  <ion-icon class="logo-vk_container_image" name="logo-vk"></ion-icon>
                </div>
              </a>
            </div>

            <div *ngIf="platform === 'ios'" class="login-form_social-buttons_button logo-apple">
              <a class="login-form_social-buttons_button_link" (click)="onLoading(); loginApple()">
                <div class="logo-apple_container">
                  <ion-icon class="logo-apple_container_image" name="logo-apple"></ion-icon>
                </div>
              </a>
            </div>

            <div *ngIf="platform === 'web'"  class="login-form_social-buttons_button logo-yandex">
              <a class="login-form_social-buttons_button_link" href="{{yandexAuthUrl}}" target="{{target}}" (click)="onLoading();">
              </a>
            </div>
            <div class="login-form_social-buttons_button logo-apple">
              <a class="login-form_social-buttons_button_link" (click)="onLoading(); loginGuest()">
                <div class="logo-quest_container">
                  <ion-icon class="logo-quest_container_image" name="person-circle"></ion-icon>
                </div>
              </a>
            </div>
      
        </ion-row>
        <div class="login-form_footer_registration">
          <span routerLink="/registration" class="login-form_footer_registration_text">Нет аккаунта? <span class="login-form_footer_registration_link">Создать аккаунт</span></span>
        </div>
        <div class="login-form_footer_about_link__wrapper"> 
          <span routerLink="/about" class="login-form_footer_about_link">О программе</span>
        </div>
      
    </div>

  </form>

</ion-content>
