// .logo{
//     height: 6rem;
// }

// .logo-vk{
//     font-size: 4rem;
//     cursor: pointer;
//     color: #3880ff;
// }
// .logo-telephone {
//     padding: 0.4rem;
//     padding-left: 2rem;
//     font-size: 3.1rem;
//     cursor: pointer;
//     color: #3880ff;
// }

// .social-block-title{
//     display: flex;
//     align-items: center;
//     color:#6b7280
// }

// ion-modal {
// --height: 30%;
// }

// @font-face
//     font-family: 'Montserrat', sans-serif;
//     src: url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
// }

ion-list {
  background: none;
}
ion-input {
  margin-top: 10px;
  background-color: #fff;
  --padding-left: 20px;
}

* {
}

.MainBlock {
  overflow: auto;
  --min-height: 80vh;
  background: none;
  border: none;

  .Login_wrapper {
    ion-item {
      --border-style: none;
      --background: none;
    }
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-bottom: 10rem;
    .LoginMainBlock {
      --webkit-appearance: none;
      background-color: #fff;
      width: 366px;
      border: 1px solid #cdcdcd;
      border-radius: 17px;

      .header-md::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: none;
        background-repeat: repeat-x;
        content: '';
      }

      .LoginMainBlock_header {
        margin-top: 18px;
        display: flex;
        max-height: 99px;
        justify-content: center;

        .Login_main_link {
          max-height: 99px;
        }

        .Login_main_link {
        }

        .Login_logo {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 85px;
          min-height: 85px;

          .Login_logo_wrapper {
            display: flex;
            img {
              max-width: 100px;
              max-height: 100px;
            }

            .Login_logo_text {
              text-transform: uppercase;
              margin-top: 3px;

              font-weight: 800;
              font-size: 45.4pt;
              color: #007bbe;
              margin-top: 10px;
            }
          }
        }
      }

      .Login_inputs_main {
        .Login_inputs {
          border: 1px solid #e0e0e0;
          border-radius: 3px;
          width: 320px;
          background: none;

          .Login_icon {
            background: none;
            margin-left: 10px;
            margin-right: 10px;
            width: 25px;
            height: 25px;
            fill: #007bbe;
          }
        }

        ion-item.sc-ion-input-md-h:not(.item-label),
        ion-item:not(.item-label) .sc-ion-input-md-h {
          --padding-start: 15px;
        }
      }

      .Login_btns_content {
        .Login_btns {
          width: 320px;
          --background: #007bbe;
        }

        .CreateAcc_btn {
          --background: #056193;
        }
      }
    }

    .LoginWith_list {
      display: flex;
      padding-bottom: 10px;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;

      .LoginWith_list_text {
        color: #007bbe;
      }

      .logo-vk {
        color: #2787f5;
      }

      .vk_logo_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2787f5;
        width: 56px;
        height: 56px;
        border-radius: 50%;

        .vk_logo_quad {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          width: 30px;
          height: 30px;
          background-color: #fff;

          .logo-vk {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

  .InputDontButton {
  }
}

ion-modal {
  --display: flex;
  --border-radius: 17px;
  --max-width: 386px;
  --height: 630px;
}

.vkPasswordModal {
  --max-width: 80rem;
  --height: 480px;
  ion-item {
    margin-bottom: 1rem;
    --padding: 0;
  }

  .vkPasswordModalMainWrapper {
    display: flex;
    justify-content: center;
  }

  .vkPasswordModalMain {
  }

  .vkPasswordModalNote {
    padding: 12px;
    color: #222427a3;
    font-weight: 500;
    font-size: 14px;
    margin-top: 2vh;
    border-radius: 6px 6px 0px 6px;
  }
}
.vkPasswordModalHeader {
}

.apple-logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-left: 1rem;
  .logo-apple-icon {
    margin: auto;
    color: black;
    width: 30px;
    height: 30px;
  }
}

.yandex-logo-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg%20width='56'%20height='56'%20viewBox='0%200%2044%2044'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='44'%20height='44'%20fill='%23FC3F1D'/%3E%3Cpath%20d='M24.7407%2033.9778H29.0889V9.04443H22.7592C16.3929%209.04443%2013.0538%2012.303%2013.0538%2017.1176C13.0538%2021.2731%2015.2187%2023.6163%2019.0532%2026.1609L21.3832%2027.6987L18.3927%2025.1907L12.4667%2033.9778H17.1818L23.5115%2024.5317L21.3098%2023.0671C18.6496%2021.2731%2017.3469%2019.8818%2017.3469%2016.8613C17.3469%2014.2068%2019.2183%2012.4128%2022.7776%2012.4128H24.7223V33.9778H24.7407Z'%20fill='white'/%3E%3C/svg%3E%0A");

}
