 <!-- <ion-content> -->

 <!-- <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <img src="/assets/icons/favicon.png" alt="logo" class="logo" />
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h6 class="social-block-title">Войти через соц.сети:</h6>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <a href="{{ vkontakteAuthUrl }}" (click)="onLoading()"><ion-icon class="logo-vk" name="logo-vk"></ion-icon></a> -->

      <!-- коментарий -->

      <!-- <a (click)="loginPhone()"><ion-icon class="logo-telephone" name="call"></ion-icon></a> -->

       <!-- коментарий -->

    <!-- </ion-row>

      <app-telegram-auth-button></app-telegram-auth-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-md="3" size-xs="12">
        <ion-accordion-group class="mt-5">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Войти с помощью email:</ion-label>
            </ion-item>
            <div slot="content" class="ion-margin-top">
              <form [formGroup]="loginForm" (submit)="onSubmitLogin()" enctype="multipart/form-data">
                <ion-item fill="outline">
                  <ion-label position="floating">E-mail</ion-label>
                  <ion-icon name="mail" slot="start" color="primary"></ion-icon>
                  <ion-input formControlName="email" type="email" name="email" required></ion-input>
                </ion-item>
                <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                  <ion-note *ngIf="loginForm.controls['email'].hasError('email')" color="danger">Введите корректный email</ion-note>
                  <ion-note *ngIf="loginForm.controls['email'].hasError('required')" color="danger">Поле email не может быть пустым</ion-note>
                </div>

                <ion-item fill="outline" class="ion-margin-top">
                  <ion-label position="floating">Пароль</ion-label>
                  <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
                  <ion-input formControlName="password" type="password" name="password" required></ion-input>
                </ion-item>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="validation">
                  <ion-note *ngIf="!loginForm.controls['password'].hasError('minLength')" color="danger">Пароль должен содержать минимум 3 символа</ion-note>
                  <ion-note *ngIf="loginForm.controls['password'].hasError('required')" color="danger">Поле "Пароль" не может быть пустым</ion-note>
                </div>

                <ion-button type="submit" size="large" expand="block" class="ion-margin-top" [disabled] ="loginForm.invalid || loginForm.disabled">
                  <ion-icon name="log-in" slot="start"></ion-icon>
                  Вход
                </ion-button>

              </form>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- модальное окно с паролем для вк -->
  <ion-modal class="vkPasswordModal" #modal [isOpen]="modalPass" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar class="vkPasswordModalHeader">
          <ion-title>Установить новый пароль</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-col class="vkPasswordModalMainWrapper">

      <ion-content class="ion-padding vkPasswordModalMain">
        <ion-item lines="none" [formGroup]="formSetPassword">

          <ion-col>

            <ion-item fill="outline" class="vkPasswordModalInput">
              <ion-label>

              </ion-label>
              <ion-input
                label="Введите пароль"
                labelPlacement="stacked"
                type="password"
                placeholder="Введите пароль"
                formControlName="password"
              ></ion-input>
            </ion-item>

              <ion-item fill="outline">
                <ion-label></ion-label>
                <ion-input
                label="Повторите введённый пароль"
                labelPlacement="stacked"
                type="password"
                placeholder="Повторите введённый пароль"
                formControlName="password_retry"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-item>
        <ion-column  >
          <div class="vkPasswordModalNote">

            Этот момент представляет собой важное, но необязательное условие.
            Указанный пароль будет привязан к вашей учетной записи, что позволит вам войти под своим именем и паролем.
          </div>
        </ion-column>
        <ion-item lines="none"><ion-button slot="end" (click)="setPass()">Подтвердить</ion-button></ion-item>
      </ion-content>

      </ion-col>

    </ng-template>
  </ion-modal>

<!-- коментарий -->

  <!-- <ion-modal #modalPhone [isOpen]="modalPhone" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Установить новый пароль</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none" [formGroup]="formSetPhone">
          <ion-col>
            <ion-item>
              <ion-label><h2>Введите номертелефона: +7</h2></ion-label>
              <ion-input
                label="999 888 77 66"
                labelPlacement="stacked"
                type="phone"
                placeholder="999 888 77 66"
                formControlName="phone"
              ></ion-input>
            </ion-item>

          </ion-col>
        </ion-item>
        <ion-item lines="none"><ion-button slot="end" (click)="setPass()">Войти</ion-button></ion-item>

      </ion-content>
    </ng-template>
  </ion-modal> -->

  <!-- коментарий -->

<!-- </ion-content> -->

<ion-content class="MainBlock">
  <!-- Обёртка для центрирования -->
    <ion-grid class="Login_wrapper">
      
      <form [formGroup]="loginForm" (submit)="onSubmitLogin()" enctype="multipart/form-data">

       <ion-row class="LoginMainBlock">
          <div class="LoginMainBlock_header">
            <ion-router-link class="Login_main_link" routerLink="/home">

              <div class="Login_logo">

                <ion-item class="Login_logo_wrapper">

                  <img *ngIf="true" src="/assets/icons/favicon.png" alt="">
                  <img *ngIf="false"alt="logo" src="/svg/no-photo.svg" />

                  <ion-label class="Login_logo_text">
                    mlcity
                  </ion-label>

                </ion-item>

              </div>
            </ion-router-link>

          </div>

          <div class="Login_inputs_main">

            <ion-list>

                    <ion-item>

                          <ion-input (input)="MailOrName()" formControlName="name" class="Login_inputs" type="email" placeholder="Электронная почта" required>
                            <img *ngIf="iconState" class="Login_icon" src="/assets/icons/login_mail.svg" alt="">
                            <img *ngIf="!iconState"class="Login_icon" src="/assets/icons/login_mail.svg" alt="">
                          </ion-input>

                    </ion-item>

                    <div style="text-align: center;" class="errorEmail" *ngIf="loginForm.controls['name'].invalid && loginForm.controls['name'].touched">
                      <ion-note *ngIf="loginForm.controls['name'].hasError('name')" color="danger">Введите корректный email или имя пользователя</ion-note>
                      <ion-note *ngIf="loginForm.controls['name'].hasError('required')" color="danger">Поле не может быть пустым</ion-note>
                    </div>
                    <!-- <div style="text-align: center;" class="errorEmail" *ngIf="loginForm.controls['name'].invalid && loginForm.controls['name'].touched">
                      <ion-note *ngIf="loginForm.controls['name'].hasError('name')" color="danger">Введите корректный email или имя пользователя</ion-note>
                      <ion-note *ngIf="loginForm.controls['name'].hasError('required')" color="danger">Поле не может быть пустым</ion-note>
                    </div> -->

                    <ion-item>
                          <ion-input formControlName="password" class ="Login_inputs" type="password"   placeholder="Пароль">
                             <img class="Login_icon" src="/assets/icons/login_password.svg" alt="">
                          </ion-input>
                    </ion-item>

                    <div style="text-align: center;" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="validation">
                      <ion-note *ngIf="loginForm.controls['password'].hasError('required')" color="danger">Пароль не может быть пустым</ion-note>
                    </div>
            </ion-list>

          </div>

          <ion-div class="Login_btns_content">

            <ion-list>

              <ion-item>

                    <ion-button type="submit" [disabled]="loginForm.invalid || loginForm.disabled" class="Login_btns">
                        Вход
                    </ion-button>

              </ion-item>

              <ion-router-link class="Login_main_link" routerLink="/registration">
                <ion-item>

                <ion-button class="Login_btns CreateAcc_btn">
                    Создать аккаунт
                </ion-button>

                </ion-item>

              </ion-router-link>

             </ion-list>

          </ion-div>

            <ion-list class="LoginWith_list">

                     <h6 class="LoginWith_list_text">Войти с помощью</h6>

              <ion-item>

                <a href="{{vkontakteAuthUrl}}" (click)="onLoading();">

                  <ion-div class="vk_logo_circle">
                     <ion-div class="vk_logo_quad">
                      <ion-icon class="logo-vk" name="logo-vk"></ion-icon>
                     </ion-div>
                  </ion-div>
                </a>

                <a  (click)="onLoading(); loginApple()">

                  <ion-div class="apple-logo-circle">
                    
                      <ion-icon class="logo-apple-icon" name="logo-apple"></ion-icon>
                    
                  </ion-div>
                </a>

            </ion-item>

            </ion-list>

       </ion-row>

      </form>
    </ion-grid>
</ion-content>

  <!-- <ion-modal #modal [isOpen]="modalPass" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Установить новый пароль</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none" [formGroup]="formSetPassword">
          <ion-col>
            <ion-item>
              <ion-label><h2>Введите пароль: </h2></ion-label>
              <ion-input
                label="Введите пароль"
                labelPlacement="stacked"
                type="password"
                placeholder="*******"
                formControlName="password"
              ></ion-input>
            </ion-item>

              <ion-item>
                <ion-label><h2>Повторите пароль: </h2></ion-label>
                <ion-input
                label="Повторите введённый пароль"
                labelPlacement="stacked"
                type="password"
                placeholder="*******"
                formControlName="password_retry"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-item>
        <ion-item lines="none"><ion-button slot="end" (click)="setPass()">Подтвердить</ion-button></ion-item>

      </ion-content>
    </ng-template>
  </ion-modal> -->

  <!-- <ion-modal #modalPhone [isOpen]="modalPhone" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Установить новый пароль</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Закрыть</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none" [formGroup]="formSetPhone">
          <ion-col>
            <ion-item>
              <ion-label><h2>Введите номертелефона: +7</h2></ion-label>
              <ion-input
                label="999 888 77 66"
                labelPlacement="stacked"
                type="phone"
                placeholder="999 888 77 66"
                formControlName="phone"
              ></ion-input>
            </ion-item>

          </ion-col>
        </ion-item>
        <ion-item lines="none"><ion-button slot="end" (click)="setPass()">Войти</ion-button></ion-item>

      </ion-content>
    </ng-template>
  </ion-modal> -->

<!-- </ion-content> -->

