
    <div class="home-container">
      <!-- {{date.dateStart}} / {{date.dateEnd}} / {{getDateYMD(dateStart)}} / {{getDateYMD(dateEnd)}} -->
      <div class="home-caendcont" #widgetsContent>
        <button class="scroll_left">
          <ion-icon size="large" name="chevron-back-outline" class="ico_left" (click)="scrollLeft()" ></ion-icon>
        </button>
        <ng-container >
          <div class="cal-wrapper">
            <!-- <mat-date-range-input style="height: 0px; width: 0px;" [rangePicker]="pickerArh" [formGroup]="range">
              <input  style="height: 0px; width: 0px;" matStartDate required formControlName="start" >
              <input  style="height: 0px; width: 0px;" matEndDate required formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle  [for]="pickerArh"></mat-datepicker-toggle>            
            <mat-date-range-picker #pickerArh></mat-date-range-picker> -->
             <app-rounded-button routerLink="/cabinet/events/create" icon="assets/icons/calendar.svg"></app-rounded-button>
          </div>
         
        </ng-container>
        <!-- <p class="year_name">{{date_full_year.now_year.year}}</p> -->
        <div class="calendula-wrapper">
          
        </div>
        <div class="home-month" *ngFor="let month_now of date_full_year.now_year.now_months"  [hidden]="month_now.data.length === 0" >
          <span *ngIf="month_now.data.length" class="home-mothname">{{month_now.name}}</span>
          <div *ngIf="month_now.data.length" class="home-monthdata">
            <button class="home-day" *ngFor="let day of month_now.data" [class.active]="day.min / 100 > unixTime(date.dateStart) / 100 && unixTime(date.dateEnd) > day.min" [class.active-left]="getDateYMD(day.min) === getDateYMD(date.dateStart)" [class.active-right]="getDateYMD(date.dateEnd) === getDateYMD(day.min)" (click)='setDate(day.min)' [attr.id]="day.min">
              <div class="home-day-content" [class.active]="getDateYMD(day.min) === getDateYMD(date.dateStart) || getDateYMD(day.min) === getDateYMD(date.dateEnd)">
                <span class="home-text">{{day.number}}</span>
                <span *ngIf="day.day_week === 1" class="home-text01">ПН</span>
                <span *ngIf="day.day_week === 2" class="home-text01">ВТ</span>
                <span *ngIf="day.day_week === 3" class="home-text01">СР</span>
                <span *ngIf="day.day_week === 4" class="home-text01">ЧТ</span>
                <span *ngIf="day.day_week === 5" class="home-text01">ПТ</span>
                <span *ngIf="day.day_week === 6" class="home-text01" style="color:crimson">СБ</span>
                <span *ngIf="day.day_week === 0" class="home-text01" style="color:crimson">ВС</span>
              </div>
            </button>
          </div>
        </div>

        <p class="year_name" *ngIf="date_full_year.now_year.now_months[0].data.length" >{{date_full_year.new_year.year}}</p>
        <div class="home-month" *ngFor="let month_new of date_full_year.new_year.new_months"  [hidden]="month_new.data.length === 0 && !date_full_year.now_year.now_months[0].data.length" >
          <span *ngIf="month_new.data.length" class="home-mothname">{{month_new.name}}</span>
          <div *ngIf="month_new.data.length" class="home-monthdata">
            <button class="home-day" *ngFor="let day_new of month_new.data" [class.active]="day_new.min / 100 > dateStart / 100 && dateEnd > day_new.min" [class.active-left]="getDateYMD(day_new.min) === getDateYMD(dateStart)" [class.active-right]="getDateYMD(dateEnd) === getDateYMD(day_new.min)" (click)='setDate(day_new.min)' [attr.id]="day_new.min">
              <div class="home-day-content" [class.active]="getDateYMD(day_new.min) === getDateYMD(dateStart) || getDateYMD(day_new.min) === getDateYMD(dateEnd)">
                <span class="home-text">{{day_new.number}}</span>
                <span *ngIf="day_new.day_week === 0" class="home-text01">ПН</span>
                <span *ngIf="day_new.day_week === 1" class="home-text01">ВТ</span>
                <span *ngIf="day_new.day_week === 2" class="home-text01">СР</span>
                <span *ngIf="day_new.day_week === 3" class="home-text01">ЧТ</span>
                <span *ngIf="day_new.day_week === 4" class="home-text01">ПТ</span>
                <span *ngIf="day_new.day_week === 5" class="home-text01" style="color:crimson">СБ</span>
                <span *ngIf="day_new.day_week === 6" class="home-text01" style="color:crimson">ВС</span>
              </div>
            </button>
          </div>
        </div>
        <!-- Кнопка будущих дат -->
        <ng-container >
          <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
            <input style="height: 0px; width: 0px;" matStartDate formControlName="start">
            <input style="height: 0px; width: 0px;" matEndDate formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>            
          <mat-date-range-picker  #picker></mat-date-range-picker>
        </ng-container>
        <button class="scroll_right">
          <ion-icon size="large" name="chevron-forward-outline" class="ico_right" (click)="scrollRight()"></ion-icon>
        </button>
      </div>
    </div>

