
    <div class="home-container"#widgetsContent>
      <div class="home-caendcont">
        <button class="scroll_left">
          <ion-icon size="large" name="chevron-back-outline" class="ico_left" (click)="scrollLeft()"></ion-icon>
        </button>
        <div class="home-month" *ngFor="let month of date_full"  [hidden]="month.data.length === 0">
          <span class="home-mothname">{{month.name}}</span>
          <div class="home-monthdata">
            <button class="home-day" *ngFor="let day of month.data" id="{{day.min}}" [class.active]="day.min / 100 > dateStart / 100 && dateEnd > day.min" [class.active-left]="day.min === dateStart" [class.active-right]="dateEnd === day.min" (click)="setDate(day.min)">
              <div class="home-day-content" [class.active]="day.min === dateStart || day.min === dateEnd">
                <span class="home-text">{{day.number}}</span>
                <span *ngIf="day.day_week === 0" class="home-text01">ПН</span>
                <span *ngIf="day.day_week === 1" class="home-text01">ВТ</span>
                <span *ngIf="day.day_week === 2" class="home-text01">СР</span>
                <span *ngIf="day.day_week === 3" class="home-text01">ЧТ</span>
                <span *ngIf="day.day_week === 4" class="home-text01">ПТ</span>
                <span *ngIf="day.day_week === 5" class="home-text01" style="color:crimson">СБ</span>
                <span *ngIf="day.day_week === 6" class="home-text01" style="color:crimson">ВС</span>
              </div>
            </button>
          </div>
        </div>
        <button class="scroll_right">
          <ion-icon size="large" name="chevron-forward-outline" class="ico_right" (click)="scrollRight()"></ion-icon>
        </button>
      </div>
    </div>


