
@media (max-width:768px) {
    
    .m{
        display: none;
    }
}
.header-settings{
    padding-left: 40px;
    background-color: white;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(223, 212, 212);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}