<ion-header class="header-mobile">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>   
        <ion-title>
            <div class="logo">
                <img src="assets/icons/favicon.png">
                <span>{{ appName }}</span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-row class="header">
    <ion-col size="2" class="logo">
        <img src="assets/icons/favicon.png">
        <span>{{ appName }}</span>
    </ion-col>
    <ion-col size="8" class="menu">
        <div *ngFor="let item of menuPublic">
            <app-dropdown-popup 
                *ngIf="item.children?.length > 0;  else itemMenu" 
                [id]="'publicMenu'"
                [headerLeftIco]="true"
                [headerLeftIcoName]="'call'"
                [headertitle]="item.title"
                [listItems]="[item]"
                [itemIco]="true"
            >
            </app-dropdown-popup>
        
            <ng-template #itemMenu>
                <ion-button
                    fill="clear" 
                    color="dark"
                    [routerLink]="[item.route]"
                    [routerLinkActive]="['active']"
                >
                    <ion-icon name="{{ item.icon }}" slot="start" color="primary"></ion-icon>{{item.title}}
                </ion-button>
                
            </ng-template>   
        </div>
    </ion-col>

    <ion-col size="2" class="auth">
        <app-menu-auth></app-menu-auth>
    </ion-col>
</ion-row>
