.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        height: 2rem;
        padding-right: 0.25rem;
    }
    
    span {
        font-weight: bold;
        font-size: 1.5rem;
    }
}
 
ion-title{
    padding-inline-start: 0.5rem;
    padding-inline-end: 0;
    text-align: center;
}
.flex{
    display: flex;
}
.z-index-9999{
    z-index: 999999;
}

.city-popover{
    padding: 0.5rem;

    .title{
        text-align: center;
        padding: 0.5rem;
    }

    .buttons{
        display: flex;
        justify-content: space-around;
    }
}
.search-item{
    cursor: pointer;
}

.search-item:hover{
    --background: #f3f4f6;
}

ion-popover{
    &::part(content){
        top: 3rem;
        left: 12rem;
    }
}

ion-modal ion-content{
    --padding-top: 0;
    --padding-bottom: 0;
}

@media(min-width: 768px) {
// @media(min-width: 991px) {
    .header-mobile {
      display: none;
    }
  
    .header {

        .menu{
            display: flex;

            .active{
                background-color: #f3f4f6;
            }
        }
    }
    
  }

@media(max-width: 768px) {
// @media(max-width: 991px) {
    .header-mobile {
        display: block;
    }

    .header {
        display: none;
    }

    ion-popover{
        &::part(content){
            left: 1rem;
        }
    }

}