<ion-header class="header-mobile" id="city">
    <ion-toolbar>
        <!-- <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons> -->
        <ion-row>
            <!-- <ion-col>
                <ion-title *ngIf="!showBackButton">
                    <div class="logo">
                        <img src="assets/icons/favicon.png">
                        <span>{{ appName }}</span>
                    </div>
                </ion-title> 
            </ion-col> -->
            <ion-col *ngIf="showBackButton" size="auto">
                <ion-icon  name="chevron-back" size="large" color="primary" appBackButton></ion-icon>
            </ion-col>

            <ion-col class="ion-align-self-start">
                <ion-button fill="clear" size="small" color="dark">
                    {{ city| truncate:[20,'']}}...+{{ radius }}км
                    <ion-icon slot="end" name="chevron-down"></ion-icon>
                </ion-button>
            </ion-col>

            <ion-col class="flex ion-justify-content-end ion-padding-horizontal z-index-9999">
                <!-- <ion-searchbar animated="true" placeholder="Поиск"></ion-searchbar> -->
                <ion-icon name="search" color="medium" size="large" class="ico"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<!-- Декстопное меню -->
<ion-row class="header ion-justify-content-end ion-align-items-center ion-margin-horizontal">
    <ion-col size="auto" class="logo">
        <img src="assets/icons/favicon.png">
        <span>{{ appName }}</span>
    </ion-col>
    
    <ion-col size="auto" class="ion-padding-horizontal ion-align-self-center">
        <ion-button fill="clear" size="small" color="dark">
            {{ city| truncate:[20,'']}}...+{{ radius }}км
            <ion-icon slot="end" name="chevron-down"></ion-icon>
        </ion-button>
    </ion-col>

    <ion-col class="ion-padding-horizontal">
        <ion-searchbar  placeholder="Поиск" color="light"></ion-searchbar>
    </ion-col>

    <ion-col size="auto" class="menu ion-align-items-center">
        <div *ngFor="let item of menuPublic">
            <app-dropdown-popup 
                *ngIf="item.children?.length > 0;  else itemMenu" 
                [id]="'publicMenu'"
                [headerLeftIco]="true"
                [headerLeftIcoName]="'call'"
                [headertitle]="item.title"
                [listItems]="[item]"
                [itemIco]="true"
            >
            </app-dropdown-popup>
        
            <ng-template #itemMenu>
                <ion-button
                    fill="clear" 
                    color="dark"
                    [routerLink]="[item.route]"
                    [routerLinkActive]="['active']"
                >
                    <ion-icon name="{{ item.icon }}" slot="start" color="primary"></ion-icon>{{item.title}}
                </ion-button>
                
            </ng-template>     
        </div>
        <app-menu-auth></app-menu-auth>
    </ion-col>

    <!-- <ion-col class="auth">
        <app-menu-auth></app-menu-auth>
    </ion-col> -->
</ion-row>


  <!-- Диалог подтверждения города -->
  <ion-popover trigger="city" [isOpen]="showChangeCityDialog" (didDismiss)="!showChangeCityDialog" showBackdrop="false" arrow="true">
    <ng-template>
        <div class="city-popover">
            <div class="title">
                <ion-label>Возможно ваш город {{ geolocationCity }}?</ion-label>
            </div>
            <div class="buttons">
                <ion-button size="small" fill="outline">
                    нет
                </ion-button>
                <ion-button size="small" (click)="setCityFromDialog()">
                    Да
                    <ion-icon name="checkmark" slot="end"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ng-template>
</ion-popover>