ion-content {
  // overwrite inline styles
  --overflow: auto;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.login-form{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  .login-form_logo{
    display: flex;
    justify-content: center;
    .login-form_logo_img{
      width:12rem;
    }
  }
  .login-form_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .login-form_inputs_container{
      width: 100%;
    }
    .login-form_inputs_label{
      font-family: var(--font-bold);
      font-size: 1.25rem;
    }
  }
  .forgot-password-wrapper{
    display: flex;
    padding-top: 0.5rem;
    align-items: end;
    justify-content: end;
    width: 100%;
    .forgot-password-text{
      font-family: var(--font-regular);
      font-size: 0.75rem;
      color: #4C5861;
      opacity: 55%;
    }
  }
  .submit-button-wrapper{
    padding-top:0.4rem;
  }

  .login-form_footer{

    padding-top: 2.5rem;

    .login-form_footer_label{
      display: flex;
      align-items: center;
      justify-content: center;
    
      .login-form_footer_label_line{
        width: 100%;
        height:0.125rem;
        background-color: #4c586159;
        opacity: 55%;
      }
      .login-form_footer_label_text{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-family: 0.75rem;
        color: #4C5861;
        font-family: var(--font-regular);
        opacity: 55%;
      }

    }

    .login-form_social-buttons{
      display: flex;
      width: 100%;
      padding-top: 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      .login-form_social-buttons_button{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        .login-form_social-buttons_button_link{
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
    }
    .login-form_footer_registration{
      padding-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .login-form_footer_registration_text{
        font-size:0.75rem;
        font-family: var(--font-regular);
        color: var(--gray-color);
        cursor: pointer;
      }
      .login-form_footer_registration_link{
        font-size:0.75rem;
        font-family: var(--font-regular);
        color: var(--blue-color);
        cursor: pointer;
      }
    }
   
  }
  
}
.logo-vk_container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  .logo-vk_container_image{
    width: 22px;
    height: 22px;
  }
}

.logo-apple_container{
  .logo-apple_container_image{
    margin: auto;
    color: #000;
    width: 30px;
    height: 30px;
  }
}
.logo-vk{
  background-color:#2787f5;
}
.logo-apple{
  background-color: #f0f0f0;
}
.logo-yandex{
  background-image: url("data:image/svg+xml,%3Csvg%20width='56'%20height='56'%20viewBox='0%200%2044%2044'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='44'%20height='44'%20fill='%23FC3F1D'/%3E%3Cpath%20d='M24.7407%2033.9778H29.0889V9.04443H22.7592C16.3929%209.04443%2013.0538%2012.303%2013.0538%2017.1176C13.0538%2021.2731%2015.2187%2023.6163%2019.0532%2026.1609L21.3832%2027.6987L18.3927%2025.1907L12.4667%2033.9778H17.1818L23.5115%2024.5317L21.3098%2023.0671C18.6496%2021.2731%2017.3469%2019.8818%2017.3469%2016.8613C17.3469%2014.2068%2019.2183%2012.4128%2022.7776%2012.4128H24.7223V33.9778H24.7407Z'%20fill='white'/%3E%3C/svg%3E%0A");
}

.recovery-form{
  margin-top: 0 auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.recovery-input{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  --padding-left: 1rem;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}
.recovery-button{
  width: 90%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.recovery-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recovery-modal{
  --height:22rem;
  --max-width: 386px;
  --border-radius: 17px;
}
.recovery-icon{
  margin-left: 1rem;
}
.password-recovery{
  font-family: var(--font-regular);
  cursor: pointer;
  display: flex;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  color: var(--blue-color);
  justify-content: center;
}
.recovery-password-buttons{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.recovery-main_label{
  width: 90%;
   font-size: 16pt; 
   color:var(--dark-gray-color); 
   font-family: var(--font-regular);
  margin-left: auto; 
  margin-right: auto;
}