
  <ion-content>
    <app-second-header>
      <app-back-button></app-back-button>
      <span class="header-title">
        Регистрация
      </span>
      <div class="next-button-wrapper">
        <app-circle-button  style="opacity: 0;"icon=""></app-circle-button>
      </div>
    </app-second-header>
    <form [formGroup]="registerForm" class="login-form" action="">
      <ion-col class="login-form_logo">
          <img class="login-form_logo_img" src="/assets/icons/favicon.png" alt="Vokrug">
      </ion-col>
      <ion-col class="login-form_inputs">
        <div class="login-form_inputs_container">
          <app-standart-input [errorMessage]="registartionInvalid.name.message" (changeInput)="clearErrors()" [invalid]="registartionInvalid.name.status"  [label]="'Имя'" [control] = "registerForm.get('name')"></app-standart-input>
          <app-standart-input [errorMessage]="registartionInvalid.email.message" (changeInput)="clearErrors()" [invalid]="registartionInvalid.email.status"  [label]="'E-mail'" [control] = "registerForm.get('email')"></app-standart-input>
          <app-standart-input [errorMessage]="registartionInvalid.password.message" (changeInput)="clearErrors()" [invalid]="registartionInvalid.password.status"  [openPassword]="true" type="password"  [label]="'Пароль'" [control] = "registerForm.get('password')"></app-standart-input>
          <app-standart-input [errorMessage]="registartionInvalid.passwordRequired.message" (changeInput)="clearErrors()" [invalid]="registartionInvalid.passwordRequired.status"  [openPassword]="true" type="password"  [label]="'Подтвердите пароль'" [control] = "registerForm.get('password_confirmation')"></app-standart-input>
        </div>
      </ion-col>
      <div class="submit-button-wrapper">
        <app-standart-button [disabled]="registartionInvalid.localError" (click)="onSubmitReg()"  buttonText="Регистрация" theme="standart"></app-standart-button>
      </div>
    
      <div class="login-form_footer">
          <div class="login-form_footer_label">
              <div class="login-form_footer_label_line"></div>
              <div class="login-form_footer_label_text">Или</div>
              <div class="login-form_footer_label_line"></div>
          </div>
          <ion-row class="login-form_social-buttons">
              <div class="login-form_social-buttons_button logo-vk">
                <a class="login-form_social-buttons_button_link" href="{{vkontakteAuthUrl}}">
                  <div class="logo-vk_container">
                    <ion-icon class="logo-vk_container_image" name="logo-vk"></ion-icon>
                  </div>
                </a>
              </div>
        
          </ion-row>
          <div class="login-form_footer_registration">
            <span routerLink="/login" class="login-form_footer_registration_text">Уже есть аккаунт? <span class="login-form_footer_registration_link">Войти</span></span>
          </div>
      </div>
  
    </form>
  </ion-content>

