ion-modal{
    --height: 24rem;
    --width: 22rem;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .category-modal-header-text{
      color: #4C5861;
      font-family: var(--font-regular);
      font-size: 1.1rem;
      display: flex;
      padding-bottom: 0.5rem;
      
  }
  .category-modal-grid-item_active{
      cursor: pointer;    
      background-color: #DCE9FF;
      width: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      height: 5rem;
      .category-text{
          pointer-events: none;
          color: #4C5861;
          font-size: 0.75rem;
          font-family: var(--font-regular);
      }
      .category-icon{
          pointer-events: none;
          padding-bottom: 0.5rem;
          width: 50%;
          height: 50%;
          filter: brightness(0) saturate(100%) invert(40%) sepia(96%) saturate(2368%) hue-rotate(206deg) brightness(102%) contrast(103%);
      }
  
  }
  .clear-filters{
    font-size: 0.75rem;
    color: var(--font-color);
  }
  .category-modal-grid-footer{
    padding-top: 0.8rem;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
  }
  .category-modal-grid-item{
    cursor: pointer;
      background-color: #d3d3d3;
      width: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 5px;
      height: 5rem;
      .category-text{
          color: #fff;
          pointer-events: none;
          font-size: 0.75rem;
          font-family: var(--font-regular);
      }
      .category-icon{
          padding-bottom: 0.5rem;
          width: 50%;
          height: 50%;
          pointer-events: none;
          filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(0%) hue-rotate(66deg) brightness(105%) contrast(103%);
      }
  }
  .category-modal-grid{
      padding-top: 2rem;
      max-width: 19rem;
      margin: auto;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(3, 6rem);
  }
  .header-modal_close{
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    margin-top: 0.5rem;
    z-index: 100;
    margin-left: auto;
  }