.content {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius:12px;
    border: 0.5px solid #c6c6c7;
    height: 3rem;

    ion-icon{
        height: 1rem;
        width: 1rem;
    }
    .ico_left {
        flex: 0.5;
        height: 2.5rem;
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        color: rgba(92, 90, 90, 0.7);
    }
    .container{
        max-height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: overlay;
        position:relative;
        white-space: nowrap;

        .item:hover {
            background-color: rgb(74, 146, 247,0.5);
        }
        .item {
            cursor: pointer;
            transition:0.2s;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            border-bottom-width:0px;
            border-bottom: 3px solid transparent; 
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            padding-bottom: 3px;
            transition:0.7s ; 
        }
        .item.active{
            border-bottom-width:20px;
            border-bottom: 3px solid #7c94c8;
            border-bottom-left-radius: 1px;
            border-bottom-right-radius: 1px;
            padding-bottom: 3px;
            transition: 0.7s ease; /* Добавляем анимацию */
        }


     
    }
    .container::-webkit-scrollbar {
        display: none;
      }
    
      .container-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 25px;
        /*outline: 1px solid slategrey;*/
    }
    .ico_right {
        color: rgba(92, 90, 90, 0.7);
        flex: 0.5;
        height: 2.5rem;
        margin-left: 0px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
    }
}


@media screen and (min-width: 0px) and (max-width: 1049px) {

    .container{
        margin-top: 0px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: overlay;
        min-width: 100%;
        position:relative;
        white-space: nowrap;
    }


}


@media screen and (min-width: 0px) and (max-width: 1017px) {
    .content {
        .ico_right {
        flex: 0;
        width: 0px;
        background: none;
        margin-left: 86%;
        }

        .ico_left {
        width: 0;
        flex: 0;
        }

        .container{
            margin-top: -38px;
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: row;
            overflow-y: hidden;
            overflow-x: overlay;
            min-width: 100%;
            position:relative;
            white-space: nowrap;
    
            .item {
                margin-left: 0.2rem;
                border-bottom-width:0px;
                border-bottom: 3px solid transparent; 
                border-bottom-left-radius: 1px;
                border-bottom-right-radius: 1px;
                padding-bottom: 3px;
                transition:0.7s ; 
            }
            .item:hover {
                background-color: #ffffff;
            }

            .item-active{
                border-bottom-width:20px;
                background-color: #ffffff;
                border-bottom: 3px solid #7c94c8;
                border-bottom-left-radius: 1px;
                border-bottom-right-radius: 1px;
                padding-bottom: 3px;
                transition: 0.7s ease; /* Добавляем анимацию */
            }
        }
        
    }
}