ion-modal {
    --border-radius: 8px !important;
     // overwrite inline styles
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  }
.main-content{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
}
.events-wrapper{
  padding-bottom: 4rem;
}
