ion-modal {
    --border-radius: 8px !important;
  }
.main-content{
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
}
.events-wrapper{
  padding-bottom: 4rem;
}