.mini-card-container{
  padding: 12px;
  display: flex;
  background-color: white;
  border-radius: 8px;
  height: 100%;
}

.mini-card{
}

.mini-card-img{
  min-width: 120px;
  min-height: 80px;
  border-radius: 6px;
  cursor: pointer;
}


.mini-card-text-container{
  margin-left: 20px;
}

.mini-card-text-title{
  margin: 0;
}

@media (max-width: 768px){
  .mini-card-img{
    min-height: 120px;
  }
}


