<div class="mini-card-container">
  <ion-col class="mini-card">
      <ion-col [routerLink]="['/events',id]">
        <img [src]="image" class="mini-card-img">
      </ion-col>

      <ion-col class="mini-card-text-container">
        <h4 class="mini-card-text-title">{{ title }}</h4>
        <app-collapsed-text>
          <ng-container>
            <p style="max-height:100%;" class="mini-card-text-description">{{ description }}</p>
          </ng-container>
        </app-collapsed-text>
      </ion-col>
  </ion-col>
</div>
