<ion-content class="main-wrapper">
  <ion-col class="main-content-header">
    <span style="color:#6393FF">Введите новый пароль</span>
  </ion-col>
  
  <ion-col class="main-content-wrapper">

    <div class="main-content">
      
      <div class="main-content-contact">

          <form [formGroup]="recoveryForm" class="contact-form" action="">
            
            <ion-item class="form-mail" lines="none" mode="md" >
         
              <ion-label class="label">
                <img class="login-icon" src="/assets/icons/login_password.svg" alt="">
              </ion-label>
              <ion-input
              (ionChange)="showErrPassFunc()"
              formControlName="password" 
              type="password" 
              placeholder="Введите пароль"
              ></ion-input>
            </ion-item>
      
            <ion-item class="form-mail" lines="none" mode="md" >
              <ion-label class="label">
                <img class="login-icon" src="/assets/icons/login_password.svg" alt="">
              </ion-label>
              <ion-input 
              type="password"
              formControlName="password_confirmation" 
              placeholder="Повторите пароль"
              (ionChange)="updateValidators()"
              ></ion-input>
            </ion-item>
            <div *ngIf="showErrPass">
              <ion-note *ngIf="recoveryForm.controls['password'].hasError('required')" color="danger">Поле пароль не может быть пустым</ion-note>
              <div>
                <ion-note *ngIf="this.recoveryForm.value.password.length < 8 && !recoveryForm.controls['password'].hasError('required') " color="danger">Пароль должен содержать минимум 8 символов</ion-note>
              </div>
              
            </div>
            <div *ngIf="showErrPassVerified">
              <ion-note *ngIf="!passwordConfirm" color="danger">Пароли не совпадают</ion-note>
            </div>
            <ion-button (click)="onSubmit()" class="submit-button" [disabled]="recoveryForm.invalid || !passwordConfirm"> Изменить </ion-button>
          
          </form>
      </div>

      <div>
   
      </div>

    </div>
  </ion-col>
  
</ion-content>

