<div class="relative inline-block" (clickOutside)="clickedOutside()">
  <!-- Dropdown toggle button -->
  <button 
    (click)="onToggle()" 
    [ngClass]="isLContactsChildLinkActive() ? headerClassActive : ''"
    [class]="headerClass"
  >
      <ion-icon *ngIf="headerLeftIco" [name]="headerLeftIcoName" [class]="headerLeftIcoClass"></ion-icon>
      {{ headertitle }}
      <ion-icon *ngIf="headerRightIco" [name]="headerRightIcoName" [class]="headerRightIcoClass"></ion-icon>
  </button>
<!-- Dropdown menu -->
  <div 
      *ngIf="isOpened" 
      [class]="listClass"
  >
    <div>
      <a 
        *ngFor="let child of listItems" 
        [routerLink]="[ child.route ]"
        [routerLinkActive]="routeActiveClass"
        [class]="itemClass"
        (click)="onToggle()"
      >
          <ion-icon *ngIf="itemIco" [name]="child.icon" [class]="itemIcoClass"></ion-icon> 
          <span [class]="itemTitleClass">
            {{ child.title }}
          </span>
      </a>
    </div>
  </div>
</div>