<div class="select-container">
    <div (click)="changeModalState()"   class="select-container-value">
        Сегодня
    </div>
    <ion-icon name="chevron-down-outline"></ion-icon>
    <ul [ngClass]="{'select-container__content_active': modalValue, 'select-container__content': !modalValue}" class="select-container__content">
       <li class="select-container__content__option">Сегодня</li>
       <li class="select-container__content__option">Завтра</li>
       <li class="select-container__content__option">Выходные</li>
       <li class="select-container__content__option">Выбрать</li>
    </ul>
</div>