<div class="calendar-button-container" (click)="openDatepicker()">
  <div>
      <img *ngIf="!outlineIcon; else outline" src="/assets/icons/new_calendar.svg" class="date-picker-icon">

      <ng-template #outline>
        <img src="/assets/icons/new_calendar-outline.svg" class="date-picker-icon">
      </ng-template>
  </div>

  <div class="date-text">
    1 янв. - 30 янв.
  </div>
</div>

<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<!-- <ion-datetime-button class="datetime" mode="ios" datetime="datetime"></ion-datetime-button>

<ion-modal mode="ios" [isOpen]="openModal" [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime presentation="date" id="datetime">
      <ion-buttons slot="buttons">
        <ion-button class="action-button">Сегодня</ion-button>
        <ion-button class="action-button">Завтра</ion-button>
        <ion-button class="action-button">Выходные</ion-button>
      </ion-buttons>
    </ion-datetime>
  </ng-template>
</ion-modal> -->
