ion-card{
    cursor: pointer;
    transition: all .2s ease-in-out;

    .photo{
        object-fit: cover;
        width: 100%;
        height: 14rem;  
    }

    ion-card-title{
        position: absolute;
        display: flex;
        align-items: center;
        top: 9.5rem;
        height: 72px;
        padding: 1rem;
        width: 100%;
        background: rgba(0, 0, 0, 0.631372549);
        color: #fff;
        font-size: 1.5rem;
    }
    
    ion-card-subtitle{
        font-style: italic;
    }

    .date{
        position: absolute;
        top: 2rem;
        background: #3880ff;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .price{
        position: absolute;
        top: 7.3rem;
        right: 0;
        background: #3880ff;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
    }
    
    .footer{
        border-top: #b9b9b9 1px solid;
        padding: 1rem;
        display: flex;
        justify-content: space-around;

        .ico{
            cursor: pointer;
            transition: all .2s ease-in-out;  
        }

        .ico:hover{
            transform: scale(1.3);
        }
    }
}

ion-card:hover{
    transform: scale(1.05);
}


@media screen and (min-width: 0px) and (max-width: 768px) {
   
}
  
@media screen and (min-width: 768px)  {
    .ico.share{
        display: none;
    }
}