<!-- <div class="rounded flex items-center flex-col overflow-auto bg-white dark:bg-gray-500 w-full h-full"> -->
  <!-- <div class='vk-post owner-id="1" post-id="549734" hash="W9KumhHBb2MD44NeokKOA4PmVETY"'></div> -->
  <!-- <div *ngIf="eventsService.events"> -->
    <!-- <div id="{{test}}"></div> -->
        <!-- <div class="flex w-full"
            *ngFor="let event of events  let i = index"> -->

      <!-- <div class="border rounded-md my-4 bg-scroll items-center text-center "> -->
        <!-- <div class="my-4 flex vk"  id={{event.vkIdPost}}><div id="vk_comments"></div></div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- {{test}} -->
    <!-- <div
     *ngFor="let event of eventsService.events  let i = index">
      <div class="border rounded-md my-4 bg-scroll items-center text-center ">
        {{event.title}}
        <img [src]="event.image" [alt]="event.title" class="w-1/6 mb-2">
        {{event.description}}
        <div class="text-right">
          лайки комменты  
        </div>
      </div>
    </div> -->
  <!-- </div> -->
  <ion-content><h3>ВЫВОД МЕРОПРИЯТИЙ</h3></ion-content>
