<ion-content id="topEv" #lentEvent [scrollEvents]="true">

          <div class="carusel-wrapper_flex" #headerWrapper>
            <app-second-header size="clear">
              <div #headerBlock  header-clear [ngClass]="headerClassName">
                <div #headerTools class="header-tools_top">
                  <app-type-swither #typeSwitcher (endingSwitchAnimation)="redirectToSight()"></app-type-swither>
                  <app-category-button #categoryButton stateType="Event"></app-category-button>
                </div>
                <div #headerToolsSearch class="header-tools_search">
                  <div>
                    <app-search-button [active]="searchActive" (changeState)="changeSearch()" (changeSearch)="searchNavigate($event)"></app-search-button>
                  </div>
                </div>
              </div>
                   
            </app-second-header>
            
            <div [ngClass]="{'header-bottom-container': this.eventsTapeService.eventsLastScrollPositionForTape <= 80, 'header-bottom-container_active': this.eventsTapeService.eventsLastScrollPositionForTape > 80  }">
              <div class="header-bottom-container_city" (click)="openCitySearch()">
                <span class="header-bottom-container_city__text">
                  {{ eventsTapeService.tapeCityName ? eventsTapeService.tapeCityName : '...' }}
                </span>
                  
              </div>
              <div class="calendar-container">
                <app-change-date-select [modalValue]="selectedDateModalValue" [selectedValue]="selectedDateItem" (openModal)="openSelectDate()" (closeModal)="closeSelectDate()" (selectItem)="selectDateItem($event)"></app-change-date-select>
                <app-calendar-button style="opacity: 0; position: absolute;" (closeCalendar)="closeCalendar()" (calendarElement)="openCalendar($event)" [openCalendar]="openCalendarState" (setDateEmit)="setDateInSelected($event)"></app-calendar-button>
              </div>
            </div>
           
          </div>

          <div class="grid-wrapper">
            <app-card-grid (eventClicked)="eventNavigation($event)"
             [radius]="currentRadius"
             [stopScroll]="this.eventsTapeService.nextPage" 
             [notFound]="this.eventsTapeService.notFound" 
             [spiner]="spiner" [cards]="eventsTapeService.eventsCity" 
             [separatorCards]="eventsTapeService.eventsSeparator" 
             (endScroll)="getEventsCity()"></app-card-grid>
          </div>

</ion-content>
