.filters {
  position: relative;
  z-index: 1;
}

.segments {
  background-color: #ced4e0;
}

.segment-title {
  color: black;

  ion-icon {
    color: black;
    padding-right: 5px;
  }
}

.segment-box {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

ion-segment-button {
  --border-width: 0;
}

.note {
  color: #9c9ea5;
  //margin-top: 5px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .filters {
    position: fixed;
    bottom: 5rem;
    right: 1.5rem;
    z-index: 999999;
  }

  .segments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .app-event-card {
    //margin-left: 2%;
    //margin-right: 2%;
  }
}

@media (min-width: 768px) {
  .filters {
    // position: fixed;
    // bottom: 5rem;
    // right: 1.5rem;
    // z-index: 9999;
  }
  .app-event-card {
    //margin-left: 30%;
    //margin-right: 30%;
  }

  .segments {
    margin-top: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1313px) {
  .segments {
    margin-top: 60px;
  }
  .app-event-card {
    //margin-left: 35%;
    //margin-right: 35%;
  }
}

.test {
  background-color: #edeef0;
}
