<ion-content>
  <app-second-header size="">
      <ng-container>
        <div class="header-wrapper">
          Мои мероприятия <app-rounded-button routerLink="/cabinet/events/create" icon="assets/icons/create.svg" buttonText="Создать"></app-rounded-button>
        </div>
      </ng-container>
  </app-second-header>
  <div class="grid-container">
    <app-card-grid (eventClicked)="eventNavigation($event)"  [archived]="true" [notFound]="notFound" [spiner]="spiner" [cards]="events" (endScroll)="getMyEvents($event)"></app-card-grid>

  </div>
 
</ion-content>

