<ion-content>
  <app-second-header size="xxl" img="/assets/images/myEventsHeader.png">
      <ng-container header-bottom>
        Мои мероприятия <app-rounded-button routerLink="/cabinet/events/create" icon="assets/icons/create.svg" buttonText="Создать"></app-rounded-button>
      </ng-container>
  </app-second-header>
  <div class="grid-container">
    <app-card-grid (eventClicked)="eventNavigation($event)"  [archived]="true" [notFound]="notFound" [spiner]="spiner" [cards]="events" (endScroll)="getMyEvents($event)"></app-card-grid>

  </div>
 
</ion-content>

