<ion-content>
    <app-second-header  img="/assets/images/myEventsHeader.png">
      <ng-container >
        <app-back-button></app-back-button>
         Мои сообщества
         <app-rounded-button routerLink="/cabinet/events/create" icon="assets/icons/create.svg" buttonText="Создать"></app-rounded-button>
     
      </ng-container>
    </app-second-header>
    <div class="grid-container">
      <app-organizations-grid (organizationClicked)="organizationNavigation($event)" buttonType="edit" [notFound]="notFound"  (endScroll)="getMySights()" [spiner]="spiner" [cards]="sights"/>

    </div>
</ion-content>
