<ion-content>
    <app-second-header  img="/assets/images/myEventsHeader.png">
      <ng-container >
        <div class="header-wrapper">
          Мои сообщества <app-rounded-button routerLink="/cabinet/sights/create" icon="assets/icons/create.svg" buttonText="Создать"></app-rounded-button>
        </div>
      </ng-container>
    </app-second-header>
    <div class="grid-container">
      <app-organizations-grid (organizationClicked)="organizationNavigation($event)" buttonType="edit" [notFound]="notFound"  (endScroll)="getMySights()" [spiner]="spiner" [cards]="sights"/>

    </div>
</ion-content>
