<ion-card>
<ion-list>
    <ion-list-header color="primary">
        <ion-label *ngIf="bottom_load_all_comments">
            <h2>Комментарии</h2>
        </ion-label>
        <ion-label *ngIf="!bottom_load_all_comments">
            <h2>Комментариев нет</h2>
        </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let comment of prev_comment">  

        <ion-avatar slot="start">
            <img alt="Silhouette of mountains" src="{{comment.user.avatar}}" />
        </ion-avatar>
        <ion-label > 
            <h2>{{comment.user.name}}</h2>
            <p>{{ comment.text }}</p>
        </ion-label>
    </ion-item>

    <ion-item  color="white" *ngIf="bottom_load_all_comments" >
        <ion-button (click)="show_all_comments()" *ngIf="!load_all_comments" slot="end">
            Загрузить все комментарии
        </ion-button>
        <ion-button (click)="ngOnInit()" *ngIf="load_all_comments === true" slot="end">
            Скрыть комментарии
        </ion-button>
    </ion-item>

    <form [formGroup]="createCommentForm" enctype="multipart/form-data" *ngIf="user_auth"> 
        <ion-item>
                <ion-avatar slot="start">
                    <img alt="ava" src="{{user_avatar}}" />
                </ion-avatar>
                    <ion-textarea formControlName="new_comment" label="Outline textarea" labelPlacement="floating" fill="outline" placeholder="Оставить комментарий"></ion-textarea>
                    <ion-item-option color="white">
                        <ion-button slot="end" (click)="addComment()">Отправить</ion-button>
                    </ion-item-option>
                
        </ion-item>
    </form>
</ion-list>
</ion-card>