<div (click)="switchType()" class="content-container">
  <div [@contentContainerAnimate]="type" class="types-container">
    <div [@eventTypeAnimate]="type === sight" class="event-container" [class.active]="type === event">
      <img [class.active]="type === event" class="fire-icon-orange" src="/assets/icons/fire.svg">
      <p *ngIf="type === event" class="selected-type-text">
        События
      </p>
    </div>

    <div [@sightTypeAnimate]="type === event" [class.active]="type === sight" class="sight-container">
      <img [class.active]="type === sight" class="flag-icon white-color" src="/assets/icons/flag.svg">
      <p  *ngIf="type === sight" class="selected-type-text">
        Места
      </p>
    </div>
  </div>
</div>