
<ion-content>
    <div class="header-plug">
        <div class="header-tools">
            <app-back-button></app-back-button>
            <span>Профиль</span>
            <app-circle-button icon="/assets/icons/menu-pen.svg" (clicked) ="navigateToSettings()" ></app-circle-button>
        </div>
    </div>
 
    <section class="content">
        <app-user-section [user]="user"></app-user-section>
        <div *ngIf="user" class="hidden-id">UID: {{ user.id }}</div>
        <div class="menu">
            <app-profile-item [routing]="'events'" [iconColor]="'#FAEAD7'" [icon]="'/assets/icons/fireOrange.svg'" [name]="'Мои мероприятия'"></app-profile-item>
            <app-profile-item [routing]="'sights'" [iconColor]="'#DCE9FF'" [icon]="'/assets/icons/place.svg'" [name]="'Мои сообщества'"></app-profile-item>
            <app-profile-item [routing]="'/contacts'" [iconColor]="'#11f93840'" [icon]="'/assets/icons/subtract.svg'" [name]="'Помощь и обратная связь'"></app-profile-item>
        </div>
        <div class="agreement-link">Пользовательское соглашение</div>
        <div class="exit-button-wrapper">
            <app-exit-button></app-exit-button>
        </div>
    </section>

</ion-content>
