<ion-content>
    <ion-grid style="padding-top: var(--ion-safe-area-top, 0);">
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-lg="4" size-md="8" size-xs="12">
                <!-- <ion-accordion-group expand="inset">
                    <ion-accordion  value="first">
                      <ion-item slot="header" color="light">
                        <ion-icon name="star" color="primary" slot="start"></ion-icon>
                        <ion-label text-wrap>Избранное</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="alarm" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>какое-то мероприятие</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="airplane" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>какое-то мероприятие 2</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="american-football" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>какое-то мероприятие 3</ion-label>
                        </ion-item>
                        <div class="ion-text-end">
                            <ion-button fill="clear" size="small" [routerLink]="[ '/cabinet/favorites' ]">
                                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                                Смотреть все
                            </ion-button>
                        </div>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="4" size-md="8" size-xs="12">
                <ion-accordion-group expand="inset">
                    <ion-accordion  value="first">
                      <ion-item slot="header" color="light">
                        <ion-icon name="notifications" color="primary" slot="start"></ion-icon>
                        <ion-label text-wrap>Уведомления</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="alarm" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>какое-то уведомление</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="airplane" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>какое-то уведомление 2</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="american-football" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>какое-то уведомление 3</ion-label>
                        </ion-item>
                        <div class="ion-text-end">
                            <ion-button fill="clear" size="small" [routerLink]="[ '/cabinet/notifications' ]">
                                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                                Смотреть все
                            </ion-button>
                        </div>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group> -->
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ">
            <ion-col size-lg="4" size-md="8" size-xs="12">
                <!-- <ion-accordion-group expand="inset">
                    <ion-accordion  value="first">
                      <ion-item slot="header" color="light">
                        <ion-icon src="/assets/icons/events.svg" color="primary" slot="start"></ion-icon>
                        <ion-label text-wrap>Мои мероприятия</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="alarm" slot="start" color="medium"></ion-icon>
                            <ion-label color="success" text-wrap>Мероприятие 1 - одобрено</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="airplane" slot="start" color="medium"></ion-icon>
                            <ion-label color="danger" text-wrap>Мероприятие 2- отказ</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="american-football" slot="start" color="medium"></ion-icon>
                            <ion-label color="tertiary" text-wrap>Мероприятие 3- черновик</ion-label>
                        </ion-item>
                        <div class="ion-text-end">
                            <ion-button fill="clear" size="small" [routerLink]="[ '/cabinet/events' ]">
                                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                                Смотреть все
                            </ion-button>
                        </div>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group> -->
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ">
            <ion-col size-lg="4" size-md="8" size-xs="12">
                <!-- <ion-accordion-group expand="inset">
                    <ion-accordion  value="first">
                      <ion-item slot="header" color="light">
                        <ion-icon src="/assets/icons/аttraction.svg" color="primary" slot="start"></ion-icon>
                        <ion-label text-wrap>Мои достопримечательности</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="alarm" slot="start" color="medium"></ion-icon>
                            <ion-label color="success" text-wrap>достопримечательность 1 - опубликовано</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="airplane" slot="start" color="medium"></ion-icon>
                            <ion-label color="danger" text-wrap>достопримечательность 2- отказ</ion-label>
                        </ion-item>
                        <ion-item
                        lines="none"
                        >
                            <ion-icon name="american-football" slot="start" color="medium"></ion-icon>
                            <ion-label color="tertiary" text-wrap>достопримечательность 3- черновик</ion-label>
                        </ion-item>
                        <div class="ion-text-end">
                            <ion-button fill="clear" size="small" [routerLink]="[ '/cabinet/sights' ]">
                                <ion-icon name="arrow-forward" slot="end"></ion-icon>
                                Смотреть все
                            </ion-button>
                        </div>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group> -->
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ">
            <ion-col size-lg="4" size-md="8" size-xs="12">
                <ion-accordion-group expand="inset">
                    <ion-accordion  value="first">
                      <ion-item slot="header" color="light">
                        <ion-icon name="settings" color="primary" slot="start"></ion-icon>
                        <ion-label text-wrap>Настройки</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-item
                            lines="none"
                            [routerLink]="[ '/cabinet/settings/profile' ]"
                        >
                            <ion-icon name="person" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>Профиль</ion-label>
                        </ion-item>
                        <ion-item
                            lines="none"
                            [routerLink]="[ '/cabinet/settings/privacy' ]"
                        >
                        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
                            <ion-label text-wrap>Безопасность</ion-label>
                        </ion-item>
                        <ion-item
                            lines="none"
                            [routerLink]="[ '/' ]"
                            (click)="onLogout()"
                        >
                        <ion-icon name="log-out" slot="start"></ion-icon>
                            <ion-label text-wrap>Выход</ion-label>
                        </ion-item>
                        <!-- <ion-item
                            lines="none"
                            [routerLink]="[ '/cabinet/settings/notifications' ]"
                        >
                            <ion-icon name="notifications" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>Уведомления</ion-label>
                        </ion-item>
                        <ion-item
                            lines="none"
                            [routerLink]="[ '/cabinet/settings/favorites' ]">
                            <ion-icon name="star" slot="start" color="medium"></ion-icon>
                            <ion-label text-wrap>Избранное</ion-label>
                        </ion-item> -->
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ">
          <ion-col size-lg="4" size-md="8" size-xs="12">
              <ion-accordion-group expand="inset">
                  <ion-accordion  value="first">
                    <ion-item slot="header" color="light">
                      <ion-icon name="call" color="primary" slot="start"></ion-icon>
                      <ion-label text-wrap>Контакты</ion-label>
                    </ion-item>
                    <div class="ion-padding" slot="content">
                      <ion-item
                          lines="none"
                          [routerLink]="[ '/contacts' ]"
                      >
                          <ion-icon name="mail" slot="start" color="medium"></ion-icon>
                          <ion-label text-wrap>Обратная связь</ion-label>
                      </ion-item>
                      <ion-item
                          lines="none"
                          [routerLink]="[ '/about' ]"
                      >
                      <ion-icon name="information-circle" slot="start"></ion-icon>
                          <ion-label text-wrap>О проекте</ion-label>
                      </ion-item>
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
          </ion-col>
      </ion-row>


      <ion-row class="ion-justify-content-center ">
        <ion-col size-lg="4" size-md="8" size-xs="12">
            <ion-accordion-group expand="inset">
                <ion-accordion  value="first">
                  <ion-item slot="header" color="light">
                    <ion-icon name="add-circle" color="primary" slot="start"></ion-icon>
                    <ion-label text-wrap>Мои мероприятия</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ion-item
                        lines="none"
                        [routerLink]="[ '/cabinet/events/create' ]"
                    >
                        <ion-icon name="add-circle" slot="start" color="medium"></ion-icon>
                        <ion-label text-wrap>Создать мероприятие</ion-label>
                    </ion-item>

                    <!-- <ion-item
                        lines="none"
                        [routerLink]="[ '/cabinet/settings/notifications' ]"
                    >
                        <ion-icon name="notifications" slot="start" color="medium"></ion-icon>
                        <ion-label text-wrap>Уведомления</ion-label>
                    </ion-item>
                    <ion-item
                        lines="none"
                        [routerLink]="[ '/cabinet/settings/favorites' ]">
                        <ion-icon name="star" slot="start" color="medium"></ion-icon>
                        <ion-label text-wrap>Избранное</ion-label>
                    </ion-item> -->
                  </div>
                </ion-accordion>
              </ion-accordion-group>
        </ion-col>
    </ion-row>

      <ion-row class="ion-justify-content-center ">
        <ion-col size-lg="4" size-md="8" size-xs="12">
            <ion-accordion-group expand="inset">
                <ion-accordion  value="first">
                  <ion-item slot="header" color="light">
                    <ion-icon name="add-circle" color="primary" slot="start"></ion-icon>
                    <ion-label text-wrap>Мои достопримечательности</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ion-item
                        lines="none"
                        [routerLink]="[ '/cabinet/sights/create' ]"
                    >
                        <ion-icon name="add-circle" slot="start" color="medium"></ion-icon>
                        <ion-label text-wrap>Создать достопримечательность</ion-label>
                    </ion-item>

                    <!-- <ion-item
                        lines="none"
                        [routerLink]="[ '/cabinet/settings/notifications' ]"
                    >
                        <ion-icon name="notifications" slot="start" color="medium"></ion-icon>
                        <ion-label text-wrap>Уведомления</ion-label>
                    </ion-item>
                    <ion-item
                        lines="none"
                        [routerLink]="[ '/cabinet/settings/favorites' ]">
                        <ion-icon name="star" slot="start" color="medium"></ion-icon>
                        <ion-label text-wrap>Избранное</ion-label>
                    </ion-item> -->
                  </div>
                </ion-accordion>
              </ion-accordion-group>
        </ion-col>
    </ion-row>
        <!-- <ion-row class="ion-justify-content-center ">
            <ion-col size-lg="4" size-md="8" size-xs="12">
                <ion-button size="large" expand="block" class="ion-margin-top" [routerLink]="[ '/contacts/support' ]">
                    <ion-icon name="chatbox-ellipses" slot="start"></ion-icon>
                    Чат с поддержкой
                </ion-button>
            </ion-col>
        </ion-row> -->
    </ion-grid>
</ion-content>
