<div class="main-types-block">
  <div *ngFor="let type of types; let i = index" class="child-types-block" (click)="addType(type)">
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;" >
      <button
      type="button" 
      *ngIf="!checkIds(type.id)"
      class="icon-btn" >
        <div #typeButton class="button-container" id={{type.id}}>
          <img [src]="backendUrl + type.ico" class="button-icon" alt={{type.name}}>
        
        </div>  
      </button>

      <button
      type="button" 
      *ngIf="checkIds(type.id)"
      class="icon-btn icon-btn_active" >
        <div #typeButton class="button-container" id={{type.id}}>
          <img [src]="backendUrl + type.ico" class="button-icon" alt={{type.name}}>
        
        </div>  
      </button>

      <ion-label *ngIf="!checkIds(type.id)" class="button-text">{{type.name}}</ion-label>
      <ion-label *ngIf="checkIds(type.id)" class="button-text button-text_active">
        <ion-icon *ngIf="start === type.id" name="star"></ion-icon>
        {{type.name}}
      </ion-label>
    </div>

  </div>

  
</div>
