<ion-col class="main-types-block">
  <ion-row>
    <ion-col class="child-types-block">
      <ion-button (click)="add()" class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/film.svg" class="button-icon" alt="Кино">
          <ion-label class="button-text">Кино</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/theaters.svg" class="button-icon" alt="Выступления">
          <ion-label class="button-text">Выступления</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/historic.svg" class="button-icon" alt="Экскурсии">
          <ion-label class="button-text">Экскурсии</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/student.svg" class="button-icon" alt="Обучение">
          <ion-label class="button-text">Обучение</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/exposition.svg" class="button-icon" alt="Выставки">
          <ion-label class="button-text">Выставки</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/mask.svg" class="button-icon" alt="Театр">
          <ion-label class="button-text">Театр</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/events.svg" class="button-icon" alt="Праздники">
          <ion-label class="button-text">Праздники</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/ball.svg" class="button-icon" alt="Спорт">
          <ion-label class="button-text">Спорт</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/initiative.svg" class="button-icon" alt="Встречи">
          <ion-label class="button-text">Встречи</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/film.svg" class="button-icon" alt="Кино">
          <ion-label class="button-text">Кино</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/theaters.svg" class="button-icon" alt="Выступления">
          <ion-label class="button-text">Выступления</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/historic.svg" class="button-icon" alt="Экскурсии">
          <ion-label class="button-text">Экскурсии</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/student.svg" class="button-icon" alt="Обучение">
          <ion-label class="button-text">Обучение</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/exposition.svg" class="button-icon" alt="Выставки">
          <ion-label class="button-text">Выставки</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/mask.svg" class="button-icon" alt="Театр">
          <ion-label class="button-text">Театр</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/events.svg" class="button-icon" alt="Праздники">
          <ion-label class="button-text">Праздники</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/ball.svg" class="button-icon" alt="Спорт">
          <ion-label class="button-text">Спорт</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/initiative.svg" class="button-icon" alt="Встречи">
          <ion-label class="button-text">Встречи</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/film.svg" class="button-icon" alt="Кино">
          <ion-label class="button-text">Кино</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/theaters.svg" class="button-icon" alt="Выступления">
          <ion-label class="button-text">Выступления</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/historic.svg" class="button-icon" alt="Экскурсии">
          <ion-label class="button-text">Экскурсии</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/student.svg" class="button-icon" alt="Обучение">
          <ion-label class="button-text">Обучение</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/exposition.svg" class="button-icon" alt="Выставки">
          <ion-label class="button-text">Выставки</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/mask.svg" class="button-icon" alt="Театр">
          <ion-label class="button-text">Театр</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/events.svg" class="button-icon" alt="Праздники">
          <ion-label class="button-text">Праздники</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/ball.svg" class="button-icon" alt="Спорт">
          <ion-label class="button-text">Спорт</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/initiative.svg" class="button-icon" alt="Встречи">
          <ion-label class="button-text">Встречи</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/film.svg" class="button-icon" alt="Кино">
          <ion-label class="button-text">Кино</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/theaters.svg" class="button-icon" alt="Выступления">
          <ion-label class="button-text">Выступления</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/historic.svg" class="button-icon" alt="Экскурсии">
          <ion-label class="button-text">Экскурсии</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/student.svg" class="button-icon" alt="Обучение">
          <ion-label class="button-text">Обучение</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/exposition.svg" class="button-icon" alt="Выставки">
          <ion-label class="button-text">Выставки</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/mask.svg" class="button-icon" alt="Театр">
          <ion-label class="button-text">Театр</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/events.svg" class="button-icon" alt="Праздники">
          <ion-label class="button-text">Праздники</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/ball.svg" class="button-icon" alt="Спорт">
          <ion-label class="button-text">Спорт</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/initiative.svg" class="button-icon" alt="Встречи">
          <ion-label class="button-text">Встречи</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/film.svg" class="button-icon" alt="Кино">
          <ion-label class="button-text">Кино</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/theaters.svg" class="button-icon" alt="Выступления">
          <ion-label class="button-text">Выступления</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/historic.svg" class="button-icon" alt="Экскурсии">
          <ion-label class="button-text">Экскурсии</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/student.svg" class="button-icon" alt="Обучение">
          <ion-label class="button-text">Обучение</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/exposition.svg" class="button-icon" alt="Выставки">
          <ion-label class="button-text">Выставки</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/mask.svg" class="button-icon" alt="Театр">
          <ion-label class="button-text">Театр</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/events.svg" class="button-icon" alt="Праздники">
          <ion-label class="button-text">Праздники</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/ball.svg" class="button-icon" alt="Спорт">
          <ion-label class="button-text">Спорт</ion-label>
        </div>  
      </ion-button>
    </ion-col>
    <ion-col class="child-types-block">
      <ion-button class="icon-btn">
        <div class="button-container">
          <img src="assets/icons/initiative.svg" class="button-icon" alt="Встречи">
          <ion-label class="button-text">Встречи</ion-label>
        </div>  
      </ion-button>
    </ion-col>
  </ion-row>

  
</ion-col>
