<div class="main-types-block">
  <div *ngFor="let type of types; let i = index" class="child-types-block" (click)="addType(type)" (click)="addType(type)" (click)= "addTypeHtml(typeButton)" >
    <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;" >
      <button
      type="button" 
      [class.icon-btn_active]="type.id == buttonClicked"
      class="icon-btn" >
        <div #typeButton class="button-container" id={{type.id}}>
          <img [src]="backendUrl + type.ico" class="button-icon" alt={{type.name}}>
        
        </div>  
      </button>
      <ion-label [class.button-text_active]="type.id == buttonClicked" class="button-text">{{type.name}}</ion-label>
    </div>

  </div>

  
</div>
