<ion-row class="content">
  <ion-icon name="chevron-back-outline" class="ico_left" (click)="scrollLeft()" ></ion-icon>
  <div class="container" #wigetSightScroll>
    <p class="item" [class.active]="type_id === 'all'" (click)="getTypeId('all')" id="all">Все</p>
    <p class="item" *ngFor="let type of types" [class.active]="type.id === type_id" (click)="getTypeId(type.id)" id="{{type.id}}">{{type.name}}</p>
  </div>

  <ion-icon name="chevron-forward-outline" class="ico_right" (click)="scrollRight()"></ion-icon>
</ion-row>
