<ion-row class="content">
    <ion-icon name="chevron-back-outline" class="ico_left" (click)="scrollLeft()" ></ion-icon>
    <div class="container">
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
        <p class="item">CONTENT</p>
    </div>
    <ion-icon name="chevron-forward-outline" class="ico_right" (click)="scrollRight()"></ion-icon>
</ion-row>
