.mainImgBlock{
    width: 400px;
    min-height: 400px;
    
}
.ImglIist{
    display: flex;
    justify-content: center;
}

.imgblock{
    width: 100px;
    height: 100px;
    
}
.hidden{
    display: none;
}