<ion-app>
  <!-- <ion-split-pane when="(min-width: 4000px)" content-id="main-content">
    <ion-menu side="start" content-id="main-content">
      <app-sidebar></app-sidebar>
    </ion-menu> -->

    <!-- <div class="ion-page" id="main-content"> -->
 
      <ion-header mode="md">

        <ion-toolbar mode="ios" style="display: block; height: var(--ion-safe-area-top); --border:none; --box-shadow: none; box-shadow: none;" class="">
          <app-header></app-header>
        </ion-toolbar>
      </ion-header>
    
     
        <ion-router-outlet></ion-router-outlet>
      <ion-footer *ngIf="url !== '/cabinet/events/create'">
        <ion-toolbar>
            <app-footer></app-footer>
        </ion-toolbar>
      </ion-footer>
    <!-- </div> -->
  <!-- </ion-split-pane> -->
</ion-app>
