@media screen and (min-width: 0px) and (max-width: 1060px) {
  ion-footer {
    display: flex;
  } /* show it on small screens */
}

@media (min-width: 1060px) {
  .header {
    display: block;
  }
  ion-footer {
    display: none;
  } /* hide it elsewhere */
}
@media (max-width: 1060px) {
  .header {
    display: none;
  }
}
