.place-address-container{
    text-align: start; 
    --padding-start: 10px;
}
.place-adress-container__address-text{
    color: var(--gray);
    font-family: var(--font-regular);
    font-size: 0.78rem;
    z-index: 100;
  
}
.place-content-container{
    width: 100%;
    border-top: 1px solid rgba(76, 88, 97, 0.1568627451);
    padding-top: 0.7rem;
}
.place-content-container__map{
    height: 266px;
    border-radius:5px;
    overflow: hidden;
}
.map{
    height: 133px;
    border-radius:5px;
}
.button-wrapper{
    min-width: 100%;
    padding-top: 0.5rem;
}
