<div>
  <div class="place-header-container">
    <span class="place-header">Место провидения</span>  <button (click)="deletePlace()" class="delete-button" type="button"><img class="delete-img" src="assets/icons/trash.svg" alt=""></button>
  </div>
  <div class="place-container">
    <form [formGroup]="placeForm">
      <app-address-input (addressEditEmit)="edditAdress($event)" [place]="place" [placeId]="placeId" label="Адрес"></app-address-input>
      <div class="not-found-span-container">
        <span class="not-found-span" *ngIf="checkCountSeances()">Время проведения не добавлено</span>
      </div>
      <ng-container *ngFor="let seance of seancesArray">
        <app-new-seance *ngIf="!seance.on_delete" (seanceEditEmit)="seanceEdit($event)" [value]="seance.date_start" (seanceDeleteEmit)="seanceDelete($event)" [seance]="seance" [placeId]="placeId" [label]="'Начало события'" type="datetime-local" ></app-new-seance>
      </ng-container>
    </form>
    <div class="button-conatiner">
      <div class="button-container-item">
        <app-standart-button (click)="addSeance()" buttonText="Добавить время" type="button" theme ="standart"></app-standart-button>
      </div>

    </div>
  </div>
</div>