<ion-row>
  <ion-col size="12" *ngIf="isAuthenticated; else notAuth" class="auth">
    <ion-icon src="assets/icons/ring.svg" class="ring"></ion-icon>

    <ion-avatar class="avatar">
      <img *ngIf="user.avatar" alt="Silhouette of a person's head" [src] = "backendUrl + user.avatar"/>
      <ion-icon *ngIf="!user.avatar" class="avatar ion-justify-content-center" size="large" name="person-circle"></ion-icon>
    </ion-avatar>

    
    

    <app-dropdown-popup 
      [id]="'authMenu'"
      [headerLeftIco]="false"
      [headertitle]="user.name ? user.name : 'UserName'"
      [listItems]="menuAuth"
      [itemIco]="true"
    >
    </app-dropdown-popup>
  </ion-col>

  <ng-template #notAuth>
    <ion-col>
      <ion-button [routerLink]="['login']"><ion-icon name="log-in" slot="start"></ion-icon>Вход</ion-button>
    </ion-col>
  </ng-template>
</ion-row>