.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ring {
  cursor: pointer;
}

.ring:hover {
  color: #3880ff;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-left: 4px;
}
