.main-content__firt-seance{
  background: #3880FF;
  color: #fff;
  font-family: var(--font-regular);
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 176px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size:0.7rem;
  border-radius: 4px;
}

.hidden-id {
  font-family: var(--font-regular);
  font-size: 0.6rem;
  color: grey;
}

.main-content{
  padding: 1rem;
}
ion-content{

}
.main-content__name{
  padding-top: 1rem;
  display: flex;
  font-size: 1.5rem;
  font-family:var(--font-bold)
}
.main-content__shedule{
  padding-top: 1rem;
}

.back-button-wrapper{
  padding-top:  var(--ion-safe-area-top);
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}
.social-button-container{
  position: absolute;
  padding-top:  var(--ion-safe-area-top);
  font-family: var(--font-regular);
  display: flex;
  gap: 5px;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
.main-content__shedule__address{
  margin-top: 1rem;
}
.main-content-recomend-card-wrapper{
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
}
.price-container__text{
  display: flex;
  justify-content: center;
  font-family: var(--font-regular);
  align-items: center;
  text-align: center;
  padding: 7px;
  font-size: 0.7rem;
  color: #fff;
  background-color: #1c2226d5;
  display: inline;
  border-radius: 8px;

}

.price-container{
  gap: 5px;
  position: absolute;
  padding-top:  var(--ion-safe-area-top);
  font-family: var(--font-regular);
  top: 11.5rem;
  z-index: 1;
  left: 1rem;
  display: flex;
}




.ico-small {
  width: 30px;
  height: 30px;
  margin: -4px 4px;
}
.event-name {
}
.likes {
  background-color: #f6f4f5;
  border-radius: 30px;
  padding: 6px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
.event-name-header {
  margin-left: 1%;
  padding-left: 8%;
  padding-right: 2%;
  width: 100%;
  font-family: 'Montserrat-Bold';
  font-size: clamp(1.6rem, 0.682rem + 3.09vw, 3rem);
  font-weight: 500;
}
.content-main {
  margin-top: -1.5rem;
}

.description-icon {
  font-family: 'Montserrat-Light';
  line-height: 1.5;
}
.description-org {
  font-family: 'Montserrat-Light';
  line-height: 1.5;
}

.event-icons {
  display: flex;
  align-items: center;
}

.tikets-button {
  background-color: #6393ff;
  color: #fff;
  padding: 0.8rem;
  font-family: 'Montserrat-Medium';
  font-size: 14px;
  border-radius: 6px;
}

.description_mobile {
  display: none;
}

.swiper-container {
  height: 24rem;
}

.swiper-container-img_wrapper {
  transition: 0.5s opacity;
  display: flex;
  align-items: center;
  position: absolute;
  
  width: auto;
  pointer-events: none;
  height: 100%;

  .swiper-container-header-content {
    max-width: 80%;
    color: #fff;
    padding-left: 2rem;
    padding-bottom: 4rem;
    margin: auto;
    .swiper-container-header-content-organizator_wrapper {
      .swiper-container-header-content-organizator {
        font-size: calc(10px + 10 * (100vh / 1406));
        font-family: 'Montserrat-Regular';
        text-align: start;
      }
    }

    .swiper-container-header-content-time {
      color: #fff;
      font-family: 'Montserrat-Regular';
      text-align: start;
      font-size: 14px;
    }
  }
}

.tickets-grid {
}
.ticket-main {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 0.5rem;
  min-height: 6rem;
  align-items: center;
  justify-content: space-between;
  width: clamp(18.75rem, 14.205rem + 22.73vw, 31.25rem);
  border-radius: 8px;
  display: flex;
  background-image: url('./tiketPC.png');
  background-size: 600px, 300px;
  background-repeat: no-repeat;
  .circle {
    margin-right: -2rem;
    background-color: #fff;
    z-index: 1000;

    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .price-information {
    padding: 8px;
    margin-left: 4rem;
    max-width: 230px;
    background-color: #fff;
    border-radius: 8px;

    .ticket-main-price {
      font-family: 'Montserrat-SemiBold';
      font-size: calc(20px + 4 * (100vh / 1406));
      font-weight: 500;
      max-width: 12rem;
    }
    .ticket-main-description {
      font-family: 'Montserrat-Light';
      margin-top: 0.5rem;
      max-width: 12rem;
    }
  }
}
.main-content__community{
  padding-top: 1rem;
}
.place-skelet {
  border-radius: 6px;
  height: 60px;
}

.event-container {
  background-color: none;
  height: 100%;
  
}
.seances{
  display: block;
  width: 100%;
  margin-left: auto;
}
.seance {
  background-color: rgba(211, 207, 207, 0.219);
  margin-bottom: 0.6rem;
}

.address {
  font-family: 'Montserrat-Light';
  color: #000000;
  font-size: calc(16px + 10 * (100vh / 1406));
}
.map_prew {
  height:20rem;
  width: 80%;

}
.accordion-content{
  border: 1px solid rgba(0, 0, 0, 0.096);
  min-height: 20rem;
  display: flex;
}

.left-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.font-weight-bold {
  font-weight: bold;
}
.main-content__community{
  padding-bottom: 4rem;
}

.italic {
  font-style: italic;
}
.title {
  text-align: start;
  font-family: var(--font-bold);
  font-size: 20px;
  color: #1C2226;

}
.community-wrapper{
  padding-top: 1rem;
}
.community-wrapper__button-container{
  padding-top: 1rem;
  max-width: 181px;
}
.events-map-container {
  display: block;
}

.event-location-arrow {
  vertical-align: middle;
}

.events-location {
  align-items: center;
  display: flex;
}

.events-location:hover {
  cursor: pointer;
  background-color: rgba(211, 207, 207, 0.219);
}

.header-info-container {
  display: flex;
  align-items: center;
}
.map{
  height: 15rem;
  width: 50%;
  position: absolute;
}
.sub-title {
  line-height: 1.5;
  color: #737373;
}

.description {
  margin-top: 1rem;

  font-family: 'Montserrat-Light';
  line-height: 1.5;
}

ion-accordion-group {
  --backgroud-color: black;
}
.ico {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ico:hover {
  transform: scale(1.3);
  color: #3880ff99;
}
.social-buttons_prev{
  display: flex;
  gap: 1rem;
  color: #999ca1;
  margin-bottom: 1rem;
}
.social-buttons {
  font-family: 'Montserrat-Medium';
  display: flex;
  margin: auto;

  gap: 1rem;
  color: #999ca1;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
  justify-content: flex-start;
  max-width: 66%;
  border-radius: 10rem;

  .likes {
    background-color: #f6f4f5;
    border-radius: 30px;
    padding: 6px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  .likes_star {
    background-color: #f6f4f5;
    border-radius: 30px;
    padding: 6px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
  .likes_share {
    background-color: #f6f4f5;
    border-radius: 30px;
    padding: 6px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .map_prew{
    min-width: 100%;
  }

  .seance-wrapper{
    margin: auto;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
  .accordion-content{
    min-height: 20rem;
    display: block;
  }
  .event-name-header {
    padding-left: 0;
  }
  .map {
    width: 99%;
    height: 20rem;
  }

  .social-buttons {
    padding-left: 0;
    max-width: 100%;
  }
  .swiper-container {
    height: 19rem;
  }
  .swiper-container-img_wrapper {
    .swiper-container-header-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .event-container {
    background-color: none;
    border-radius: 0;
    margin: 0;
  }
  .place-skelet {
    height: 98px;
  }
  .swiper-container-header-content-organizator {
    font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1406));
  }
  .title {
    min-width: 80%;
    font-size: 20px;
  }
  .address {
    font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 320px) / 1406));
  }
  .description {
    display: none;
  }
  .description_mobile {
    display: block;
  }

  .ticket-main {
    .price-information {
      margin-left: 2rem;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 960px) {
}
@media screen and (min-width: 1324px) {
  .ion-justify-content-center {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .event-name-header {
    padding-left: 0;
    max-width: 92%;
  }
  .social-buttons {
    padding-left: 3%;
    .likes_share {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  swiper-container {
    --width: 100%;
    swiper-slide {
      height: 100%;
      img {
        border-radius: 6px;
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .ico.share {
    display: none;
  }
}
.map {
  height: 100%;
  width: 100%;
}
.seance-skelet {
  height: 80px;
  width: 300px;
  border-radius: 8px;
}
.seances {
  font-family: "Montserrat-Regular";
  background-color: white;
  border-radius: 8px;
}

.seance-time-c1 {
  max-height: 360px;
  width: 95%;
}
.seance-time-c2 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.336);
  align-items: center;
  padding-left: 20px;
}
.seance-time-container {
  max-height: 430px;
  overflow-y: auto;
  align-items: center;
}

.seance-time-content {
  border-bottom: solid 1px black;
}

.seance-time-hour-container {
  align-items: center;
  margin-top: auto;
  font-size: 21px;

  margin-bottom: auto;
  margin-left: 5px;
  padding-top: 25px;
}
.day-color {
  color: red;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-right: 0;
  letter-spacing: 1.2px;
  font-weight: 500;
}
.hours {
  padding-top: 12px;
  margin-left: 35px;
  font-size: 2rem;
}

.seance-time-day {
  padding-top: 70%;
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.seance-time-month {
  line-height: 1.14;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(75, 73, 73, 0.4);
  font-weight: 600;
  opacity: 85%;
}
.seance-wrapper{
  background: none;
  max-width: 95%;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.096);

}
.seances-time-container {
  background: none;
  height: 300px;
  border-radius: 8px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .seances-container {
    display: block;
  }

  .map {
    height: 500px;
  }

  .seances {
    background-color: white;
  }

  h4 {
    font-size: 18px;
  }
}
.category-button-grid{
  padding-top: 0.5rem;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 0.5rem;
}
