<ion-content>

  <ng-container *ngIf="loadingEvent">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="10" size-md="12" size-xs="12"> 
        <ion-card>
          <ion-row class="ion-justify-content-center">
            <ion-col size-lg="6" size-md="12" size-xs="12"> 
              <ion-skeleton-text [animated]="true" style="height: 20rem;"></ion-skeleton-text>
            </ion-col>
            <ion-col size-lg="6" size-md="12" size-xs="12"> 
              <ion-skeleton-text [animated]="true" style="height: 20rem;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-card-header>
            <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></ion-card-subtitle>
            <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-skeleton-text *ngFor="let key of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [animated]="true"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>      
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="event && !loadingEvent">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="10" size-md="12" size-xs="12">
        <!-- events {{ eventId }} show works!
        {{ event.id }}
        {{ event | json}} -->
        <ion-card>
          <div class="ion-activatable ripple-parent rectangle" [routerLink]="['/events', event.id]">
            <ion-row class="ion-justify-content-center">
              <ion-col size-lg="7" size-md="12" size-xs="12"> 
                <ion-skeleton-text [animated]="true" style="height: 20rem;"></ion-skeleton-text>
              </ion-col>
              <ion-col size-lg="5" size-md="12" size-xs="12"> 
                <swiper-container 
                  #swiper
                  [modules]="swiperModules" 
                  autoplay="true"
                  autoplay-delay="5000"
                  autoplay-disableOnInteraction="false"
                  navigation="true"
                  pagination="true"
                  centeredSlides="true"
                  [followFinger]="false" 
                  [loop]="true" 
                  [initialSlide]="0" 
                > 
          
                <ng-container *ngIf="event.files && event.files.length; else notFiles">
                  <ng-container *ngFor="let file of event.files">
                    <swiper-slide *ngIf="file.local === 1">
                      <img alt="img" src="{{host}}:{{port}}{{ file.link }}" />
                    </swiper-slide>
                    <swiper-slide *ngIf="file.local === 0">
                      <img alt="img" src="{{ file.link }}" />
                    </swiper-slide>
                  </ng-container>
                </ng-container>
          
                <ng-template #notFiles>
                  <swiper-slide><img alt="default img" src="/assets/icons/favicon.png" /></swiper-slide>
                </ng-template>     
              </swiper-container>
              </ion-col>
            </ion-row>
            <ion-card-header>
              <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></ion-card-subtitle>
              <ion-card-subtitle><ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text></ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-skeleton-text *ngFor="let key of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [animated]="true"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-card-content>

            <ion-ripple-effect></ion-ripple-effect>
          </div>

        </ion-card>      
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="!event && loadingEvent">
    <app-no-data/>
  </ng-container>
  
</ion-content>
