<div class="main-wrapper">
  <ion-col class="main-content-header">
    Контакты для <span style="color:#6393FF">связи</span>
  </ion-col>
  
  <ion-col class="main-content-wrapper">
    

    <ion-col class="main-content">
 
      <ion-img class="main-content-contact-img"
        src="/assets/imgs/undraw_knowledge_re_5v9l 1.png"
      >

      </ion-img>
      
      <ion-col class="main-content-contact">
        <ion-col>
          <form class="contact-form" action="">
            <ion-item class="form-mail" lines="none" mode="md" >
              <ion-label >
                <img class="Login_icon" src="/assets/icons/login_mail.svg" alt=""><img>
              </ion-label>
  
              <ion-input 
              placeholder="Введите почту"
              ></ion-input>
            </ion-item>
            <ion-item lines ="none" mode="md" class="form-description"
    
            >
              <ion-textarea fill="solid" class="form-description-area"
              placeholder="Введите ваше обращение">
                
              </ion-textarea>
            </ion-item>
            
          </form>
          <ion-button>Отправить</ion-button>
        </ion-col>


       
      </ion-col>

  
    </ion-col>
  </ion-col>
  
</div>

