.main-wrapper {
  text-align: center;
  height: 100vh;
}

.main-content-header {
  top: 8rem;
  text-align: center;
  font-size: clamp(2.625rem, 2.125rem + 2.5vw, 4rem);
  font-family: 'Montserrat-Medium';
  margin-bottom: clamp(4rem, 5.091rem + -5.45vw, 1rem);

}

.header-container{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--font-semiBold);
}

.main-content-wrapper {
  font-family: 'Montserrat-Medium';
  margin-top: 10rem;
  display: flex;

  .main-content {
    text-align: center;
    margin: auto;

    .main-content-contact {
      padding: 0.5rem;
      background: #dedede;
      border-radius: 16px;
      max-width: 432px;
      font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
      max-height: 425px;
      .contact-form {
        margin: auto;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;

        background-color: #fff;
        font-family: 'Montserrat-Medium';
        border-radius: 8px;
        min-width: 400px;
        max-width: 414px;
        max-height: 404px;
        .form-mail {
          margin-top: 1rem;
          border-radius: 6px;
          --background: #f7f7f7;
          .label {
            display: flex;
            justify-content: center;
            align-items: center;
            .login-icons {
              margin-top: 1rem;
            }
          }
        }
        .form-description {
          margin-top: 1rem;
          --background: #f7f7f7;
          border-radius: 8px;
          .form-description-area {
            padding-bottom: 8rem;
          }
        }
      }
    }
    .main-content-contact-img {
      margin-top: 4rem;
    }
  }
}
.main-content-header {
  margin-top: 2rem;
  max-height: 30px;
}

@media screen and (max-width: 450px) {
  .main-content-header {
    top: 5.6rem;
    text-align: center;
    font-size: clamp(1.8375rem, 1.4875rem + 1.75vw, 2.8rem);
    font-family: 'Montserrat-Medium';
    margin-bottom: clamp(2.8rem, 3.5637rem + -3.815vw, 0.7rem);
  }
  .main-content-wrapper {
    font-family: 'Montserrat-Medium';
    margin-top: 7rem;
    display: flex;

    .main-content {
      text-align: center;
      margin: auto;

      .main-content-contact {
        padding: 0.5rem;
        background: #dedede;
        border-radius: 11.2px;
        max-width: 302.4px;
        font-size: clamp(0.7875rem, 0.6923rem + 0.476vw, 1.05rem);
        .contact-form {
          margin: auto;
          padding-left: 1.68rem;
          padding-right: 1.68rem;
          padding-top: 0.35rem;
          padding-bottom: 1.05rem;

          background-color: #fff;
          font-family: 'Montserrat-Medium';
          border-radius: 5.6px;
          min-width: 280px;
          max-width: 289.8px;
          max-height: 282.8px;
          .form-mail {
            margin-top: 0.7rem;
            border-radius: 4.2px;
            --background: #f7f7f7;
            .label {
              display: flex;
              justify-content: center;
              align-items: center;
              .login-icons {
                margin-top: 0.7rem;
              }
            }
          }
          .form-description {
            margin-top: 0.7rem;
            --background: #f7f7f7;
            border-radius: 5.6px;
            .form-description-area {
              height: 8rem;
              padding-bottom: 0;
            }
          }
        }
      }
      .main-content-contact-img {
        margin-top: 2.8rem; /* 4rem - 30% */
      }
    }
  }
  .main-content-header {
    margin-top: 1.4rem; /* 2rem - 30% */
    max-height: 21px; /* 30px - 30% */
  }
}

.main-content{
    height: 100vh;
    padding-top: 4rem;
}
.main-content__form{
  background: #ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 328px;
  border-radius: 10px;
}
.input-container{
  padding-left: 1rem;  
  padding-right: 1rem;  
  padding-bottom: 1rem;
  width: 100%;
}

ion-select{
  font-size: 0.75rem;
  font-family: var(--font-regular);
}
ion-label {
  font-size: 0.75rem;
  font-family: var(--font-regular);
}
.form-footer{
  padding-left: 0.5rem;
  width: 100%;
}
.button-container{
  display: flex;
  gap: 5px;
  width: 100%;
  padding: 1rem;
}
.text-area-container{
  background-color: #fff;
  justify-content: center;
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;  
}
.form-description{
  background-color: #fff;
}
.text-area-container__item{
  width: 100%;
  border-radius: 5px;
  padding: 0.85rem;
  font-size: 0.75rem;
  height: 145px;
  font-family: var(--font-regular);
  outline: none;
  border: 1px solid #4c586160;
}
.text-area-container__item::placeholder{
  color: #4c586160;
}
.form-header{
  width: 100%;
  font-family: var(--font-semiBold);
  font-size: 0.85rem;
  padding: 1rem;
}