.main-wrapper{
    text-align: center;
    background-color: #FFF;
    height: 100vh;
}


.main-content-header{
    top: 8rem;
    text-align: center;
    font-size: clamp(2.625rem, 2.125rem + 2.5vw, 4rem);
    font-family: 'Montserrat-Medium' ;
    margin-bottom: clamp(4rem, 5.091rem + -5.45vw, 1rem);
}
.main-content-wrapper{
    font-family: 'Montserrat-Medium' ;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    .main-content{
        text-align: center;
        display: flex;
        max-height: 600px;
        margin-bottom: auto;
        .main-content-contact{
            font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
            max-width: 600px;
            .contact-form{
                font-family: 'Montserrat-Medium' ;
                padding: 1rem;
                border-radius: 8px;
                max-width: 400px;
                min-height: 300px;
                .form-mail{
                    margin-top: 1rem;
                    border: 1px solid rgba(183, 183, 183, 0.597);
                    border-radius: 6px;
                }
                .form-description{
                    margin-top: 1rem;
                    border: 1px solid rgba(183, 183, 183, 0.597);
                    border-radius: 8px;
                    .form-description-area{
                        padding-bottom: 8rem;
                    
                    }
                }
            }
        }
        .main-content-contact-img{
            margin-top: 4rem;
        }
    }
 
}
.main-content-header{
   margin-top: 2rem;
    max-height: 30px;
}

