<ion-content>
      <app-second-header>
        <div class="header-container">
          Связь с поддержкой
        </div>
      </app-second-header>

      <div class="main-content">

        <form class="main-content__form" [formGroup]="contactForm" action="">
          <div class="form-header">
            Написать в тех. поддержку
          </div>
          <div *ngIf="!userHaveEmailAndEmail" class="input-container">
            <app-standart-input placeholder="Введите вашу почту" style="width: 100%;" [control]="contactForm.get('email')"></app-standart-input>
            <app-standart-input placeholder="Как к вам обращатся" style="width: 100%;" [control]="contactForm.get('name')"></app-standart-input>
          </div>
          
          <div class="text-area-container">
 
            <textarea
            formControlName="text"  
            class="text-area-container__item"
            placeholder="Введите ваше обращение">
            </textarea>
          </div>
          <div class="form-footer">
            <app-custom-selected [items]="items" [modalValue]="selectedTypeModalValue" [selectedValue]="selectedDateItem" (openModal)="openSelectDate()" (closeModal)="closeSelectDate()" (selectItem)="selectDateItem($event)"></app-custom-selected>
          </div>
        
          <div class="button-container">
                <app-standart-button (click)="redirectInHome()" style="width: 100%;" theme="light" buttonText="Отмена" ></app-standart-button>
                <app-standart-button [disabled]="validateForm()" (click)="onSubmit()" style="width: 100%;" theme="standart" buttonText="Отправить" ></app-standart-button>
          </div>
        </form>
      </div>
    
</ion-content>

