<ng-container *ngIf="theme === 'standart' || theme === '' ">
    <button
    id="{{id}}"
    type = {{type}}
    (click)="onClick()"
    class="
      flex
      justify-center
      items-center
      h-[2rem]
      w-[2rem]
      bg-[var(--buttonCircleBackgroundStandart)]
      rounded-[50%]
    "
  >
  <img class="max-h-[1rem] max-w-1[rem]" style="filter: brightness(0) saturate(100%) invert(33%) sepia(5%) saturate(1499%) hue-rotate(163deg) brightness(92%) contrast(84%);" src="{{icon}}" alt="">
  {{buttonText}}
  </button>
</ng-container>
<ng-container *ngIf="theme === 'dark'">
    <button
    id="{{id}}"
    type = {{type}}
    (click)="onClick()"
    class="
      flex
      justify-center
      items-center
      h-[2rem]
      w-[2rem]
      border-solid
      border-[1px]
      border-[var(--darkBorder)]
      bg-none
      rounded-[50%]
    "
  >
  <img class="max-h-[1rem] max-w-[1rem]" style="filter: brightness(0) saturate(100%) invert(33%) sepia(5%) saturate(1499%) hue-rotate(163deg) brightness(92%) contrast(84%);" src="{{icon}}" alt="">
  {{buttonText}}
  </button>
</ng-container>
