ion-card{
    cursor: pointer;
    transition: all .2s ease-in-out;

    swiper-slide{
        height: 14rem;
        object-fit: cover;

        img {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 330px!important;
            height: 100;
            object-fit: cover;
        }
    }
    .slids-pagination{
        position: absolute;
        top: 2.75rem;
        font-size: 1rem;
        padding: 0.5rem;
        color: #fff;
        background: rgba(0, 0, 0, 0.631372549);
        z-index: 99999;
    }
    ion-card-title{
        position: absolute;
        display: flex;
        align-items: center;
        top: 9.5rem;
        height: 72px;
        padding: 1rem;
        width: 100%;
        background: rgba(0, 0, 0, 0.631372549);
        color: #fff;
        font-size: 1.5rem;
        transition: all .2s ease-in-out;
        z-index: 99999;
    }
    
    ion-card-subtitle{
        font-style: italic;
    }

    .date{
        position: absolute;
        width: 80%;
        top: 0rem;
        z-index: 99999;
        left: 0;
        background: rgba(0, 0, 0, 0.631372549);
        color: #fff;
        display: flex;
        gap: 0.3rem;
        font-size: 0.7rem;
        font-weight: bold;
        padding: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        transition: all .2s ease-in-out;
    }

    .price{
        position: absolute;
        top: 7.3rem;
        right: 0;
        background: #3880ff;
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem;
        border-top-left-radius: 0.5rem;
        transition: all .2s ease-in-out;
        z-index: 99999;
    }

    .type{
        object-fit: contain;
        position: absolute;
        top: 0;
        right: 0;
        background: #3880ff;
        border-bottom-left-radius: 100%;
        transition: all .2s ease-in-out;
        z-index: 99999;
            
        img{
            object-fit: contain;
            width: 40px;
            height: 30px;
            padding: 0px 5px 5px 12px;
            filter: brightness(0) invert(1);
        }
    }
    
    .footer{
        border-top: #b9b9b9 1px solid;
        padding: 1rem;
        display: flex;
        justify-content: space-around;

        .likes{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .ico{
            cursor: pointer;
            transition: all .2s ease-in-out;  
        }

        .ico:hover{
            transform: scale(1.3);
            color:#3880ff99
        }
    }
}

ion-card:hover{
    transform: scale(1.05);

    ion-card-title, .date, .price, .type{
        opacity: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
   
}
  
@media screen and (min-width: 768px)  {
    .ico.share{
        display: none;
    }
}