
.card-title {
  padding-bottom: 0.5rem;
  display: flex;
}

img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

ion-card-subtitle {
  font-family: Montserrat-Regular;
}


.card-wrapper {
  position: relative;
}

.card {
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
  width: 20.5rem;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  transition: background-image 0s ease-in-out, opacity 0.5s ease-in-out;
}
.card_litle {
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
  width: 187px;
  height: 113px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  transition: background-image 0s ease-in-out, opacity 0.5s ease-in-out;
}
.hidden-id{
  
}
.iframe-wrapper{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.card-img {
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 20.5rem;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  transition: background-image 0s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  background-image: url('/assets/images/nophoto.jpg');
}

.card-img.change-opacity {
  opacity: 1;
}



.image {
  display: none;
}



.info-wrapper {
  pointer-events: none;
  border-radius: 10px;
  position: absolute;
  background-color: none;
  width: 20.5rem;
  height: 200px;
  z-index: 2;
}

.price {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.625rem;
  font-family: var(--font-bold);
  text-align: center;
  background-color: #1c2226b6;
  color: #fff;
  border-radius: 0 10px 10px 0;
  min-width: 3.75rem;
  height: 1.438rem;
  padding-right: 0.75rem;
  padding-left: 0.5rem;
}

.edit-button {
  right: 1rem;
  top: 0.5rem;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}



.info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 auto;
}

.info-wrapper {

  padding-right: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.info-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  position: absolute;
  bottom: 0;

}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.7rem;
  color: #fff;
  background-color: #1c2226d5;
  min-width: 3.125rem;
  height: 1.438rem;
  border-radius: 4px;
}

.info-text-container {
  display: flex;
  gap: 0.313rem;

}

.status-container {
  right: 1rem;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2226b6;
  padding: 6px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 8px;
  top: 10.1rem;
}

.status-text {
  font-family: var(--font-regular);
  font-size: small;
  margin-right: 0.3rem;
}

.status {
  height: 2px;
  width: 2px;
  padding: 4px;
  border-radius: 50%;
}
.event-name{
  margin-top: -0.5rem;
  padding-top: 1rem;
  min-height: 2rem;
  border-radius: 10px;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  width: 20.5rem;
  color: var(--font-color-dark);
  font-size:1rem;
  font-family: var(--font-bold);
  background: rgb(255 255 255);

}
