<ion-card>
  <div class="ion-activatable ripple-parent rectangle">
    <swiper-container 
      #swiper
      [modules]="swiperModules" 
      autoplay="true"
      autoplay-delay="5000"
      autoplay-disableOnInteraction="false"
      [pagination]="{type: 'fraction'}"
      [followFinger]="false" 
      [loop]="true" 
      [initialSlide]="0" 
      class="photo-box"
    > 

    <ng-container *ngIf="event.files && event.files.length; else notFiles">
      <ng-container *ngFor="let file of event.files">
        <swiper-slide *ngIf="file.local === 1">
          <img alt="img" class="photo" src="{{host}}:{{port}}{{ file.link }}" />
        </swiper-slide>
        <swiper-slide *ngIf="file.local === 0">
          <img alt="img" class="photo" src="{{ file.link }}" />
        </swiper-slide>
      </ng-container>
    </ng-container>

      <ng-template #notFiles>
        <swiper-slide><img alt="default img" class="photo" src="/assets/icons/favicon.png" /></swiper-slide>
      </ng-template>  
    </swiper-container>

    <div class="date">
      <span>НАЧАЛО: {{ event.date_start | date:'d MMM в HH:mm' }}</span>
      <span>КОНЕЦ: {{ event.date_end | date:'d MMM в HH:mm' }}</span>
    </div>

    <div *ngIf="event.price" class="price">
      <span>{{ event.price }} руб.</span>
    </div>

    <div *ngIf="event.types && event.types.length" class="type">
      <img alt="img" class="photo" src="{{host}}:{{port}}{{ event.types[0].ico }}" />
    </div>

    <ion-card-title>{{ event.name | truncate:[48,'...'] }}</ion-card-title>
    
    <ion-card-header>
      <ion-card-subtitle>{{ event.address }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      {{ event.description | truncate:[200,'...'] }}
    </ion-card-content>
    
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  
  <div class="footer">
    <div class="likes">
      <ion-icon *ngIf="!loadingLike" (click)="toggleLike(event.id)" [name]="like ? 'heart' : 'heart-outline'" [color]="like ? 'primary' : ''" size="large" class="ico"></ion-icon>
      <ion-spinner *ngIf="loadingLike"></ion-spinner>
      <span >{{ startLikesCount }}</span>
    </div>

    <ion-icon name="chatbox-outline" size="large" class="ico"></ion-icon>
  
    <ion-icon *ngIf="!loadingFavotire" (click)="toggleFavorite(event.id)" [name]="favorite ? 'star' : 'star-outline'" [color]="favorite ? 'warning' : ''" size="large" class="ico"></ion-icon>
    <ion-spinner *ngIf="loadingFavotire"></ion-spinner>

    <ion-icon name="share-social-outline" size="large" class="ico share"></ion-icon>
  </div>

</ion-card>
