  <div *ngIf="viewCard" class="card-wrapper">

      <ng-container>
        <div *ngIf="event.files.length > 0 && event.files[0].link !== '' ; else emptyFiles">
          <!-- <img class="card image" (load)="changeBackgroundImage()" [src]="event.files[0].link"> -->
            <div class="card"  [class.change-opacity]="imageLoaded" *ngIf="event.files[0].local === 0 && event.files[0].file_types[0].name === 'image'; else isLocal" style="background-image: url('{{event.files[0].link}} '); position: absolute;"></div>
            <ng-template #isLocal>
              <div class="card" [class.change-opacity]="imageLoaded" *ngIf="event.files[0].local === 1; else isVideo" style="background-image: url('{{host}}:{{port}}{{event.files[0].link}} '); position: absolute;"></div>
            </ng-template>
          <ng-template #isVideo>
            <div (click)="eventNavigation()"  class="card">
              <div (click)="eventNavigation()" class="info-wrapper">
                <div class="info-header">
                   <div *ngIf="minPrice !== maxPrice" class="price">
                      от  {{minPrice}}₽
                   </div>
                   <div *ngIf="minPrice === maxPrice && minPrice !== 0" class="price">
                      от  {{minPrice}}₽
                   </div>
                   <div *ngIf="minPrice === maxPrice && minPrice === 0" class="price">
                      Бесплатно
                   </div>
              </div>

                <div class="info-footer">
                    <div class="info-text-container" *ngIf="formatedStartDate || formatedEndDate">
                      <div *ngIf="formatedStartDate !== formatedEndDate" class="info-text">{{formatedStartDate}} - {{formatedEndDate}}</div>
                      <div *ngIf="formatedStartDate === formatedEndDate" class="info-text">{{' '+formatedStartDate}}</div>
                    </div>
                </div>
            </div>
                  <iframe (click)="eventNavigation()" [src]="event.files[0].link + '&autoplay=1&mute=1&loop=1'|safeVideoByUrl" allow="encrypted-media; fullscreen; picture-in-picture; loop" loop autoplay width="100%" height="100%" frameborder="0" ></iframe>
                  <div (click)="eventNavigation()" class="iframe-wrapper"></div>
          </div>
          </ng-template>
        </div>
        <ng-template #emptyFiles>
          <div class="card" style="background-image: url('assets/images/nophoto.jpg'); position: absolute;"></div>
        </ng-template>

        <div *ngIf="myEvent" class="edit-button">
          <app-circle-button (click)="eventNavigationEdit()"  icon="/assets/icons/menu-pen.svg" border="dark-all" ></app-circle-button>
        </div>
        <div  *ngIf="myEvent && getLastStatus()"class="status-container" (click)="showInfoAboutStatus()">
          <div class="status-text" [ngStyle]="{'color': getLastStatusColor()}">{{ getLastStatus().name }}</div>
          <div class="status" [ngStyle]="{'background-color': getLastStatusColor()}"></div>
        </div>

        <div *ngIf=" event.files.length > 0 && event.files[0].file_types[0].name !== 'video' || event.files.length == 0 " (click)="eventNavigation()" class="card">
              <div class="info-wrapper">
                  <div class="info-header">
                     <div *ngIf="minPrice !== maxPrice" class="price">
                        от  {{minPrice}}₽
                     </div>
                     <div *ngIf="minPrice === maxPrice && minPrice !== 0" class="price">
                        от  {{minPrice}}₽
                     </div>
                     <div *ngIf="minPrice === maxPrice && minPrice === 0" class="price">
                        Бесплатно
                     </div>
                </div>

                <div class="info-footer">
                    <div class="info-text-container" *ngIf="formatedStartDate || formatedEndDate">
                      <div *ngIf="formatedStartDate !== formatedEndDate" class="info-text">{{formatedStartDate}} - {{formatedEndDate}}</div>
                      <div *ngIf="formatedStartDate === formatedEndDate" class="info-text">{{' '+formatedStartDate}}</div>
                    </div>
                </div>

          </div>
        </div>
        <h4 (click)="eventNavigation()" class="event-name">{{event.name}}</h4>
      </ng-container>
  </div>





 