

ion-list {
    background: none;
  }
  ion-input {
    margin-top: 10px;
    background-color: #fff;
    --padding-left: 20px;
  }
  
  ion-modal {
    overflow: hidden;
    --display: flex;
    --border-radius: 17px;
    --max-width: 386px;
    --height: 630px;
  }

  .display {
    padding-top: 2rem;
  }
  .close-batton {
    padding: 4px;
    border-radius: 50%;
  }
  .close-batton:hover {
    background-color: aliceblue;
    cursor: pointer;
  }

.checkbox {
  word-wrap: break-word;
}