

ion-list {
    background: none;
  }
  ion-input {
    margin-top: 10px;
    background-color: #fff;
    --padding-left: 20px;
  }
  
  ion-modal {
    overflow: hidden;
    --display: flex;
  }

  .display {
    padding-top: 2rem;
  }
  .close-batton {
    padding: 4px;
    border-radius: 50%;
  }
  .close-batton:hover {
    background-color: aliceblue;
    cursor: pointer;
  }

.checkbox {
  word-wrap: break-word;
}
.header{
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.header-text{
  text-transform: uppercase;
  margin-left: 5rem;
}
.content-plug{
  position: absolute;
  z-index: 100;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(239 239 239 / 95%);
 }
 .content-plug-main{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 200px;

 }
 .plug-main-header{
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
 }
 .plug-main-img{

 }

 

.header-plug{
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  padding-bottom:0.625rem;
  align-items: end;
  background-color: #4C5861;
  width: 100%;
  min-height: 4.6rem;
  border-radius: 0px 0px 1.5rem 1.5rem;
}
.header-tools{
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content{
  padding-left: 1rem;
  padding-right: 1rem;
}
.email-img{
  max-height: 8rem;
}
.email-add-text{
  margin-top: 3rem;
  padding-bottom: 0.5rem;
  display: flex;
  font-size: 1rem;
}
.email-form{
  padding-bottom: 1rem;
}
