ion-card{
    border-radius: 0.8rem;
    border: 0.5px solid #c6c6c7;
}
ion-skeleton-text{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.form{
   
    background-color: white;
    width: 500px;
    min-height: 600px;
    border-radius: 16px;

.preview-image-container{
    margin-top: 30px;
    padding: 12px;
    display: flex;
    background-color: rgba(211, 207, 207, 0.37);
    border-radius: 0.8rem;
    width: 60%;
}
.preview-image{
    width: 80px;
    border-radius: 15%;
}
}
.image_avatar{
    width: 100px;
    height: 100px;
    background-color: rgba(211, 207, 207, 0.37);
}
.form-input{
    border-radius: 4px;
    background-color:  rgba(211, 207, 207, 0.418);
    padding: 10px;
    width: 250px;
}

.form-container{
    padding: 3rem;
    vertical-align: middle;
    
}

.form-button{
    margin-top: 12rem;
}



@media (max-width:768px) {
    .form{
   
        background-color: white;
        width: 345px;
        min-height: 325px;
        border-radius: 16px;
    
        
    }
    .form-container{
        padding: 1rem;
        
    }

    .form-button{
        margin-top: 3rem;
    }
}

