<ng-container>
  <div class="form-container">
    <ion-card>
      <ion-row class="ion-justify-content-center">
    <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <ion-col>
        <ion-list>
        <ion-row class="ion-justify-content-center">
          <ion-skeleton-text animated *ngIf="!avatarLoad"></ion-skeleton-text>
          <ion-avatar class="image_avatar">
            <img [src]="avatarUrl" [hidden]="!avatarLoad" *ngIf="user.avatar && !previewPhotoUrl else prevPhoto">
          </ion-avatar>
          
          <ng-template #prevPhoto>
            <ion-icon *ngIf="!user.avatar && !previewPhotoUrl" name="person-circle" class="image_avatar"></ion-icon>
            <img *ngIf="previewPhotoUrl" [src]="previewPhotoUrl" class="image_avatar">
          </ng-template>

        </ion-row>
        <ion-row class="ion-justify-content-center" style="margin-top:1rem;">
          <ion-item lines="none">
            <ion-button  (click)="f.click()" size="default" fill="solid">
              <ion-icon lazy="true" slot="start" name="image"></ion-icon>
              <ion-label slot="end">Изменить</ion-label>
            </ion-button>
              <input class="ion-hide" #f type="file" (change)="onFileSelected($event)"   accept="image/png, image/jpeg">

         </ion-item>
        </ion-row>

        <ion-row  class="ion-justify-content-center" style="margin-top:3rem;">
          <ion-item lines="none">
            <ion-label position="stacked" style=" font-size: 1.3rem; margin-bottom: 6px">Имя:</ion-label>
            <ion-input class="form-input ion-padding-horizontal" labelPlacement="stacked" formControlName="new_name"></ion-input>
            
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center" slot="end">
            <ion-button class="form-button" type="submit">Сохранить</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center" slot="end">
          <ion-button id="open-modal" expand="block" color="danger">Удалить профиль</ion-button>
        </ion-row>
        </ion-list>
      </ion-col>
        
    </form>
  </ion-row>
  </ion-card>
  </div>
</ng-container>

<!-- Модальное окно удаления профиля -->

<ion-modal #modal style="--height: auto;" trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title >Удалить свой профиль?</ion-title>
        <!-- <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>
      <ion-button (click)="deleteUser(); modal.dismiss()" color="danger" fill="solid">Удалить профиль</ion-button>
      <ion-button (click)="modal.dismiss()">Отмена</ion-button>
  </ng-template>
</ion-modal>

