<ng-container>
  <div class="form-container">

  
    <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <ion-col>
        <ion-list>
        <ion-row class="ion-justify-content-center">
          <img [src]="avatar_url" class="image_avatar">


        </ion-row>

        <ion-row class="ion-justify-content-center" style="margin-top:1rem;">
          <ion-item lines="none">
            <ion-button  (click)="f.click()" size="default" fill="solid">
              <ion-icon lazy="true" slot="start" name="image"></ion-icon>
              <ion-label slot="end">Изменить</ion-label>
            </ion-button>
              <input class="ion-hide" #f type="file" (change)="onFileSelected($event)"   accept="image/png, image/jpeg">

         </ion-item>
        </ion-row>

        <ion-row  class="ion-justify-content-center" style="margin-top:3rem;">
          <ion-item lines="none">
            <ion-label position="stacked" style=" font-size: 1.3rem; margin-bottom: 6px">Имя:</ion-label>
            <ion-input class="form-input ion-padding-horizontal" labelPlacement="stacked" formControlName="new_name"></ion-input>
            
          </ion-item>
        </ion-row>
        <ion-row class="ion-justify-content-center" slot="end">
          <ion-button class="form-button" type="submit">Сохранить</ion-button>
        </ion-row>
        </ion-list>
      </ion-col>
        
    </form>
  </div>
</ng-container>
