
<ion-content id="topSi">
  <div #ContentCol>
    <div id="header-anchor"></div>
  <div class="carusel-wrapper_flex" #headerWrapper>
    <div class="carusel-wrapper_flex" #headerWrapper>
      <app-second-header size="xxl" img="/assets/images/tapeSights.png">
        <div class="header-top-container" header-top>
          <app-type-swither (endingSwitchAnimation)="redirectToEvent()"></app-type-swither>
          <app-category-button stateType="Event"></app-category-button>
        </div>
        <div class="header-bottom-container" header-bottom>
             Места и сообщества
        </div>
      </app-second-header>
    </div>
  </div>
  <div class="grid-wrapper">
    <app-organizations-grid [cards]="sightsCity"/>
  </div>
  </div>
  </ion-content>
