
<ion-content >
  <app-second-header>
      <app-back-button></app-back-button>
      О программе
      <app-circle-button style="opacity: 0;"></app-circle-button>
  </app-second-header>
  <section class="about-container">
    <ion-list class="mainList">
      <ion-col lines="none" class="main-list-item">
        <div class="main-list-item-description">
            <h1 class="main-title"><span style="color:#4C81F7;">Вокруг</span></h1>
            <h3 class="description">В нашем приложении вы можете узнать больше о событиях, происходящих в вашем городе.</h3>
        </div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">
        <div style="background-image: url('/assets/images/travellerGirl.png');
        background-position: center;" class="imageDescription"></div>

        <div class="main-list-item-description">
            <span class="slide-title">Смотри что происходит ВОКРУГ тебя!</span>
            <h3 class="description">Если вы находитесь в пути, вы сможете моментально узнать какое мероприятие проводится неподалеку.</h3>
        </div>

      </ion-col>

      <ion-col lines="none" class="main-list-item">
        <div class="main-list-item-description">

            <h3 class="description">Собирайте коллекцию запланированных мест посещения, перед поездкой</h3>
        </div>
        <div style="background-image: url('/assets/images/girlWithDragonToUrban.png')"  class="imageDescription"></div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">
        <div style="background-image: url('/assets/images/peopleToOffice.png')" class="imageDescription"></div>
        <div class="main-list-item-description">

            <h3 class="description">Мы стараемся дать организатору событий простоту размещения его афиши. Автор может публиковать свои посты с его страницы или группы VK.</h3>
        </div>

      </ion-col>
    </ion-list>
  </section>

  <section class="about-container-mobail">
    <ion-list class="mainList">
      <ion-col lines="none" class="main-list-item">
        <div class="main-list-item-description">
            <h1 class="main-title"><span style="color:#4C81F7;">Вокруг</span></h1>
            <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
             <p>Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</p> </h3>
        </div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">

        <div class="main-list-item-description">
            <span class="slide-title">Смотри что происходит ВОКРУГ тебя!</span>
            <h3 class="description">Используй карту! Быстро находи что происходит здесь и сейчас!</h3>
        </div>
        <div style="background-image: url('/assets/images/sliderImag1.jpg');
        background-position: center;" class="imageDescription_mobile"></div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">

        <div class="main-list-item-description">
            <span class="slide-title">Узнай кто придет вместе с тобой!</span>
            <h3 class="description">Смотри сколько людей собирается посетить твое событие!</h3>
        </div>
        <div style="background-image: url('/assets/images/sliderImag2.jpg');
        background-position: center; background-size: contain;" class="imageDescription_mobile"></div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">

        <div class="main-list-item-description">
            <span class="slide-title">ВОКРУГ тишина? Заяви о себе!</span>
            <h3 class="description">Зашел через ВК? Укажи пост и он появится здесь!</h3>
        </div>
        <div style="background-image: url('/assets/images/sliderImag3.jpg');
        background-position: center; background-size: contain; background-position: top; background-repeat: no-repeat;" class="imageDescription_mobile"></div>
      </ion-col>
    
    </ion-list>
   
  </section>
  <div  class="close-button-wrapper">
    <ion-button routerLink="/home" class="close-button">Закрыть</ion-button>
  </div>
 
</ion-content>
