
<ion-content class="ion-padding">
  <section class="about-container">
    <ion-list class="mainList">
      <ion-col lines="none" class="main-list-item">
        <div class="main-list-item-description">
            <h1 class="main-title"><span>Мой</span> маленький город</h1>
            <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
              Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
        <div class="imageDescription"></div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">
        <div class="imageDescription"></div>
        <div class="main-list-item-description">
            <h1 class="main-title"><span>Мой</span> маленький город</h1>
            <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
              Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
       
      </ion-col>

      <ion-col lines="none" class="main-list-item">
        <div class="main-list-item-description">
            <h1 class="main-title"><span>Мой</span> маленький город</h1>
            <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
              Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
        <div class="imageDescription"></div>
      </ion-col>

      <ion-col lines="none" class="main-list-item">
        <div class="imageDescription"></div>
        <div class="main-list-item-description">
            <h1 class="main-title"><span>Мой</span> маленький город</h1>
            <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
              Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
       
      </ion-col>
    </ion-list>
  </section>

  
  <section class="about-container-mobail">
    <ion-list class="about-container-mobile-list">
      <ion-col>
        <div class="imageDescription"></div>
        <div class="main-list-item-description">
          <h1 class="main-title"><span>Мой</span> маленький город</h1>
          <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
            Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
      </ion-col>

      <ion-col>
        <div class="imageDescription"></div>
        <div class="main-list-item-description">
          <h1 class="main-title"><span>Мой</span> маленький город</h1>
          <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
            Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
      </ion-col>

      <ion-col>
        <div class="imageDescription"></div>
        <div class="main-list-item-description">
          <h1 class="main-title"><span>Мой</span> маленький город</h1>
          <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
            Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
      </ion-col>
      
      <ion-col>
        <div class="imageDescription"></div>
        <div class="main-list-item-description">
          <h1 class="main-title"><span>Мой</span> маленький город</h1>
          <h3 class="description">Наша команда делает приложение для жителей малых городов и поселков.
            Приложение, в котором они могут узнать больше событий происходящих рядом с ними.</h3>
        </div>
      </ion-col>
    </ion-list>
  </section>




</ion-content>