.list-item{
  --display: flex;
  --justify-content: space-between;
}

.about-container-mobail{
  display: none;
}



ion-item {


}

.main-title{

  font-family: "Montserrat-Bold";

}

.about-container {

  
  .mainList {
  
   .main-list-item{
  
    display: flex;
    justify-content: space-between;
    padding: 6rem;
    .main-list-item-description{
      display: flex;
      justify-content: center;
      flex-direction: column;
   
      max-width: 50%;
    }
   }
   

   .description{
      
    
    font-family: "Montserrat-Regular";
   }

   

    .imageDescription {
      margin-left: 2rem;
      margin-right: 2rem;
      border-color: #fff;
      border-radius: 48.4px; 
      width: 22rem; 
      height: 18rem; 
      min-width: 254px;
      -webkit-box-shadow: 0px 5.5px 11px 2.2px rgba(34, 60, 80, 0.2); 
      -moz-box-shadow: 0px 5.5px 11px 2.2px rgba(34, 60, 80, 0.2); 
      --box-shadow: 0px 5.5px 11px 2.2px rgba(34, 60, 80, 0.2); 
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 992px){
  .mainHeading{
    font-size: calc(36px + (36 + 36 * 0.7) * ((100vw - 320px) / 1406));
  }

  .about-container {

    display: none;
  }
  .about-container-mobail{
    display: block;
  }


  .description{
    font-family: "Montserrat-Regular";
  }

}