<ion-content>

  <div class="buttons-dekstop">

    <div class="buttons-desktop-wrapper">

      <div class="btnsWrapperBack">
        <ion-button disabled="true" class="backButton buttonsNavigate" *ngIf="stepCurrency == stepStart"  (click)="stepPrev()"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
        <ion-button class="backButton buttonsNavigate" *ngIf="stepCurrency !== stepStart"  (click)="stepPrev()"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
      </div>


      <div class="btnsWrapper btnsWrapperNext">
        <ion-button [disabled]="detectedDataInvalid()" class="buttonsNavigate" *ngIf="stepCurrency !== steps" [hidden]="stepCurrency === steps-1"  (click)="stepNext()">Далее <ion-icon name="chevron-forward" slot="end"></ion-icon></ion-button>
        <ion-button [disabled]="detectedDataInvalid()" class="buttonsNavigate" *ngIf="stepCurrency === steps-1" (click)="onSubmit()" type="submit" ><ion-icon name="checkmark-done-outline" slot="start"></ion-icon>Готово</ion-button>
      </div>

    </div>
  </div>


    <ion-grid class="main">

      <form class="mainChild" [formGroup]="createSightForm" (submit)="onSubmit()" enctype="multipart/form-data"> 
        


        <ion-column class="mainLabelAndBar">
          <div class="ion-text-start">
            <h3 [hidden]="stepCurrency != 0" class="mt-0 mainLabelAndBarText">Тип достопримечательности</h3>
            <h3 [hidden]="stepCurrency != 1" class="mt-0 mainLabelAndBarText">Название достопримечательности</h3>
            <h3 [hidden]="stepCurrency != 2" class="mt-0 mainLabelAndBarText">Об достопримечательности</h3>
            <h3 [hidden]="stepCurrency != 3" class="mt-0 mainLabelAndBarText">Место достопримечательности</h3>
            <h3 [hidden]="stepCurrency != 4" class="mt-0 mainLabelAndBarText">Цена и материалы</h3>
           
          </div>
  
          <!-- кнопки шагов -->
  
          <ion-column>
  
          
  
            <ion-col size-lg="4" size-md="8" size-xs="12">
              <div class="stepper-progress">
                <ion-column class="stepsButtonsMain ">
  
                  
  
                    <div *ngFor="let step of [].constructor(steps); let i = index" class=" " >
                      <div class="buttonWraper">
  
  
                        <ion-button  *ngIf="stepCurrency === i" (click)="goToStep(i)" class="buttonBarClicked animated fadeIn">
                            {{ i + 1 }}
                          </ion-button>
  
                         
  
                          <ion-button [disabled]="true" *ngIf="!(stepCurrency === i)" (click)="goToStep(i)" class="buttonBarLight animated fadeIn">
                            {{ i + 1 }}
                          </ion-button>
  
                            
  
                          
  
  
                      </div>  
                    </div>
  
  
                   
  
                </ion-column>
                
              </div>
             
            </ion-col>
          </ion-column>
  
  
        </ion-column>



        
          <!-- шаг 1 -->


          <ng-container *ngIf="!typesLoaded && stepCurrency==0">
            <ng-container *ngFor="let key of [1,2,3,4,5,6,7,8,9,10]">
              <ion-item>
                <ion-avatar>
                  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-avatar>
                <ion-label class="ion-padding-start">
                  <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                </ion-label>
              </ion-item>
            </ng-container>
          </ng-container>

          <ion-row  [hidden]="stepCurrency !== 0" class="ion-justify-content-center">
           
              <app-types [types]="types" (typeOutput)="receiveType($event)"></app-types> 
         
          </ion-row>
  
        <!-- шаг 2 -->
        <ion-row  [hidden]="stepCurrency !== 1" class="ion-justify-content-center" >

        <ion-col *ngIf="stepCurrency === 1" @fade>

          <ion-column class="stepSecond">

            <div>
              <ion-column class="nameParrent">

                <div>

                  <ion-item style="max-width: 600px;" fill="outline">
                    <ion-label position="floating">Название достопримечательности</ion-label>
                    <ion-icon name="text-outline" slot="start" size="small" color="primary"></ion-icon>
                    <ion-input style="max-width: 300px;" size="small" formControlName="name" type="text" name="name" required></ion-input>
                  </ion-item>

                  <div *ngIf="createSightForm.controls['name'].invalid && createSightForm.controls['name'].dirty"  class="validation">
                    <ion-note *ngIf="!createSightForm.controls['name'].hasError('minLength')" color="danger">Название достопримечательности должно содержать минимум 3 символа</ion-note>
                  </div>
                </div>

              </ion-column>


              <ion-row>
                <ion-column class="organizaterParrent">
                  <ion-item  class="organizerMain" fill="outline"
                  >
                    <ion-label position="floating">Организатор достопримечательности</ion-label>
                    <ion-icon name="text-outline" slot="start"  size="small" color="primary"></ion-icon>
                    <ion-input formControlName="sponsor"  type="text" name="sponsor" required></ion-input>
                  </ion-item>
                </ion-column>

                <ion-column>
                  <div *ngIf="createSightForm.controls['sponsor'].invalid && createSightForm.controls['sponsor'].dirty"  class="validation">
                    <ion-note *ngIf="!createSightForm.controls['sponsor'].hasError('minLength')" color="danger">поле "Организатор достопримечательности" должно содержать минимум 3 символа</ion-note>
                  </div>
                </ion-column>

              </ion-row>

            </div>

          
<!-- 
            <ion-button (click)="openModalGroup()" class="selectGroup">

              Загрузить пост

            </ion-button> -->
            

           



            





          

          </ion-column>

        
        </ion-col>
      </ion-row>
        
        <!-- шаг 3 -->
        <ion-row style=" justify-content: center;" [hidden]="stepCurrency !== 2" >
         
          <ion-modal class="modal" backdropDismiss="false" [isOpen] ="openModalGroupValue" [canDismiss]="openModalGroupValue">
            <ng-template>

              <ion-content>

                  <ion-list>
        
                      <ion-list-header>
                        <ion-label>Выберите группу, из которой следует загрузить посты</ion-label>
                      </ion-list-header>  
                      <ion-radio-group *ngIf="vkGroups" (ionChange)="selectedVkGroup($event); openModalPost($event); saveChangeId()" [allowEmptySelection]="true" [value]="vkGroupSelected">
                        <ng-container>
                          <ion-item>
                            <ion-avatar>
                              <img alt="ava" src="/assets/icons/favicon.png" />
                            </ion-avatar>
                            <ion-label class="ion-padding-start">Моя страница</ion-label>
                            <ion-radio slot="end" value="{{ user.social_account.provider_id }}"></ion-radio>
                          </ion-item>
                        </ng-container>
                        <ng-container *ngFor="let group of vkGroups">
                          

                            <ion-item>
                              <ion-avatar>
                                <img alt="ava" src="{{ group.photo_50 }}" />
                              </ion-avatar>
                              <ion-label class="ion-padding-start">{{ group.name }}</ion-label>

                              <ion-radio  slot="end" value="-{{ group.id }}"></ion-radio>
                            </ion-item>

                            <div>
                              
                            </div>
                        </ng-container>
                      </ion-radio-group>
                      <!-- Грузим чужие посты из вк, временное решение -->
                      <!-- <ng-container>
                        <ion-item>
                          <ion-label class="ion-padding-start">
                            <ion-input label="Url input" type="text" placeholder="URL группы" (ionChange)="onFocusPlace($event)"></ion-input>
                          </ion-label>
                            <ion-button  (click)="setVkPostsByGroupURL();  stepNext();">Загрузить URL</ion-button>
                        </ion-item>
                      </ng-container> -->
                      
                  </ion-list>
         
                 

                  <ion-button  class="modalBtnBottom" (click)="closeModalGroup()">
                    Закрыть
                  </ion-button>


              </ion-content>

            </ng-template>


          </ion-modal>
  

          

          
          <ion-modal backdropDismiss="false" [isOpen]="openModalPostValue">

            <ng-template>
                <ion-content>
                  <ion-button (click)="closeModalPost()">
                    Вернутся к выбору группы
                  </ion-button>

                  <ion-button (click)="closeAllModals()">
                    Закрыть
                  </ion-button>

                  <ion-list-header>
                    <ion-label>Выберите пост, из которого следует загрузить текст и фото (загружены последние 10 постов). Если вы выберите пост, то шаги 4 и 5 (описание мероприятия и загрузка фото) будут скрыты, так как они автоматически заполнятся из поста.</ion-label>
                  </ion-list-header>
                  
                  <div *ngIf="vkGroupPosts; else notSelectedGroup">              
                    <!-- Скелетна анимация -->
                    <ng-container *ngIf="!vkGroupPostsLoaded">
                      <ng-container *ngFor="let key of [1,2]">
                        <ion-card>
                          
                          <ion-item class="ion-margin-end">
                            <ion-avatar slot="start">
                              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                            </ion-avatar>
                            <ion-label>
                              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                            </ion-label>
                          </ion-item>
        
        
                          <ion-card-content>
                            <ion-skeleton-text [animated]="true" style="height: 100px;"></ion-skeleton-text>
                          </ion-card-content>
        
                          <ion-row class="ion-padding-horizontal">
                            <ng-container  *ngFor="let key of [1,2,3]">
                              <ion-col size="4" class="ion-align-self-center ion-justify-content-center">
                                <ion-skeleton-text [animated]="true" style="height: 80px;"></ion-skeleton-text>
                              </ion-col>             
                            </ng-container> 
                          </ion-row>
                          
                        </ion-card>
                        
                      </ng-container>
                    </ng-container>
        
                    <ng-container *ngIf="vkGroupPostsLoaded">
                      <ng-container *ngFor="let post of vkGroupPosts.items; let i = index">
                        <ion-card *ngIf="!post.copy_history">
                          <ng-container *ngIf="vkGroupPosts.profiles">
                          <ng-container *ngFor="let profile of vkGroupPosts.profiles; index as i" class="card-profile">
                            <ion-item *ngIf="i === 0" class="ion-margin-end">
                              <ion-avatar slot="start">
                                <img alt="ava" src="{{ profile.photo_50 }}" />
                              </ion-avatar>
                              <ion-label>{{ profile.first_name }}</ion-label>
                            </ion-item>
                          </ng-container>
                          </ng-container>
                          
                          <ion-card-content *ngIf="post.text">
                            <app-read-more text="{{ post.text }}"></app-read-more>
                          </ion-card-content>
                          <!-- Фото во вложении -->
                          <swiper-container 
                            #swiper
                            autoplay="true"
                            autoplay-delay="5000"
                            autoplay-disableOnInteraction="false"
                            navigation="true"
                            [pagination]="true"
                            [grabCursor]="true"
                            [zoom]="false"
                            [slidesPerView]="1"
                            [centeredSlides]="true"
                            [followFinger]="true" 
                            [loop]="true" 
                            [initialSlide]="0"  
                            *ngIf="post.attachments" class="card-container-content">
                            <ng-container *ngFor="let attachment of post.attachments">
                              <ng-container *ngIf="attachment.photo" >
                                <ng-container *ngFor="let photo of attachment.photo.sizes">
                                  <swiper-slide *ngIf="photo.type === 'x'">
                                    <a href="{{photo.url}}" target="_blank"><img alt="ava" [src]="photo.url"/></a>
                                  </swiper-slide>
                                </ng-container>
                              </ng-container> 
                            </ng-container> 
                          </swiper-container>
        
                          <ng-container *ngIf="post.attachments" class="card-container-content">
                            <ng-container *ngFor="let attachment of post.attachments">
                              <!-- Видео во вложении -->
                              <ng-container *ngIf="attachment.video" >
                                <ion-col class="video_col">
                                      <span class="video-title">{{ attachment.video.title }}</span>
                                      <iframe class="video_content" [src]="attachment.video.owner_id | safeVideoById:attachment.video.id" allow="autoplay; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen width="100%" height="100%"></iframe>
                                      <p>Описание видео: </p>
                                      <app-read-more *ngIf="attachment.video.description" text="{{ attachment.video.description }}"></app-read-more>
                                  </ion-col>    
                              </ng-container>
        
                              <!-- Ссылки во вложении -->
                              <ion-card ng-container *ngIf="attachment.link">
                                <ion-item button detail="true" href="{{ attachment.link.url }}" *ngIf="attachment.link">
                                  <ion-thumbnail slot="start">
                                      <img src="{{attachment.link.photo.sizes[1].url}}"/>
                                  </ion-thumbnail>
                                  <ion-label>
                                    <h3>{{ attachment.link.title }}</h3>
                                    <p>{{attachment.link.caption}}</p>
                                  </ion-label>
                                </ion-item>
                              </ion-card>
                            </ng-container>
                          </ng-container>
                          
                          <ion-footer>
                            <div class="ion-text-end">
                              <ion-button (click)="closeAllModals()" (click)="selectedVkGroupPost(post)" class="ion-margin" [color]="vkGroupPostSelected?.id === post.id ? 'success' : 'medium'">
                                <ion-icon  *ngIf="vkGroupPostSelected?.id === post.id" name="checkmark-outline" slot="start"></ion-icon>
                                {{ vkGroupPostSelected?.id === post.id ? 'Выбрано' : 'Выбрать'}} 
                              </ion-button>
                            </div>  
                          </ion-footer>
                        </ion-card>
                        
                      </ng-container>
                    </ng-container>
                  </div>
                  
                  <ng-template #notSelectedGroup>
                    <ion-row>
                      <ion-list-header>
                        <ion-note color="medium" class="ion-padding-vertical">Вы не выбрали группу, для выбора вернитесь назад и выберите группу (шаг 1)</ion-note>
                      </ion-list-header>
                    </ion-row>
                  </ng-template>


                </ion-content>
            </ng-template>

          </ion-modal>



          <ion-column class="stepThird ion-justify-content-center">

            <ion-col @fade>


              <div class="BtnModalParrent " style="display: flex; align-items: center;">
                        
                <ion-button class="openModalBtn" style="--border-radius:8px;" (click)="openModalGroup()" class="selectGroup">
                  <ion-icon style="margin-right: 1vh;"  name='logo-vk'></ion-icon>
                  Загрузить из поста
                </ion-button>
  
                <div class="descriptionButton">
                  вы можете загрузить описание и изображения из группы вконтакте
                </div>
  
              </div>

              <ion-colum class="timeAndDescription">
                  <div class="descriptionParrent">

                      <ion-col style="width: 80%;" *ngIf="stepCurrency === 2">

                        <ion-item style="width: 60vh;" fill="outline"
                        >
                          <ion-label position="stacked">Об достопримечательности</ion-label>
                            <ion-textarea 
                              formControlName="description" 
                              placeholder="Введите информацию о достопримечательности..." 
                              [autoGrow]="true" 
                              required
                              style="padding-bottom: 8vh;"
                              >
                            
                          </ion-textarea>
            
                          <div class="ion-margin-vertical">
                            <!-- Image Preview -->
                            <ion-row  *ngIf="imagesPreview">
                
                              <ng-container *ngFor="let img of imagesPreview">
                                <ion-col class="imagesPreviewParrent ion-justify-content-center">
                                  <img class="imagesPreview" [src]="img" alt="preview">
                
                                  <ion-button class="deletPrewviewButton" color="danger" expand="block" (click)="deleteFile(img)">
                                    <ion-icon name="trash-bin" slot="start"></ion-icon>
                                  </ion-button>
                
                                </ion-col>    
                              </ng-container>    
                            </ion-row>

                            <ion-row *ngIf="vkGroups && vkGroupPostSelected && vkGroupPostSelected.attachments.length" class="ion-padding-horizontal">
                              <ng-container  *ngFor="let attachment of vkGroupPostSelected.attachments">
                                <ng-conteiner *ngIf="attachment.type === 'photo'">
                
                                  <ng-container *ngFor="let photo of attachment.photo.sizes">
                                    <ion-col *ngIf="photo.type === 'm'" size="4" class="ion-align-self-center ion-justify-content-center">
                                      <img class="imagesPreview" alt="ava" src="{{ photo.url }}" /> 
                                    </ion-col>     
                                  </ng-container>
                
                                </ng-conteiner>
                              </ng-container> 
                            </ion-row>
                          </div>
                     

                        <ion-item style="border-top: 1px solid rgba(85, 84, 84, 0.226);">

                          <ion-button  (click)="filesUpload.click()" style="--background: none; --box-shadow: none;" class="addPhoto">
                            <ion-icon class="addPhotoIcon" style="color: gray;" name="image-outline"></ion-icon>
                          </ion-button>
                        </ion-item>
            
            
                        </ion-item>
                        
                        <div *ngIf="createSightForm.controls['description'].invalid && createSightForm.controls['description'].dirty"  class="validation">
                          <ion-note *ngIf="!createSightForm.controls['description'].hasError('minLength')" color="danger">поле "Об Достопримечательности" должно содержать минимум 10 символа</ion-note>
                        </div>
                        
                       
                      </ion-col>
                  </div>
              </ion-colum>


              <ion-col class="photoMain"  @fade>
                <!-- <ion-label position="floating">Добавление фотографий (*.png, *.jpeg)</ion-label> -->
                <div  class="ion-margin-vertical">
                
                  <input formControlName="files_img" (change)="onFileChange($event)" type="file" name="files[]" accept="image/png, image/jpeg" hidden multiple #filesUpload>
                  
                  <ion-note *ngIf="createSightForm.controls['files_img'].hasError('requiredFileType')" color="danger">Допустимые форматы *.png, *.jpeg</ion-note>
      
                  <!-- Image Preview -->
                 
                </div>
      
          
      
                <ion-row *ngIf="vkGroups && vkGroupPostSelected && !vkGroupPostSelected.attachments.length" class="ion-padding-vertical">
                  <ion-col class="ion-align-self-center ion-justify-content-center">
                    <ion-label color="medium">В выбранном посте нету фотографиий</ion-label>
                  </ion-col> 
                </ion-row>
      
                <!-- <ion-row *ngIf="vkGroups && !vkGroupPostSelected" class="ion-padding-vertical">
                  <ion-col class="ion-align-self-center ion-justify-content-center">
                    <ion-label color="medium">Вы не выбрали пост, невозможно подгрузить фотографии</ion-label>
                  </ion-col> 
                </ion-row> -->
              </ion-col>
    
    
    
    
    
    
                <ion-col size-lg="4" size-md="8" size-xs="12" @fade>
                  <!-- <div *ngIf="createSightForm.hasError('dateInvalid')">
                    <ion-note color="danger"> Время работы или время посещения.</ion-note>
                  </div> -->
                  <ion-list>
                   <ion-item>
                      <ion-label>
                        <h3>Описание времени работы или времени посещения достопримечательности.</h3>
                      </ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-textarea 
                      value="test"
                      formControlName="workTime" 
                      placeholder="..." 
                      [autoGrow]="true" 
                      required
                      >
                      </ion-textarea>
                    </ion-item>
                  </ion-list>
      
        
                </ion-col>

            </ion-col>

          </ion-column>

           
         

       
            



        </ion-row>
        
        <!-- шаг 4  -->
        <ion-row  [hidden]="stepCurrency !== 3" class="ion-justify-content-center">
          <ion-col @fade>
            <!-- <ion-list>
              <ion-item>
                <ion-label><p>Выбран:</p><span>{{city}} </span>,<span> {{region}}</span></ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-searchbar animated="true" placeholder="Введите текст..." [formControl]="searchCityes" (ionChange)="getCityes($event)" (ionClear)="onClearSearch()"  debounce="500" #cityesSearchbar></ion-searchbar>
                <ion-note *ngIf="minLengthCityesListError" color="danger" class="ion-padding-horizontal">минимум 3 символа</ion-note>
                  <ng-container *ngIf="cityesListLoading">
                      <ion-list class="ion-padding-end">
                          <ion-item *ngFor="let key of [1,2,3]">
                              <ion-skeleton-text [animated]="true" style="height: 1rem;" />
                          </ion-item>
                      </ion-list>
                  </ng-container>
                  <ion-item lines="none" *ngIf="!cityesListLoading && !cityesList.length">
                      
                      <ion-lable><h3>Город не найден...</h3></ion-lable>
                  </ion-item>
                  <ion-list>
                    <ion-item *ngFor="let item of cityesList; let i = index" (click)="setCityes(item)" class="search-item" [hidden]="item.location_parent.name === 'РФ'">
                      <ion-label>
                          <h2>{{ item.name }}</h2>
                          <p>{{ item.location_parent.name }}</p>
                      </ion-label>
                    </ion-item>
                  </ion-list>
              </div>
            </ion-list> -->
            <ion-list-header>
              <ion-label>На карте выберите место достопримечательности</ion-label>           
            </ion-list-header>
            <ion-item style="z-index: 10" fill="outline" class="ion-margin-vertical">
              <ion-label position="floating">Поиск по адресу</ion-label>
              <ion-icon name="earth" slot="start"  size="small" color="primary"></ion-icon>
              <ion-input formControlName="address" (ionChange)="clearSearche($event)" id="search-map" type="text" name="search" value="{{this.createSightForm.value.address}}" required></ion-input>
            </ion-item>
  
            <ion-item style="z-index: 1" lines="none">
              <ion-label *ngIf="!locationLoader"><p>Текущий город:</p><span style="width: 100%; ;">{{city}} ({{region}})</span></ion-label>

              <ion-list style="width: 50%" *ngIf="locationLoader">
                <ion-skeleton-text [animated]="true" style="width: 40%"></ion-skeleton-text>
                <ion-skeleton-text [animated]="true" style="width: 100%; height: 1rem;"></ion-skeleton-text>
              </ion-list>
            </ion-item> 

            <div class="map">
              <ya-map (ready)="onMapReady($event)" 
                [zoom]="11"
                (yaclick)=" onMapClick($event)"
                [center]="[56.81497464978607, 61.32053375244141]"
                [state]="{
                  controls: [
                    'zoomControl',
                    'fullscreenControl',]
                  }" 
                [options]="{
                  yandexMapDisablePoiInteractivity: true,
                  maxZoom:18,
                  suppressMapOpenBlock: true,
                  suppressObsoleteBrowserNotifier: true
                }"
              >
              </ya-map>
            </div>
          </ion-col>
        </ion-row>
              
        <!-- шаг 5 -->
        <ion-row style="max-width: 60%; display: flex; margin: 0 auto;"  [hidden]="stepCurrency !== 4" class="ion-justify-content-center">

          <ion-col  @fade>
            <ion-card  *ngFor="let item of createSightForm.controls['price'].value; let i_p = index">
              <ng-container [formGroup]="createSightForm.controls['price'].value[i_p]" >
                <ion-item  fill="">

                  <ion-label position="floating">Стоимость билета {{i_p+1}}</ion-label>
                  <ion-icon name="text-outline" slot="start"  size="small" color="primary"></ion-icon>
                  <ion-input formControlName="cors_rub" type="number" name="price"></ion-input>

                </ion-item>

                <ion-item fiil="" lines="none">
                  <ion-label position="floating">Описание</ion-label>
                  <ion-textarea formControlName="description" type="text" name="price"></ion-textarea>
                </ion-item>
              </ng-container>

             
                <ion-chip color="danger" (click)="deletePrice(i_p)">Удалить
                  <!-- <ion-icon name="close-outline"></ion-icon> -->
                </ion-chip>
           
            </ion-card>
            
            <ion-chip style="margin-bottom: 2rem;" color="primary" class="ion-justify-item-center" (click)="addPrice()">
              <ion-label>Добавить цену</ion-label>
              <ion-icon name="add-outline"></ion-icon>
            </ion-chip>


            <ion-col size-lg="4" size-md="8" size-xs="12" @fade>
              <ion-item fill="outline">
                <ion-label position="floating" class="position-label-inside">Доп. материалы</ion-label>
                <ion-textarea formControlName="materials" placeholder="Cсылки на фото, пост вк, оплату билетов и.т.д..." [autoGrow]="true"></ion-textarea>
              </ion-item>
            </ion-col>


            <ion-col>
              <ion-list>
                <ion-radio-group formControlName="status" (ionChange)="selectedStatus($event)" [value]="statusSelected" required>
                  <ng-container *ngIf="!statusesLoaded">
                    <ng-container *ngFor="let key of [1,2,3,4,5]">
                      <ion-item>
                        <ion-avatar>
                          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                        </ion-avatar>
                        <ion-label class="ion-padding-start">
                          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                        </ion-label>
                      </ion-item>
                    </ng-container>
                  </ng-container>
    
                  <ng-container *ngIf="statusesLoaded">
                    <ng-container *ngFor="let status of statuses">
                      <ion-item *ngIf="status.name === 'На модерации'">
                        <ion-icon name="checkmark-done" slot="start" color="success" size="large"></ion-icon>
                        <ion-label>Отправить на модерацию</ion-label>
                        <ion-radio slot="end" [value]="status.id"></ion-radio>
                      </ion-item>
                      <ion-item *ngIf="status.name === 'Черновик'">
                        <ion-icon name="create" slot="start" color="medium" size="large"></ion-icon>
                        <ion-label>Оставить в черновиках</ion-label>
                        <ion-radio slot="end" [value]="status.id"></ion-radio>
                      </ion-item>
                    </ng-container>
                  </ng-container>
                  
                </ion-radio-group>
              </ion-list>
            </ion-col>
        

          </ion-col>

      

          

        </ion-row>
        
        
  
         <!-- Десктопный блок кнопок -->
        
  
        <!-- Фиксированный блок кнопок для мобилы-->
        <div class="buttons-mobile">
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button *ngIf="stepCurrency !== stepStart"  (click)="stepPrev()" expand="block"><ion-icon name="chevron-back" slot="start"></ion-icon>Назад</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button *ngIf="stepCurrency !== steps"  (click)="stepNext()" expand="block">Далее <ion-icon name="chevron-forward" slot="end"></ion-icon></ion-button>
              <ion-button *ngIf="stepCurrency == steps - 1" type="submit" [disabled] ="createSightForm.invalid || createSightForm.disabled" expand="block"><ion-icon name="checkmark-done-outline" slot="start"></ion-icon>Готово</ion-button>
            </ion-col>     
          </ion-row>
        </div>
  
      </form>
    </ion-grid>
  
  </ion-content>