<app-create-rules-modal [agreement_id]="2"></app-create-rules-modal>
<ion-content>
  <app-second-header>
    <app-circle-button (click)="stepPrev()" icon="/assets/icons/arrow.svg" ></app-circle-button>
    <span class="header-title">
      Создать
    </span>
    <app-circle-button icon="/assets/icons/question.svg"></app-circle-button>
  </app-second-header>
  <div class="main-content">
    <app-step-container [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency">

      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="1">
          
      </app-step-container-item>

      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="2">

      </app-step-container-item>

      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="3">

      </app-step-container-item>

      <app-step-container-item [maxStepsCount]="maxStepsCount" [stepCurrency]="stepCurrency" stepNum="4">

      </app-step-container-item>

    </app-step-container>
  </div>

</ion-content>

