<ion-content>
  <app-menu-auth-sidebar></app-menu-auth-sidebar>

  <div *ngFor="let item of menuPublic">
  
    <div *ngIf="item.children?.length > 0;  else itemMenu">
      <ion-accordion-group expand="inset">
        <ion-accordion  value="first">
          <ion-item slot="header" [ngClass]="{ 'active': isLChildLinkActive() }">
            <ion-icon name="{{ item.icon }}" color="primary" slot="start"></ion-icon>            
            <ion-label>{{ item.title }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-menu-toggle>
              <ion-item 
                lines="none"
                *ngFor="let child of item.children" 
                [routerLink]="[ child.route ]"
                [routerLinkActive]="['active']"
              >
                  <ion-icon name="{{ child.icon }}" slot="start" color="medium"></ion-icon> 
                  <ion-label>{{ child.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
    
  
    <ng-template #itemMenu>
      <ion-menu-toggle>
        <ion-list lines="none">
          <ion-item [routerLink]="[ item.route ]" [routerLinkActive]="['active']" detail="false" mode='md'>             
            <ion-icon name="{{ item.icon }}"  slot="start" color="danger"></ion-icon>  
            <ion-label>{{ item.title}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ng-template>                     
  
  </div>
  <ion-menu-toggle>
    <ion-list lines="none" class="logout">
      <ion-item (click)="onLogout()" detail="false" mode='md'>             
        <ion-icon name="log-out"  slot="start" color="primary"></ion-icon>  
        <ion-label>Выход</ion-label>
      </ion-item>
    </ion-list>
  </ion-menu-toggle>
</ion-content>






<!-- <ion-content>
  <ion-menu-toggle auto-hide="false">
    <ion-list lines="none">
      <ion-item [routerLink]="'/'">
        <ion-icon name="home" slot="start"></ion-icon>
        Home
      </ion-item>
      <ion-item routerLink="todos">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>
          Todos
        </ion-label>
      </ion-item>
      <ion-item routerLink="finance">
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-label>
          Finance
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-menu-toggle> -->
  <!-- <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
    <ion-icon name="notifications" slot="start"></ion-icon>
    Remainder
    <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
  </ion-item>

  <ion-menu-toggle auto-hide="false">
    <ion-list lines="none">
      <ion-item menuclose [hidden]="!isRemainder" [routerLink]="['/notifications']"
        [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
        <ion-icon name="calendar" slot="start"></ion-icon>
        Birthdays
      </ion-item>
    </ion-list>
  </ion-menu-toggle> -->
<!-- </ion-content> -->