
<ion-content [fullscreen]="true">
    <app-second-header size="">
        <app-back-button></app-back-button>
        <span class="header-title">
          Моя локация
        </span>
        <app-circle-button  style="opacity: 0;"icon=""></app-circle-button>
    </app-second-header>
  <div class="main">
    <label class="label" for="Адрес">Адрес</label>
    <input #input value="{{address}}" id="search-map-" placeholder="Поиск адреса" type="" name="Адрес" class="standart-input" name="new_name">
    <button type="button" (click)="clearInput(input)" class="clear-input">
      <img class="clear-input__img" src="/assets/icons/close.svg" alt="">
    </button>
    <div class="map">
      <ya-map
      (ready)="onMapReady($event)"
      id="map"
      [center]="coords"
      (yaclick)="onMapClick($event)"
      [state]="{controls: ['zoomControl',]}"
      [options]="{
        yandexMapDisablePoiInteractivity: true,
        suppressMapOpenBlock: true,
        suppressObsoleteBrowserNotifier: true,
        autoFitToViewport: 'always',
      }"
      >
        <ya-clusterer>
        </ya-clusterer>
      </ya-map>
    </div>
    <div class="save-button_wrapper">
      <app-standart-button (click)="saveCoords()" buttonText="Сохранить" theme="standart"></app-standart-button>
      <app-standart-button  buttonText="Отмена" theme="light"></app-standart-button>
    </div>
  </div>
  
</ion-content>

<ion-footer >
  
    <!-- <div class="select-address">
        <div class="select-address__item_top">
          Домашний адрес
          <div class="save-button">
            <app-standart-button (click)="saveCoords()" buttonText = "Сохранить" type="button" theme ="light"></app-standart-button>
          </div>
        </div>
        <div class="select-address__item_bottom">
          <div class="address-circle"></div> {{address}}
        </div>
    </div> -->

</ion-footer>