<div class='user-section-main'>
  
  <ng-container *ngIf="!user && !organization">
    <ion-skeleton-text [animated]="true" class="user-section-image-scleton"></ion-skeleton-text>
    <div class="user-section-info">
        <ion-skeleton-text [animated]="true" class="user-section-name-sceleton"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" class="user-section-email-sceleton"></ion-skeleton-text>
    </div>
  </ng-container>

    <ng-container *ngIf="user">
      <img src="{{avatarUrl}}" *ngIf="user.avatar"  class="user-section-image" >
      <div *ngIf="!user.avatar" class="user-section-image"></div>
      <div class="user-section-info">
        <ng-container *ngIf="type !== 'button'">
          <div class="user-section-name">{{user.name}}</div>
          <div class="user-section-email">{{user.email}}</div>
        </ng-container>
          <button class="user-section-button" (click)="click()" *ngIf="type === 'button' && buttonText">{{buttonText}}</button>
      </div>
    </ng-container>

    <ng-container *ngIf="organization">
      <div (click)="emitOrganization(organization)" class="user-section-main_organization">
        <img src="{{avatarUrl}}" *ngIf="organization.files[0] && organization.files[0].link !== '' "  class="user-section-image" >
        <div *ngIf="!organization.files[0] || organization.files[0].link === '' " class="user-section-image"></div>
        <div class="user-section-info">
            <div class="user-section-name__organization">{{organization.name}}</div>
            <div *ngIf="!organization.types" class="category-plug">Нет категорий</div>
        </div>
        <!-- <button class="organization-like-button" (click)="click()">{{buttonText}}</button> -->
      </div>
    
  </ng-container>
</div>
