
<ion-segment #ionSegment style="padding: 60px;" value="{{segment}}">
  <ion-segment-button (click) = "segmentClick($event)" value="1">
    <ion-label>1</ion-label>
  </ion-segment-button>

  <ion-segment-button style="transition:linear;" (click) = "segmentClick($event)" value="2">
    <ion-label>2</ion-label>
  </ion-segment-button>

  <ion-segment-button (click) = "segmentClick($event)" value="3">
    <ion-label>3</ion-label>
  </ion-segment-button>

  <ion-segment-button (click) = "segmentClick($event)" value="4">
    <ion-label>4</ion-label>
  </ion-segment-button>

  <ion-segment-button (click) = "segmentClick($event)" value="5">
    <ion-label>5</ion-label>
  </ion-segment-button>
  
 
</ion-segment>



<ion-content >
  
  <ion-column style="display: flex; justify-content: center; width: 100%;" *ngIf="loadSight">
   

      <ion-column>

        <ion-button *ngIf="segment !==1" (click) = "backStage()">Назад</ion-button>
        <ion-button (click) = "nextStage()">Далее</ion-button>
        <ion-button (click) = "edditSight()">Проверить запрос</ion-button>
        <form [formGroup] = "edditForm">
          <!-- Шаг первый -->
          <ion-column [hidden] = "segment !== 1">

            <ion-label>Организатор</ion-label>
            <ion-input disabled="true" value="{{sight.sponsor}}" style="background-color: #fff; border: 1px solid #707070; border-radius: 20px;"></ion-input>

            <ion-label>Название достопримечательности</ion-label>
            <ion-input  formControlName="nameSight"  value="{{sight.name}}" style="background-color: #fff; border: 1px solid #707070; border-radius: 20px;"></ion-input>
    
            <ion-label>Об достопримечательности</ion-label>
            <ion-textarea formControlName = "descriptionSight" value="{{sight.description}}" style="background-color: #fff; border: 1px solid #707070; border-radius: 20px;"></ion-textarea>
          </ion-column>
          <!-- Шаг второй -->
          <ion-radio-group formControlName="types">

            <ion-column [hidden] = "segment !== 2">
              <app-sight-type [typesNow]="typesNow"  [types]="types" [isSight]="true"></app-sight-type>
            </ion-column>
            
          </ion-radio-group>
          
          <!-- Шаг третий -->

          <ion-column  [hidden] = "segment !== 3">

            <app-sight-gallery *ngIf="sightFiles" [files]="sightFiles"></app-sight-gallery>
           
          </ion-column>
          <!-- Шаг четвёртый -->

          <ion-column [hidden] = "segment !== 4">
            <ion-label>Описание времени работы</ion-label>
            <ion-input disabled="false" value="{{sight.work_time}}" style="background-color: #fff; border: 1px solid #707070; border-radius: 20px;"></ion-input>

              <ion-label>Выбрано {{sight.address}}</ion-label>
              <div class="map">
                cggfg
                <ya-map 
                    (ready)="onMapReady($event)"
                    [zoom]="15"  
                    [center]="[place.latitude, place.longitude]"
                    [state]="{controls: ['zoomControl','fullscreenControl']}"
                    [options]="{
                      yandexMapDisablePoiInteractivity: true,
                      minZoom:1,
                      maxZoom:18,
                      suppressMapOpenBlock: true,
                      suppressObsoleteBrowserNotifier: true
                    }">
                </ya-map>
              </div>
          </ion-column>

          <!-- Шаг пятый -->

          <ion-column [hidden] = "segment !== 5">

            <ion-label>Шаг 5</ion-label>
            <ion-input style="background-color: #fff; border: 1px solid #707070; border-radius: 20px;"></ion-input>
    
            <ion-label>Об достопримечательности</ion-label>
            <ion-textarea style="background-color: #fff; border: 1px solid #707070; border-radius: 20px;"></ion-textarea>
          </ion-column>


        </form>



      </ion-column>
      
    
  </ion-column>


</ion-content>