/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';


/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ion-content{
//     --padding-top: 110px !important;
//     --padding-bottom: 65px !important;
// }

ion-toolbar {
    --padding-bottom: 0px !important;
    .toolbar-container {
        --padding-bottom: 0px !important;
    }
}

.alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
 }
 
.alert-radio-label.sc-ion-alert-ios {
     white-space: pre-line !important;
}
 
@media screen and (min-width: 0px) and (max-width: 768px) {
    ion-content{
        --padding-top:  3.5em;
        --padding-bottom: 3.5rem;   
    }

    // ion-content.md{
    //     --padding-top: 6rem;
    // }

    // ion-content.ios{
    //     --padding-top: 5.5rem;
    // }

    ion-datetime{
       width: auto !important;
    }

    ion-label{
        white-space: pre-line !important;
    }
   
}
  
@media screen and (min-width: 768px)  {
    ion-content{
        --padding-top: 4rem;
        --padding-bottom: 1rem;
    }
}