/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';


/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
	font-family: 'Montserrat-Thin';
	src: url('./assets/fonts/Montserrat-Thin.ttf');
}

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'NunitoSans-Italic';
  src: url('./assets/fonts/NunitoSans-Italic.ttf');
}
@font-face {
  font-family: 'NunitoSans';
  src: url('./assets/fonts/NunitoSans.ttf');
}


@font-face {
  font-family: 'NunitoSans-SemiBold';
  src: url('./assets/fonts/NunitoSans-SemiBold.ttf');
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('./assets/fonts/Montserrat-Light.ttf');
}

:root {
    --orange-color: #f7ab31;
    --orange-filter: brightness(0) saturate(100%) invert(76%) sepia(67%) saturate(4165%) hue-rotate(2deg) brightness(104%) contrast(108%);
    --blue-color:#3880FF;
    --blue-light-color:#DCE9FF;
    --blue-filter: invert(42%) sepia(79%) saturate(2572%) hue-rotate(204deg) brightness(100%) contrast(104%)
    --white-filter: invert(100%) sepia(8%) saturate(7472%) hue-rotate(199deg) brightness(103%) contrast(114%);
}
@font-face {
	font-family: 'NunitoSans-Regular';
	src: url('./assets/fonts/NunitoSans-Regular.ttf');
}

@font-face {
	font-family: 'NunitoSans-SemiBold';
	src: url('./assets/fonts/NunitoSans-SemiBold.ttf');
}

@font-face {
    font-family: "NunitoSans-SemiBold";
    src: url('/assets/fonts/static/NunitoSans_7pt-SemiBold.ttf');
}
@font-face {
    font-family: "NunitoSans-Bold";
    src: url('/assets/fonts/static/NunitoSans_7pt-Bold.ttf');
}
@font-face {
    font-family: "NunitoSans-Regular";
    src: url('/assets/fonts/static/NunitoSans_7pt-Regular.ttf');
}



:root{
    --font-bold:'NunitoSans-Bold';
    --font-regular:'NunitoSans-Regular';
    --font-color:#4C5861;
    --font-color-dark:#1C2226;
}

ion-content {
  // overwrite inline styles
  // --offset-bottom: 85%!important;
  --overflow:auto;
  overflow: auto;
  --background: #FAFAFA;

}

body {
    background-color: #edeef0;
}
.pb-1-5rem{
    padding-bottom: 1.5rem;
}

.pb-2rem{
    padding-bottom: 2rem;
}

.mb-3-5rem{
    margin-bottom: 3.5rem;
}

.mb-6-5rem{
    margin-bottom: 6.5rem;
}
ion-list {
    font-family: 'Montserrat-regular';
    font-size: 1rem;
}

ion-content {

}

ion-item-divider{
    background-color: #fff;
}
ion-label{
    background:none;
}
ion-toolbar {
    --padding-bottom: 0px !important;
    .toolbar-container {
        --padding-bottom: 0px !important;
    }
}

.alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
 }

.alert-radio-label.sc-ion-alert-ios {
     white-space: pre-line !important;
}

.marker-ico {
  margin:auto;
  transform: rotate(0);
}
ion-content{
    background: #fff;
    --padding-top: var(--ion-safe-area-top, 0);
}

.cluster {
    font-size: 0.75rem;
    // background-color: var(--orange-color);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 36px;
    height: 36px;
    border: 3px solid white;
    border-radius: 50%;
}

.marker {
    transition: all 1s ease;
    position: absolute;
    width: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border: 2px solid white;
    border-radius: 100%;
    transform: rotate(-45deg);
    margin:-15px 0px 0px -10px;
}

.marker.event {
  background: var(--orange-color);
}

.marker.sight {
  background-color: var(--blue-color);
}

.marker > img {
  width: 16px;
  height: 14px;
  transform: rotate(45deg);
}

.marker-icon {
  background-image: url('/assets/icons/ticket.svg');
}

.test {

}

.marker.now {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    box-shadow: -2px 2px 2px #aaaaaa;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    background: var(--blue-color);
    margin:-15px 0px 0px -10px;
}

.marker.now:after{
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    rotate: 90deg;
    box-shadow: 1px 1px 1px 1px #89849b;
    animation-delay: 1.1s;
}
.marker.now > img {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 53%;
  filter: invert(63%) sepia(65%) saturate(6812%) hue-rotate(205deg) brightness(100%) contrast(103%);
  transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes fadeIn {
  0% {
    width: 36px;
    height: 36px;
  }

  50% {
    width: 39px;
    height: 39px;
  }

  100% {
    width: 36px;
    height: 36px;
  }
}

.marker.active {
    animation: fadeIn 2s infinite;
}

.cluster.active {
  animation: fadeIn 2s infinite;
}

.marker.active > img {
  width: 24px;
  height: 18px;
  transform: rotate(45deg);
}

.marker:after{
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    //animation: pulsate 1s ease-out;
    //animation-iteration-count: infinite;
    opacity: 0.0;
    rotate: 90deg;
    box-shadow: 1px 1px 1px 1px #89849b;
    animation-delay: 1.1s;
}


swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #ffaf38);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    height: 14rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2%;
    }
}
// убираем стрелки у input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inner-scroll{
    background-color: red;
    padding: 0;
  }
@keyframes pulsate{
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {


    // ion-content.md{
    //     --padding-top: 6rem;
    // }

    // ion-content.ios{
    //     --padding-top: 2.5rem;
    // }

    ion-datetime{
       width: auto !important;
    }

    ion-label{
        white-space: pre-line !important;
    }

}

@media screen and (min-width: 1060px)  {
    ion-content{
        --padding-top: 4rem;
        --padding-bottom: 1rem;
    }

    // ion-modal{
    //     &::part(content){
    //         // --width: 80vh;
    //         // --height: 80vh;
    //         --width: 60%;
    //         --height: 90%;
    //         // --min-height: 80vh;
    //         // --min-width: 80vh;
    //     }
    // }
}

//Стили для проекта от Weqil


//Стиль для стандратного текста
.simple-text{
    font-family: 'Montserrat-Light';
    line-height: 1.5;
}
.carusel-wrapper_flex{
   transition: 0.5s;
   transform: translateY(-10%);
   width: 100%;
   position: fixed;
   z-index: 10000;
}
.carusel-wrapper_flex__type{
   transition: 0.5s;
   transform: translateY(-15%);
   width: 100%;
   position: fixed;
   z-index: 10000;
}

.first-header{
    font-family:Montserrat-SemiBold;
    color: #000000;
    font-size: 48px;
}

.second-header{
    font-family:Montserrat-SemiBold;
    color: #000000;
    font-size: 36px;
}
.last-header{
    font-family:Montserrat-SemiBold;
    color: #000000;
    font-size: 22px;
}
.last-header_regular{
    font-family:Montserrat-Regular;
    color: #000000;
    font-size: 24px;
}
.last-header_regular_small{
    font-family:Montserrat-Regular;
    color: #000000;
    font-size: 18px;
}
.last-header_small{
    font-family:Montserrat-SemiBold;
    font-size: 16px;
}



