<div style="width: 100%;">
  <div class="input-container">
    <div  [ngClass]="inputWrapperClass">
      <div #closeButton [ngClass]="closeButtonClass">
        <app-circle-button (click)="emitState()" icon="/assets/icons/arrow.svg"></app-circle-button>
      </div>
      <input #input value={{value}} class="search-input" inputmode ="search" placeholder="Поиск">
      <div [ngClass]="searchButtonClass" (click)="emitStateInButton()" class="search-button">
        <img src="/assets/icons/search.svg" alt="">
      </div>
    </div>
  </div>
  
</div>

