.search-input{
  padding-left: 1rem;
  opacity: 1;
  transform: scaleX(1); /* Разворачиваем элемент по горизонтали */
  width: 100%; /* Устанавливаем ширину только при открытии */
  transform-origin: right;
  border-radius: 100px;
  height: 2rem;
  padding-inline-start: 0.875rem;
  padding-inline-end:2.2rem ;
  font-family: var(--font-regular);
  outline: none;
  border: none;
  opacity: 1;
  display: block;
  font-size: 0.75rem;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.5s ease;
  color:#1C2226 ;
}

.search-icon_active{
  position: absolute;
  right: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}
.input-wrapper{
  justify-content: end;
  align-items: end;
  display: contents;
  width:100%;
  transition: 0.5s all;
}
.input-wrapper_litle{
  justify-content: end;
  align-items: end;
  display: flex;
  display: contents;
  width:100%;
  transition: 0.3s all;
  .search-input{
    opacity: 0;
    transform: scaleX(0); /* Сжатие по горизонтали */
    transform-origin: right;
    transition: opacity 0.3s ease, transform 0.5s ease;
    height: 2rem;
    padding-inline-start: 0rem;
    padding-inline-end:0rem ;
    font-family: var(--font-regular);
    outline: none;
    border: none;
    border-radius: 100px;
    display: block;
    font-size: 0rem;
    color:#1C2226 ;
  }
}

.search-button{
    position: absolute;
    display: flex;
    justify-content: center;
    transition: 0.2s all;
    align-items: center;
    border-radius: 50%;
    right:clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
    background-color: #fff;
    width: 2rem;
    height: 2rem;
}
.search-button_active{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    transform: scale(1);
    top: 0.7rem;
    border-radius:50%;
    right:clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
    background-color: #fff;
    width: 3rem;
    height:3rem;
}
.input-container{
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding-left: 0rem;
  padding-right: 1rem;
  justify-content: end;
  align-items: end;
}

.close-button{
  opacity: 0;
  transition: 0.2s;
}
.close-button_active{
  opacity: 1;
  transition: 0.2s;
}