.main-conteiner_collapsed {
  margin-top: 1rem;

  font-family: 'Montserrat-Light';
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.main-conteiner {
  margin-top: 1rem;

  font-family: 'Montserrat-Light';
  line-height: 1.5;
}

.about-button {
  font-family: 'Montserrat-Regular';
  line-height: 1.5;
  margin-right: -1rem;
  background: none;
  color: #0066ff;
}
